In [1]:
print('Hello World!')

Hello World!

# Using Pandas

In [4]:
import os
import sys
import datetime as datetime
import pandas as pd
import numpy as np

In [5]:
pd.__version__

'1.5.3'

In [8]:
!ls ../data/*.csv

../data/2020_sharing_data_outside.csv  ../data/olympic_athlete_events.csv
../data/CPILFESL.csv		       ../data/san+francisco,ca.csv
../data/albany,ny.csv		       ../data/sat-scores.csv
../data/boston,ma.csv		       ../data/skyscrapers.csv
../data/burrito_current.csv	       ../data/springfield,il.csv
../data/celebrity_deaths_2016.csv      ../data/springfield,ma.csv
../data/chicago,il.csv		       ../data/taxi-distance.csv
../data/eu_cpi.csv		       ../data/taxi-passenger-count.csv
../data/eu_gdp.csv		       ../data/taxi.csv
../data/ice-cream.csv		       ../data/titanic3.csv
../data/languages.csv		       ../data/us-median-cpi.csv
../data/los+angeles,ca.csv	       ../data/us-unemployment-rate.csv
../data/miles-traveled.csv	       ../data/us_gdp.csv
../data/new+york,ny.csv		       ../data/winemag-150k-reviews.csv
../data/oecd_locations.csv	       ../data/wti-daily.csv
../data/oecd_tourism.csv

In [12]:
# load data
input_file = r'../data/taxi.csv'
df = pd.read_csv(input_file)
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30

In [11]:
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,1.516652,1.659466,3.158511,-73.014956,40.226521,1.045105,-73.054699,40.248644,1.407741,14.415892,0.118212,0.497450,1.818059,0.400433,0.299790,17.552472
std,0.499748,1.333306,4.037516,8.347871,4.599169,0.302132,8.186847,4.510520,0.501911,12.442624,0.214794,0.037667,2.634469,1.665170,0.010816,15.137990
min,1.000000,0.000000,0.000000,-74.186302,0.000000,1.000000,-74.277367,0.000000,1.000000,-7.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-7.800000
25%,1.000000,1.000000,1.000000,-73.990997,40.738556,1.000000,-73.990261,40.738478,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.700000,-73.979774,40.755909,1.000000,-73.978256,40.756340,1.000000,10.500000,0.000000,0.500000,1.000000,0.000000,0.300000,12.800000
75%,2.000000,2.000000,3.300000,-73.963001,40.770012,1.000000,-73.961311,40.771044,2.000000,17.000000,0.000000,0.500000,2.460000,0.000000,0.300000,19.800000
max,2.000000,6.000000,64.600000,0.000000,41.064606,5.000000,0.000000,41.137344,4.000000,250.000000,1.000000,0.500000,42.050000,70.000000,0.300000,252.350000

In [23]:
cols = df.columns[:5]
df[cols]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40
...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80

In [49]:
sample_frac = 1.0

df.sample(frac=sample_frac)[['trip_distance','passenger_count']].agg(['count','mean','median','var','std','min','max'])

        trip_distance  passenger_count
count     9999.000000      9999.000000
mean         3.158511         1.659466
median       1.700000         1.000000
var         16.301536         1.777704
std          4.037516         1.333306
min          0.000000         0.000000
max         64.600000         6.000000

In [51]:
df.sample(n=5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
4284,1,2015-06-01 00:01:12,2015-06-01 00:06:01,1,0.80,-73.955688,40.779354,1,N,-73.953667,40.787720,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
5670,2,2015-06-04 15:17:31,2015-06-04 16:14:55,1,15.10,-73.862633,40.768890,1,N,-74.005432,40.715450,1,49.5,0.0,0.5,11.17,5.54,0.3,67.01
2250,2,2015-06-02 11:26:58,2015-06-02 12:23:08,1,5.15,-73.982170,40.764633,1,N,-74.013992,40.713829,1,33.5,0.0,0.5,6.86,0.00,0.3,41.16
1589,1,2015-06-02 11:24:48,2015-06-02 11:43:33,2,2.30,-73.987961,40.769871,1,N,-73.954735,40.767250,2,13.0,0.0,0.5,0.00,0.00,0.3,13.80
7186,2,2015-06-04 15:22:33,2015-06-04 15:36:44,1,1.23,-73.970749,40.758671,1,N,-73.957764,40.761269,1,10.0,0.0,0.5,2.16,0.00,0.3,12.96

In [57]:
cols = ['total_amount']
df[cols].agg(['count','mean','median','var','std','min','max'])
# df[cols].describe()
# mean > median.. this indicates the total_amount values are skewed to the right

        total_amount
count    9999.000000
mean       17.552472
median     12.800000
var       229.158735
std        15.137990
min        -7.800000
max       252.350000

KeyError: (1, 10)