In [1]:
dates = ['0520', '0521', '0522', '0523', '0524' ,'0525', '0526', '0527', '0528', '0529']

In [2]:
temperate = [ 20, 21, 22, 23, 24, 25, 26, 27 ,28, 28 ]

In [3]:
import pandas as pd
s = pd.Series(temperate, index=dates)

In [4]:
s

0520    20
0521    21
0522    22
0523    23
0524    24
0525    25
0526    26
0527    27
0528    28
0529    28
dtype: int64

In [10]:
df = pd.DataFrame(temperate, index = dates)
df

       0
0520  20
0521  21
0522  22
0523  23
0524  24
0525  25
0526  26
0527  27
0528  28
0529  28

In [12]:
df.reset_index()

  index   0
0  0520  20
1  0521  21
2  0522  22
3  0523  23
4  0524  24
5  0525  25
6  0526  26
7  0527  27
8  0528  28
9  0529  28

In [15]:
mask = (df.index =='0522') | (df['A']=='b')df.index == '0522' || df.index == '0525'

SyntaxError: invalid syntax (1869236575.py, line 1)