In [1]:
dates = ['0520', '0521', '0522', '0523', '0524' ,'0525', '0526', '0527', '0528', '0529']

In [2]:
temperate = [ 20, 21, 22, 23, 24, 25, 26, 27 ,28, 28 ]

In [3]:
import pandas as pd
s = pd.Series(temperate, index=dates)

In [4]:
s

0520    20
0521    21
0522    22
0523    23
0524    24
0525    25
0526    26
0527    27
0528    28
0529    28
dtype: int64

In [10]:
df = pd.DataFrame(temperate, index = dates)
df

       0
0520  20
0521  21
0522  22
0523  23
0524  24
0525  25
0526  26
0527  27
0528  28
0529  28

In [20]:
df2 = df.reset_index()

In [17]:
mask = (df.index =='0522') | (df.index =='0525')
mask

array([False, False,  True, False, False,  True, False, False, False,
       False])

In [18]:
df[(df.index =='0522') | (df.index =='0525')]

       0
0522  22
0525  25

In [23]:
df2.set_index('index').loc[['0522','0525']]

        0
index
0522   22
0525   25

In [25]:
df3 = s.reset_index()

In [27]:
df3[0].loc[(df.index =='0522') | (df.index =='0525')]

2    22
5    25
Name: 0, dtype: int64