In [1]:
dates = ['0520', '0521', '0522', '0523', '0524' ,'0525', '0526', '0527', '0528', '0529']

In [2]:
temperate = [ 20, 21, 22, 23, 24, 25, 26, 27 ,28, 28 ]

In [3]:
import pandas as pd
s = pd.Series(temperate, index=dates)

In [4]:
s

0520    20
0521    21
0522    22
0523    23
0524    24
0525    25
0526    26
0527    27
0528    28
0529    28
dtype: int64

In [10]:
df = pd.DataFrame(temperate, index = dates)
df

       0
0520  20
0521  21
0522  22
0523  23
0524  24
0525  25
0526  26
0527  27
0528  28
0529  28

In [20]:
df2 = df.reset_index()

In [17]:
mask = (df.index =='0522') | (df.index =='0525')
mask

array([False, False,  True, False, False,  True, False, False, False,
       False])

In [18]:
df[(df.index =='0522') | (df.index =='0525')]

       0
0522  22
0525  25

In [23]:
df2.set_index('index').loc[['0522','0525']]

        0
index
0522   22
0525   25

In [25]:
df3 = s.reset_index()

In [27]:
df3[0].loc[(df.index =='0522') | (df.index =='0525')]

2    22
5    25
Name: 0, dtype: int64

In [31]:
s = pd.Series([10,20,30,40,50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [60]:
s = pd.Series([10,2,3,4,5,6,7,8,9,100], index = ['a','b','c','d','e','f','g','h','i','j'], dtype=np.int8)
s

a     10
b      2
c      3
d      4
e      5
f      6
g      7
h      8
i      9
j    100
dtype: int8

In [61]:
s.loc[ ['a', 'j' ] ] * 1000

a    10000
j   -31072
dtype: int16

In [48]:
import numpy as np
fs.head()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [52]:
fs = pd.Series(range(1,10),dtype=np.float16)
fs.tail()

4    5.0
5    6.0
6    7.0
7    8.0
8    9.0
dtype: float16

In [53]:
s.loc['a'] *= 100
s

/tmp/ipykernel_4102672/1455307916.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '100000' has dtype incompatible with int16, please explicitly cast to a compatible dtype first.
  s.loc['a'] *= 100

a    100000
b      2000
c      3000
d      4000
e      5000
f      6000
g      7000
h      8000
i      9000
j     10000
dtype: int32

In [67]:
s = pd.Series([12.34, 56.78, 24.68], dtype=np.float16)
s

0    12.34375
1    56.78125
2    24.68750
dtype: float16

In [ ]:
s.astype(np.float