In [1]:
dates = ['0520', '0521', '0522', '0523', '0524' ,'0525', '0526', '0527', '0528', '0529']

In [2]:
temperate = [ 20, 21, 22, 23, 24, 25, 26, 27 ,28, 28 ]

In [3]:
import pandas as pd
s = pd.Series(temperate, index=dates)

In [4]:
s

0520    20
0521    21
0522    22
0523    23
0524    24
0525    25
0526    26
0527    27
0528    28
0529    28
dtype: int64

In [10]:
df = pd.DataFrame(temperate, index = dates)
df

       0
0520  20
0521  21
0522  22
0523  23
0524  24
0525  25
0526  26
0527  27
0528  28
0529  28

In [20]:
df2 = df.reset_index()

In [17]:
mask = (df.index =='0522') | (df.index =='0525')
mask

array([False, False,  True, False, False,  True, False, False, False,
       False])

In [18]:
df[(df.index =='0522') | (df.index =='0525')]

       0
0522  22
0525  25

In [23]:
df2.set_index('index').loc[['0522','0525']]

        0
index
0522   22
0525   25

In [25]:
df3 = s.reset_index()

In [27]:
df3[0].loc[(df.index =='0522') | (df.index =='0525')]

2    22
5    25
Name: 0, dtype: int64

In [31]:
s = pd.Series([10,20,30,40,50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [35]:
s = pd.Series([1,2,3,4,5,6,7,8,9,10], index = ['a','b','c','d','e','f','g','h','i','j'], dtype='int8')
s

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int8

In [41]:
s = s * 1000
s

a   -13824
b   -31616
c   -14656
d     2304
e    19264
f   -29312
g   -12352
h     4608
i    21568
j   -27008
dtype: int16