In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([70,71,72,73,74,75,76,77,78,79,80])

In [4]:
s

0     70
1     71
2     72
3     73
4     74
5     75
6     76
7     77
8     78
9     79
10    80
dtype: int64

In [9]:
s.index = ['0520','0521','0522','0523','0524','0525','0526','0527','0528','0529','0530']

In [10]:
s

0520    70
0521    71
0522    72
0523    73
0524    74
0525    75
0526    76
0527    77
0528    78
0529    79
0530    80
dtype: int64

In [11]:
df = s.reset_index()

In [12]:
df

   index   0
0   0520  70
1   0521  71
2   0522  72
3   0523  73
4   0524  74
5   0525  75
6   0526  76
7   0527  77
8   0528  78
9   0529  79
10  0530  80

In [13]:
df2 =df.set_index('index')

In [14]:
df2

        0
index
0520   70
0521   71
0522   72
0523   73
0524   74
0525   75
0526   76
0527   77
0528   78
0529   79
0530   80

In [20]:
df2.loc[['0522', '0525']]

        0
index
0522   72
0525   75

In [16]:
df2.loc['0525']

0    75
Name: 0525, dtype: int64

In [17]:
s.array

<NumpyExtensionArray>
[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80]
Length: 11, dtype: int64

In [18]:
s.size

11

In [19]:
s['0522']

72

In [27]:
    s2 = pd.Series([0,1,2,3,4,5,6,7,8,9], dtype=np.int32)

In [28]:
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [31]:
s2.index = ['a','b','c','d','e','f','g','h','i','j']

In [32]:
s2

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

In [33]:
s2

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

In [34]:
s2 * 1000

a       0
b    1000
c    2000
d    3000
e    4000
f    5000
g    6000
h    7000
i    8000
j    9000
dtype: int32

In [37]:
fs = pd.Series([1.1,1.2,1,3,1.4], dtype = np.float64)

In [39]:
fs.index = ['a','b','c','d','e']

In [40]:
fs

a    1.1
b    1.2
c    1.0
d    3.0
e    1.4
dtype: float64