In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([70,71,72,73,74,75,76,77,78,79,80])

In [4]:
s

0     70
1     71
2     72
3     73
4     74
5     75
6     76
7     77
8     78
9     79
10    80
dtype: int64

In [9]:
s.index = ['0520','0521','0522','0523','0524','0525','0526','0527','0528','0529','0530']

In [10]:
s

0520    70
0521    71
0522    72
0523    73
0524    74
0525    75
0526    76
0527    77
0528    78
0529    79
0530    80
dtype: int64

In [11]:
df = s.reset_index()

In [12]:
df

   index   0
0   0520  70
1   0521  71
2   0522  72
3   0523  73
4   0524  74
5   0525  75
6   0526  76
7   0527  77
8   0528  78
9   0529  79
10  0530  80

In [13]:
df2 =df.set_index('index')

In [14]:
df2

        0
index
0520   70
0521   71
0522   72
0523   73
0524   74
0525   75
0526   76
0527   77
0528   78
0529   79
0530   80

In [20]:
df2.loc[['0522', '0525']]

        0
index
0522   72
0525   75

In [16]:
df2.loc['0525']

0    75
Name: 0525, dtype: int64

In [17]:
s.array

<NumpyExtensionArray>
[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80]
Length: 11, dtype: int64

In [18]:
s.size

11

In [19]:
s['0522']

72

In [25]:
    s2 = pd.Series([0,1,2,3,4,5,6,7,8,9], index="abcdefghij", dtype=np.int32)

TypeError: Index(...) must be called with a collection of some kind, 'abcdefghij' was passed

In [23]:
s2 = pd.Series([0,1,2,3,4,5,6,7,8,9'],dtype=np.int32)

SyntaxError: unterminated string literal (detected at line 1) (659982223.py, line 1)