In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [6]:
df = pd.DataFrame([60,80,70,60,89,57],[40,45,48,47,43,42], index=['mon','tue','wed','thu','fri','sat'], columns=['high','low'])

TypeError: DataFrame.__init__() got multiple values for argument 'index'

In [5]:
df

     0
40  60
45  80
48  70
47  60
43  89
42  57