In [1]:
print("Hello world!!")

Hello world!!

In [6]:
import pandas as pd
import numpy as np

# Header
Text
Text

In [7]:
pd.__version__

'1.5.3'

In [8]:
!ls

'Bert - 2024-04-30.ipynb'    'Reuven - 2024-04-30.ipynb'
'Danny - 2024-04-30.ipynb'    Untitled.ipynb
'JL 30-04.ipynb'	      Untitled1.ipynb
 Marcio.ipynb		      cshah-2024-04-30.ipynb
'Matthew 30-apr-2024.ipynb'  'gary - 2024-04-30.ipynb'
'Nishit - 2024-04-30.ipynb'   untitled.txt
 Que.ipynb

In [9]:
!ls ../data/*.csv

../data/2020_sharing_data_outside.csv  ../data/olympic_athlete_events.csv
../data/CPILFESL.csv		       ../data/san+francisco,ca.csv
../data/albany,ny.csv		       ../data/sat-scores.csv
../data/boston,ma.csv		       ../data/skyscrapers.csv
../data/burrito_current.csv	       ../data/springfield,il.csv
../data/celebrity_deaths_2016.csv      ../data/springfield,ma.csv
../data/chicago,il.csv		       ../data/taxi-distance.csv
../data/eu_cpi.csv		       ../data/taxi-passenger-count.csv
../data/eu_gdp.csv		       ../data/taxi.csv
../data/ice-cream.csv		       ../data/titanic3.csv
../data/languages.csv		       ../data/us-median-cpi.csv
../data/los+angeles,ca.csv	       ../data/us-unemployment-rate.csv
../data/miles-traveled.csv	       ../data/us_gdp.csv
../data/new+york,ny.csv		       ../data/winemag-150k-reviews.csv
../data/oecd_locations.csv	       ../data/wti-daily.csv
../data/oecd_tourism.csv

In [11]:
filename = "../data/taxi.csv"
df = pd.read_csv(filename)

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [16]:
df[0][1]

KeyError: 0

In [19]:
column = "trip_distance"

In [20]:
df[column]

0       1.63
1       0.46
2       0.87
3       2.13
4       1.40
        ...
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: trip_distance, Length: 9999, dtype: float64

In [21]:
df[column].max()

64.6

In [22]:
column = "total_amount"

In [23]:
df[column].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [24]:
df[column].tail()

9994    12.30
9995    20.30
9996    22.30
9997     7.80
9998    26.75
Name: total_amount, dtype: float64

In [25]:
df.describe().loc['25%']

VendorID                  1.000000
passenger_count           1.000000
trip_distance             1.000000
pickup_longitude        -73.990997
pickup_latitude          40.738556
RateCodeID                1.000000
dropoff_longitude       -73.990261
dropoff_latitude         40.738478
payment_type              1.000000
fare_amount               7.000000
extra                     0.000000
mta_tax                   0.500000
tip_amount                0.000000
tolls_amount              0.000000
improvement_surcharge     0.300000
total_amount              8.800000
Name: 25%, dtype: float64

In [27]:
df.describe().loc[['25%', '50%', '75%']]

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
25%,1.0,1.0,1.0,-73.990997,40.738556,1.0,-73.990261,40.738478,1.0,7.0,0.0,0.5,0.00,0.0,0.3,8.8
50%,2.0,1.0,1.7,-73.979774,40.755909,1.0,-73.978256,40.756340,1.0,10.5,0.0,0.5,1.00,0.0,0.3,12.8
75%,2.0,2.0,3.3,-73.963001,40.770012,1.0,-73.961311,40.771044,2.0,17.0,0.0,0.5,2.46,0.0,0.3,19.8

In [28]:
df[['trip_distance', 'passenger_count', 'total_amount']].describe()

       trip_distance  passenger_count  total_amount
count    9999.000000      9999.000000   9999.000000
mean        3.158511         1.659466     17.552472
std         4.037516         1.333306     15.137990
min         0.000000         0.000000     -7.800000
25%         1.000000         1.000000      8.800000
50%         1.700000         1.000000     12.800000
75%         3.300000         2.000000     19.800000
max        64.600000         6.000000    252.350000