In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [7]:
!head ../data/airlines.dat

1,"Private flight",\N,"-","N/A","","","Y"
2,"135 Airways",\N,"","GNL","GENERAL","United States","N"
3,"1Time Airline",\N,"1T","RNX","NEXTIME","South Africa","Y"
4,"2 Sqn No 1 Elementary Flying Training School",\N,"","WYT","","United Kingdom","N"
5,"213 Flight Unit",\N,"","TFU","","Russia","N"
6,"223 Flight Unit State Airline",\N,"","CHD","CHKALOVSK-AVIA","Russia","N"
7,"224th Flight Unit",\N,"","TTF","CARGO UNIT","Russia","N"
8,"247 Jet Ltd",\N,"","TWF","CLOUD RUNNER","United Kingdom","N"
9,"3D Aviation",\N,"","SEC","SECUREX","United States","N"
10,"40-Mile Air",\N,"Q5","MLA","MILE-AIR","United States","Y"

In [33]:
airlines_df = pd.read_csv('../data/airlines.dat',
                         index_col=0,
                        usecols=[0,1,3,6],
                         header=None,
                         names=['Index','Airline','Country Code','Country'])
airlines_df.head()

,Airline,Country Code,Country
Index,,,
1,Private flight,-,NaN
2,135 Airways,NaN,United States
3,1Time Airline,1T,South Africa
4,2 Sqn No 1 Elementary Flying Training School,NaN,United Kingdom
5,213 Flight Unit,NaN,Russia