In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [7]:
!head ../data/airlines.dat

1,"Private flight",\N,"-","N/A","","","Y"
2,"135 Airways",\N,"","GNL","GENERAL","United States","N"
3,"1Time Airline",\N,"1T","RNX","NEXTIME","South Africa","Y"
4,"2 Sqn No 1 Elementary Flying Training School",\N,"","WYT","","United Kingdom","N"
5,"213 Flight Unit",\N,"","TFU","","Russia","N"
6,"223 Flight Unit State Airline",\N,"","CHD","CHKALOVSK-AVIA","Russia","N"
7,"224th Flight Unit",\N,"","TTF","CARGO UNIT","Russia","N"
8,"247 Jet Ltd",\N,"","TWF","CLOUD RUNNER","United Kingdom","N"
9,"3D Aviation",\N,"","SEC","SECUREX","United States","N"
10,"40-Mile Air",\N,"Q5","MLA","MILE-AIR","United States","Y"

In [37]:
airlines_df = pd.read_csv('../data/airlines.dat',
                        usecols=[1,4,5,6],
                         header=None,
                         names=['Name','ShortCode','LongCode','Country'])
airlines_df['Country'].value_counts().head(30)

Country
United States     1080
Mexico             439
United Kingdom     407
Canada             318
Russia             230
Spain              166
Germany            131
France             119
Australia           93
South Africa        91
Italy               90
Ukraine             89
Nigeria             85
Kazakhstan          79
Sweden              70
China               70
Switzerland         60
Brazil              58
Netherlands         52
Austria             50
Sudan               49
Egypt               48
Indonesia           48
Thailand            48
Portugal            45
Japan               44
Colombia            43
Chile               41
Turkey              39
Angola              37
Name: count, dtype: int64