In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [7]:
!head ../data/airlines.dat

1,"Private flight",\N,"-","N/A","","","Y"
2,"135 Airways",\N,"","GNL","GENERAL","United States","N"
3,"1Time Airline",\N,"1T","RNX","NEXTIME","South Africa","Y"
4,"2 Sqn No 1 Elementary Flying Training School",\N,"","WYT","","United Kingdom","N"
5,"213 Flight Unit",\N,"","TFU","","Russia","N"
6,"223 Flight Unit State Airline",\N,"","CHD","CHKALOVSK-AVIA","Russia","N"
7,"224th Flight Unit",\N,"","TTF","CARGO UNIT","Russia","N"
8,"247 Jet Ltd",\N,"","TWF","CLOUD RUNNER","United Kingdom","N"
9,"3D Aviation",\N,"","SEC","SECUREX","United States","N"
10,"40-Mile Air",\N,"Q5","MLA","MILE-AIR","United States","Y"

In [38]:
airlines_df = pd.read_csv('../data/airlines.dat',
                        usecols=[1,4,5,6],
                         header=None,
                         names=['Name','ShortCode','LongCode','Country'])
airlines_df['Country'].value_counts().head(50)

Country
United States           1080
Mexico                   439
United Kingdom           407
Canada                   318
Russia                   230
Spain                    166
Germany                  131
France                   119
Australia                 93
South Africa              91
Italy                     90
Ukraine                   89
Nigeria                   85
Kazakhstan                79
Sweden                    70
China                     70
Switzerland               60
Brazil                    58
Netherlands               52
Austria                   50
Sudan                     49
Egypt                     48
Indonesia                 48
Thailand                  48
Portugal                  45
Japan                     44
Colombia                  43
Chile                     41
Turkey                    39
Angola                    37
Mauritania                35
Kyrgyzstan                33
Iran                      32
Denmark                   32
Czech Republic            32
United Arab Emirates      31
Dominican Republic        30
Pakistan                  29
Norway                    29
Greece                    29
Bulgaria                  28
Ireland                   28
New Zealand               28
Belgium                   27
India                     26
Venezuela                 26
Sierra Leone              26
Peru                      26
Ecuador                   26
Libya                     26
Name: count, dtype: int64

In [39]:
#Cities execise
url='https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'
df=pd.read_json(url)

In [40]:
df.head(5)

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania

In [ ]:
df.loc(