In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [11]:
df = DataFrame([[55,56],
                       [45,80],
                       [55,98],
                       [24,79],
                       [43,67],
                       [65,88]],
                       index=list('MTWRFS'),
                       columns=list('LH'))

    L   H
M  55  56
T  45  80
W  55  98
R  24  79
F  43  67
S  65  88

In [13]:
df['L'].describe()

count     6.000000
mean     47.833333
std      14.119726
min      24.000000
25%      43.500000
50%      50.000000
75%      55.000000
max      65.000000
Name: L, dtype: float64

In [14]:
df['H'].describe()

count     6.000000
mean     78.000000
std      14.899664
min      56.000000
25%      70.000000
50%      79.500000
75%      86.000000
max      98.000000
Name: H, dtype: float64

In [16]:
df.loc['W'].mean()

76.5

In [17]:
df.loc['F'].mean()

55.0

In [20]:
df = pd.read_csv('../data/taxi.csv')

In [24]:
df.shape

(9999, 19)

In [25]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [38]:
df2 = df[['trip_distance','total_amount','passenger_count']]

In [39]:
df2

      trip_distance  total_amount  passenger_count
0              1.63         17.80                1
1              0.46          8.30                1
2              0.87         11.00                1
3              2.13         17.16                1
4              1.40         10.30                1
...             ...           ...              ...
9994           2.70         12.30                1
9995           4.50         20.30                1
9996           5.59         22.30                1
9997           1.54          7.80                6
9998           5.80         26.75                1

[9999 rows x 3 columns]

In [42]:
df.loc[
    df['passenger_count'] ==1,
    ['trip_distance','total_amount']
].mean()

trip_distance     3.092338
total_amount     17.368569
dtype: float64

In [45]:
df.loc[
    ((df['passenger_count'] ==1 ) | (df['passenger_count'] ==2)) ,
    ['trip_distance','total_amount']
].mean()

trip_distance     3.137345
total_amount     17.528493
dtype: float64