In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

In [10]:
df.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [21]:
df.groupby('Sport')['Age'].mean()

Sport
Aeronautics         26.000000
Alpine Skiing       23.205462
Alpinism            38.812500
Archery             27.935226
Art Competitions    45.901009
                      ...
Tug-Of-War          29.309524
Volleyball          25.183800
Water Polo          25.659627
Weightlifting       25.502010
Wrestling           25.798289
Name: Age, Length: 66, dtype: float64

In [23]:
df.loc[df['Year']>1960].groupby('Sport')['Height'].mean().sort_values(ascending=False)

Sport
Basketball                   191.451050
Volleyball                   186.994822
Beach Volleyball             186.144954
Water Polo                   185.213519
Rowing                       184.483305
Handball                     183.386017
Baseball                     182.599291
Bobsleigh                    181.680074
Ice Hockey                   179.066636
Tennis                       178.941767
Swimming                     178.802635
Canoeing                     178.713466
Sailing                      178.418746
Modern Pentathlon            178.234389
Fencing                      177.546094
Nordic Combined              176.763566
Taekwondo                    176.750836
Luge                         176.657742
Ski Jumping                  176.642412
Cycling                      176.253339
Skeleton                     176.098266
Athletics                    176.085087
Football                     175.564442
Rugby Sevens                 175.363636
Equestrianism                174.419536
Speed Skating                174.362188
Curling                      174.262332
Judo                         174.187353
Badminton                    174.178803
Golf                         174.166667
Biathlon                     174.030080
Alpine Skiing                173.654688
Triathlon                    173.645833
Shooting                     173.464829
Cross Country Skiing         173.344017
Archery                      173.216830
Hockey                       173.196262
Snowboarding                 173.085561
Boxing                       172.934227
Wrestling                    172.463466
Table Tennis                 171.253773
Freestyle Skiing             171.012959
Short Track Speed Skating    170.108199
Softball                     169.395089
Synchronized Swimming        168.481481
Figure Skating               168.286346
Rhythmic Gymnastics          167.870253
Weightlifting                167.716022
Diving                       166.746917
Trampolining                 166.582781
Gymnastics                   162.550221
Name: Height, dtype: float64

In [30]:
df.groupby(['Year','Team']).max('Height')

                                        ID   Age  Height  Weight
Year Team
1896 Australia                       35698  22.0     NaN     NaN
     Australia/Great Britain        101352  23.0     NaN     NaN
     Austria                        107006  23.0     NaN     NaN
     Denmark                        107090  34.0     NaN     NaN
     Ethnikos Gymnastikos Syllogos   71691  10.0     NaN     NaN
...                                    ...   ...     ...     ...
2016 Venezuela                      129242  52.0   206.0   137.0
     Vietnam                        127730  42.0   185.0    85.0
     Yemen                           98301  24.0   174.0    73.0
     Zambia                          97551  28.0   182.0    79.0
     Zimbabwe                       122405  42.0   191.0    87.0

[5170 rows x 4 columns]

In [31]:
df.groupby('Year')['Age'].agg(min,max)

TypeError: '>' not supported between instances of 'float' and 'builtin_function_or_method'