In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [11]:
df = DataFrame([[55,56],
                       [45,80],
                       [55,98],
                       [24,79],
                       [43,67],
                       [65,88]],
                       index=list('MTWRFS'),
                       columns=list('LH'))

    L   H
M  55  56
T  45  80
W  55  98
R  24  79
F  43  67
S  65  88

In [13]:
df['L'].describe()

count     6.000000
mean     47.833333
std      14.119726
min      24.000000
25%      43.500000
50%      50.000000
75%      55.000000
max      65.000000
Name: L, dtype: float64

In [14]:
df['H'].describe()

count     6.000000
mean     78.000000
std      14.899664
min      56.000000
25%      70.000000
50%      79.500000
75%      86.000000
max      98.000000
Name: H, dtype: float64

In [16]:
df.loc['W'].mean()

76.5

In [17]:
df.loc['F'].mean()

55.0