In [1]:
print('howdy')

howdy

# Wow
## I love makrdown mode.

It works great.

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

In [4]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [6]:
df['trip_distance']

0       1.63
1       0.46
2       0.87
3       2.13
4       1.40
        ...
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: trip_distance, Length: 9999, dtype: float64

In [7]:
df['trip_distance'].min()

0.0

In [8]:
df['trip_distance'].describe()

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: trip_distance, dtype: float64

In [9]:
df['trip_distance'].head(10)

0     1.63
1     0.46
2     0.87
3     2.13
4     1.40
5     1.40
6     1.80
7    11.90
8     1.27
9     0.60
Name: trip_distance, dtype: float64

In [10]:
df['total_amount']

0       17.80
1        8.30
2       11.00
3       17.16
4       10.30
        ...
9994    12.30
9995    20.30
9996    22.30
9997     7.80
9998    26.75
Name: total_amount, Length: 9999, dtype: float64

In [11]:
df['total_amount'].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [18]:
df.loc[[0, 1, 2]]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.0,0.0,0.3,8.3
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.2,0.0,0.3,11.0

In [19]:
df[['trip_distance','total_amount']].loc[[0,1,2]]

   trip_distance  total_amount
0           1.63          17.8
1           0.46           8.3
2           0.87          11.0

In [20]:
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,1.516652,1.659466,3.158511,-73.014956,40.226521,1.045105,-73.054699,40.248644,1.407741,14.415892,0.118212,0.497450,1.818059,0.400433,0.299790,17.552472
std,0.499748,1.333306,4.037516,8.347871,4.599169,0.302132,8.186847,4.510520,0.501911,12.442624,0.214794,0.037667,2.634469,1.665170,0.010816,15.137990
min,1.000000,0.000000,0.000000,-74.186302,0.000000,1.000000,-74.277367,0.000000,1.000000,-7.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-7.800000
25%,1.000000,1.000000,1.000000,-73.990997,40.738556,1.000000,-73.990261,40.738478,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.700000,-73.979774,40.755909,1.000000,-73.978256,40.756340,1.000000,10.500000,0.000000,0.500000,1.000000,0.000000,0.300000,12.800000
75%,2.000000,2.000000,3.300000,-73.963001,40.770012,1.000000,-73.961311,40.771044,2.000000,17.000000,0.000000,0.500000,2.460000,0.000000,0.300000,19.800000
max,2.000000,6.000000,64.600000,0.000000,41.064606,5.000000,0.000000,41.137344,4.000000,250.000000,1.000000,0.500000,42.050000,70.000000,0.300000,252.350000