In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [11]:
df = DataFrame([[55,56],
                       [45,80],
                       [55,98],
                       [24,79],
                       [43,67],
                       [65,88]],
                       index=list('MTWRFS'),
                       columns=list('LH'))

    L   H
M  55  56
T  45  80
W  55  98
R  24  79
F  43  67
S  65  88

In [ ]:
df