In [1]:
print('hello')

hello

In [2]:
import pandas as pd

In [3]:
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [4]:
pd.__version__

'1.5.3'

In [6]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [7]:
df['RateCodeID'].max()

5

In [8]:
df['RateCodeID'].range()

AttributeError: 'Series' object has no attribute 'range'

In [9]:
df['RateCodeID'].max()

5

In [11]:
df['RateCodeID'].range()

AttributeError: 'Series' object has no attribute 'range'

In [12]:
df['ratecodeid'].max()

KeyError: 'ratecodeid'

In [13]:
df['total_amount'].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [14]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df['total_amount'].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [22]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df[['trip_distance','passenger_count', 'total_amount']].describe()

       trip_distance  passenger_count  total_amount
count    9999.000000      9999.000000   9999.000000
mean        3.158511         1.659466     17.552472
std         4.037516         1.333306     15.137990
min         0.000000         0.000000     -7.800000
25%         1.000000         1.000000      8.800000
50%         1.700000         1.000000     12.800000
75%         3.300000         2.000000     19.800000
max        64.600000         6.000000    252.350000

In [24]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df[['trip_distance','passenger_count', 'total_amount']].describe()
df[['trip_distance','passenger_count','total_amount']].head(5).describe()

       trip_distance  passenger_count  total_amount
count        5.00000              5.0      5.000000
mean         1.29800              1.0     12.912000
std          0.65159              0.0      4.292053
min          0.46000              1.0      8.300000
25%          0.87000              1.0     10.300000
50%          1.40000              1.0     11.000000
75%          1.63000              1.0     17.160000
max          2.13000              1.0     17.800000

In [1]:
print('hello')

hello

In [13]:
import pandas as pd
from pandas import Series
s = Series([27,27.5,27.7,28,29,31,31.4,32,33,34])

media = s.mean()
mediana = s.median()
print('mean is ', media, ' and median is ', mediana)

mean is  30.060000000000002  and median is  30.0

In [9]:
media

<bound method Series.mean of 0    27.0
1    27.5
2    27.7
3    28.0
4    29.0
5    31.0
6    31.4
7    32.0
8    33.0
9    34.0
dtype: float64>

In [11]:
s.mean

<bound method Series.mean of 0    27.0
1    27.5
2    27.7
3    28.0
4    29.0
5    31.0
6    31.4
7    32.0
8    33.0
9    34.0
dtype: float64>

TypeError: 'method' object is not subscriptable

In [29]:
import pandas as pd
from pandas import Series
highs = Series([27,27.5,27.7,28,29,31,31.4,32,33,34])
lows = Series([18,17.5,19.2,20,21,21.2,21,23,23.5,23])

highs_mean = highs.mean()
lows_mean = lows.mean()

print('mean of the highs is ', highs_mean)
print('mean of the lows is ', lows_mean)
print('list of high temperatures above the mean ', highs.loc[highs > highs_mean])
print('list of high temperatures above the mean + std ', highs.loc[highs > (highs.mean()+highs.std())])

mean of the highs is  30.060000000000002
mean of the lows is  20.740000000000002
list of high temperatures above the mean  5    31.0
6    31.4
7    32.0
8    33.0
9    34.0
dtype: float64
list of high temperatures above the mean + std  8    33.0
9    34.0
dtype: float64

In [48]:
import pandas as pd
import numpy as np
from pandas import Series
numeros = Series(np.random.randint(0,1000,20), index=list('abcdefghijklmnopqrst'))
print('media: ', numeros.mean())
print('stdv: ', numeros.std())
print('numeros 1 stdv abaixo da media ', numeros.loc[numeros < numeros.mean()-numeros.std()])

media:  487.15
stdv:  307.7631137913157
numeros 1 stdv abaixo da media  b     15
d     46
h     46
n    164
dtype: int64

In [61]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

temps = Series([22.3,24.0,27,26.5,26,28,30],index ='0429 0430 0501 0502 0503 0504 0505'.split())
temps
df=temps.reset_index()
df=df.set_index('index')
print('Temp on April 30th is: ', df.loc['0430'])
print(temps)
print(df)

Temp on April 30th is:  0    24.0
Name: 0430, dtype: float64
0429    22.3
0430    24.0
0501    27.0
0502    26.5
0503    26.0
0504    28.0
0505    30.0
dtype: float64
          0
index
0429   22.3
0430   24.0
0501   27.0
0502   26.5
0503   26.0
0504   28.0
0505   30.0

In [80]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

s = Series([18,23,15,98,14,65,75,88,42,101],index = list('abcdefghij'),dtype=np.int8)
s.loc[['a','j']]*1000

a    18000
j   -30072
dtype: int16

In [92]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
s=Series([56, 50, 19, 15, 83],dtype="int8")
ns=s.astype('int64')
print(s)
print(ns)

0    56
1    50
2    19
3    15
4    83
dtype: int8
0    56
1    50
2    19
3    15
4    83
dtype: int64

In [104]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
s=Series(np.random.rand(10))*1000

(s
  .loc[
       s.astype('int64') % 2 == 0
      ]
   .mean()
)

576.7708216653281

In [4]:
import pandas as pd
from pandas import Series, DataFrame
df = pd.read_csv('../data/taxi.csv') 
newdf = df[['trip_distance','trip_distance','trip_distance']]

newdf

      trip_distance  trip_distance  trip_distance
0              1.63           1.63           1.63
1              0.46           0.46           0.46
2              0.87           0.87           0.87
3              2.13           2.13           2.13
4              1.40           1.40           1.40
...             ...            ...            ...
9994           2.70           2.70           2.70
9995           4.50           4.50           4.50
9996           5.59           5.59           5.59
9997           1.54           1.54           1.54
9998           5.80           5.80           5.80

[9999 rows x 3 columns]

In [24]:
import numpy as np
from pandas import Series, DataFrame
df = pd.read_csv('../data/airlines.dat',
                header=None,
                usecols=[1,4,5,6],
                names=['name', 'abbrev3', 'longname', 'country'])

df

,name,abbrev3,longname,country
0,Private flight,NaN,NaN,NaN
1,135 Airways,GNL,GENERAL,United States
2,1Time Airline,RNX,NEXTIME,South Africa
3,2 Sqn No 1 Elementary Flying Training School,WYT,NaN,United Kingdom
4,213 Flight Unit,TFU,NaN,Russia
...,...,...,...,...
6043,Vuela Cuba,6CC,NaN,Cuba
6044,All Australia,8K8,NaN,Australia
6045,Fly Europa,RWW,NaN,Spain
6046,FlyPortugal,FPT,FlyPortugal,Portugal
6047,FTI Fluggesellschaft,FTI,NaN,Germany

In [20]:
filename = '../data/airlines.dat'

df = pd.read_csv(filename,
                header=None,
                usecols=[1, 4, 5, 6],
                names=['name', 'abbrev3', 'longname', 'country'])
df

,name,abbrev3,longname,country
0,Private flight,NaN,NaN,NaN
1,135 Airways,GNL,GENERAL,United States
2,1Time Airline,RNX,NEXTIME,South Africa
3,2 Sqn No 1 Elementary Flying Training School,WYT,NaN,United Kingdom
4,213 Flight Unit,TFU,NaN,Russia
...,...,...,...,...
6043,Vuela Cuba,6CC,NaN,Cuba
6044,All Australia,8K8,NaN,Australia
6045,Fly Europa,RWW,NaN,Spain
6046,FlyPortugal,FPT,FlyPortugal,Portugal
6047,FTI Fluggesellschaft,FTI,NaN,Germany

In [23]:
df = pd.read_csv('../data/airlines.dat',
                header=None,
                usecols=[1,4,5,6],
                names=['name', 'abbrev3', 'longname', 'country'])

df

,name,abbrev3,longname,country
0,Private flight,NaN,NaN,NaN
1,135 Airways,GNL,GENERAL,United States
2,1Time Airline,RNX,NEXTIME,South Africa
3,2 Sqn No 1 Elementary Flying Training School,WYT,NaN,United Kingdom
4,213 Flight Unit,TFU,NaN,Russia
...,...,...,...,...
6043,Vuela Cuba,6CC,NaN,Cuba
6044,All Australia,8K8,NaN,Australia
6045,Fly Europa,RWW,NaN,Spain
6046,FlyPortugal,FPT,FlyPortugal,Portugal
6047,FTI Fluggesellschaft,FTI,NaN,Germany

In [35]:
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'
df = pd.read_json(url)
over1mm = df['population'] > 1000000
numero = over1mm.count()
print(numero)

1000

In [49]:
import numpy as np
from pandas import Series, DataFrame

np.random.seed(0)
s = Series([51,46,19,15,56,81,52], index= 'Caca Leo Victor Mari Marcio Delci Luciana'.split())
s.sort_index().iloc[[0,1,2]]

Caca     51
Delci    81
Leo      46
dtype: int64

In [75]:
import numpy as np
from pandas import Series, DataFrame
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'
df = pd.read_json(url)
print('Mean population of the 20 first cities alphabetically: ',(df
 .set_index('city')
 .sort_index()
 .head(20)
 ['population']
 .mean()
))

print('Mean population of all cities from Iowa to Nebraska: ',(df
 .set_index('state')
 .sort_index()
 .loc['Iowa':'Nebraska']
 ['population']
 .mean()
))

print('Mean latitude for the 50 largest cities by population: ',(df
 .set_index('population')
 .sort_index()
 .tail(50)
 ['latitude']
 .mean()
))

print('Mean latitude for the 50 smallest cities by population: ',(df
 .set_index('population')
 .sort_index()
 .head(50)
 ['latitude']
 .mean()
))

Mean population of the 20 first cities alphabetically:  125541.7
Mean population of all cities from Iowa to Nebraska:  102408.45508982036
Mean latitude for the 50 largest cities by population:  36.838639806
Mean latitude for the 50 smallest cities by population:  37.303587242

In [91]:
filename = '../data/taxi.csv'

df = pd.read_csv(filename)
print('Mean total amount for the 10 shortest trips: ',(df
 .sort_values('trip_distance')
 .head(10)
 ['total_amount']
 .mean()                                                  
))

print('Mean trip distance for the 10 trips with the highest passenger count: ',(df
 .sort_values(['passenger_count'], ascending = False)
 ['trip_distance']                                                                  
 .head(10)
 .mean()                                                  
))

print('Mean trip distance for the 10 trips with the highest passenger count: ',(df
 .sort_values('passenger_count')
 ['trip_distance']                                                                  
 .tail(10)
 .mean()                                                  
))

Mean total amount for the 10 shortest trips:  41.183
Mean trip distance for the 10 trips with the highest passenger count:  1.589
Mean trip distance for the 10 trips with the highest passenger count:  2.741

In [102]:
import numpy as np
from pandas import Series, DataFrame

filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

results = df.groupby(['Year', 'Team'])[['Height']].max()
results

results2 = df.groupby(['Year'])[['Age']].agg(['max', 'min'])
results2

results3 = df.groupby(['Sport'])[['Weight']].agg(['median', 'mean'])
results3

results4 = df.groupby(['Year','Team'])[['Age','Height']].agg(['max', 'min'])
results4

                                     Age       Height
                                     max   min    max    min
Year Team
1896 Australia                      22.0  22.0    NaN    NaN
     Australia/Great Britain        23.0  22.0    NaN    NaN
     Austria                        23.0  19.0    NaN    NaN
     Denmark                        34.0  21.0    NaN    NaN
     Ethnikos Gymnastikos Syllogos  10.0  10.0    NaN    NaN
...                                  ...   ...    ...    ...
2016 Venezuela                      52.0  19.0  206.0  153.0
     Vietnam                        42.0  19.0  185.0  155.0
     Yemen                          24.0  16.0  174.0  166.0
     Zambia                         28.0  20.0  182.0  170.0
     Zimbabwe                       42.0  21.0  191.0  155.0

[5170 rows x 4 columns]

In [106]:
import numpy as np
from pandas import Series, DataFrame

filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

df.pivot_table(index='Team',
               columns='Year',
               values='Age',
               aggfunc='mean')

df.pivot_table(index='Sport',
               columns='Team',
               values='Weight',
               aggfunc='max')

Team,30. Februar,Acipactli,Afghanistan,Akatonbo,Alain IV,Albania,Aldebaran,Aldebaran II,Aletta,Algeria,...,Ylliam II,Ylliam VII,Ylliam VIII,Yugoslavia,Yugoslavia-1,Yugoslavia-2,Zambia,Zefyros,Zimbabwe,rn-2
Sport,,,,,,,,,,,,,,,,,,,,,
Alpine Skiing,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN,59.0,...,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,81.0,NaN
Archery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,76.0,NaN,NaN,NaN,NaN,92.0,NaN
Art Competitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Athletics,NaN,NaN,75.0,NaN,NaN,130.0,NaN,NaN,NaN,109.0,...,NaN,NaN,NaN,128.0,NaN,NaN,81.0,NaN,89.0,NaN
Badminton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,70.0,NaN,NaN,NaN
Baseball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,130.0,NaN,NaN,NaN,NaN,NaN,NaN
Beach Volleyball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Biathlon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN
Bobsleigh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,93.0,98.0,93.0,NaN,NaN,NaN,NaN
Boxing,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN,97.0,...,NaN,NaN,NaN,99.0,NaN,NaN,75.0,NaN,75.0,NaN
Canoeing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,85.0,70.0,73.0,NaN,NaN,NaN,NaN
Cross Country Skiing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,...,NaN,NaN,NaN,83.0,NaN,NaN,NaN,NaN,NaN,NaN
Curling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cycling,NaN,NaN,NaN,NaN,NaN,82.0,NaN,NaN,NaN,70.0,...,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,80.0,NaN
Diving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,NaN
Equestrianism,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,74.0,NaN,NaN,NaN,NaN,51.0,NaN
Fencing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,...,NaN,NaN,NaN,81.0,NaN,NaN,57.0,NaN,NaN,NaN
Figure Skating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN
Football,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,...,NaN,NaN,NaN,96.0,NaN,NaN,80.0,NaN,69.0,NaN
Freestyle Skiing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Golf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gymnastics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,...,NaN,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN
Handball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,...,NaN,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN
Hockey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,NaN
Ice Hockey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN
Judo,NaN,NaN,99.0,NaN,NaN,81.0,NaN,NaN,NaN,120.0,...,NaN,NaN,NaN,125.0,NaN,NaN,95.0,NaN,99.0,NaN
Lacrosse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,77.0,NaN,NaN,NaN,NaN,NaN,NaN
Modern Pentathlon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motorboating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nordic Combined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN,NaN,NaN
Rhythmic Gymnastics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN
Rowing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,...,NaN,NaN,NaN,99.0,NaN,NaN,NaN,NaN,87.0,NaN
Rugby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rugby Sevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sailing,70.0,84.0,NaN,89.0,100.0,NaN,83.0,83.0,79.0,73.0,...,78.0,98.0,98.0,94.0,NaN,NaN,NaN,85.0,94.0,82.0
Shooting,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN,84.0,...,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,106.0,NaN
Short Track Speed Skating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Skeleton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ski Jumping,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN
Snowboarding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Softball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Speed Skating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,88.0,NaN,NaN,NaN,NaN,NaN,NaN
Swimming,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,94.0,...,NaN,NaN,NaN,92.0,NaN,NaN,79.0,NaN,100.0,NaN
Synchronized Swimming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Table Tennis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,...,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN
Taekwondo,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tennis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,...,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,75.0,NaN
Trampolining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Triathlon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,NaN
Tug-Of-War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volleyball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,...,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,NaN
Water Polo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,115.0,NaN,NaN,NaN,NaN,NaN,NaN
Weightlifting,NaN,NaN,NaN,NaN,NaN,110.0,NaN,NaN,NaN,125.0,...,NaN,NaN,NaN,82.0,NaN,NaN,NaN,NaN,91.0,NaN
Wrestling,NaN,NaN,111.0,NaN,NaN,100.0,NaN,NaN,NaN,96.0,...,NaN,NaN,NaN,128.0,NaN,NaN,85.0,NaN,NaN,NaN

In [113]:
np.random.seed(0)
df = DataFrame(np.random.randint(-100,100,[4,5]),
               index=list('abcd'),
               columns=list('vwxyz'))
df[df % 2 == 1] = np.nan
df

      v     w     x     y     z
a  72.0   NaN   NaN  92.0   NaN
b   NaN   NaN   NaN   NaN -64.0
c   NaN -30.0 -12.0  40.0 -42.0
d   NaN   NaN   NaN  74.0 -12.0

In [115]:
df.fillna(df.mean())

      v     w     x          y          z
a  72.0 -30.0 -12.0  92.000000 -39.333333
b  72.0 -30.0 -12.0  68.666667 -64.000000
c  72.0 -30.0 -12.0  40.000000 -42.000000
d  72.0 -30.0 -12.0  74.000000 -12.000000

In [118]:
df.dropna(subset=['v','w','x'],thresh=3)

Empty DataFrame
Columns: [v, w, x, y, z]
Index: []

In [127]:
filename = '../data/boston,ma.csv'

df = pd.read_csv(filename)
df['boston,ma_maxtempC'].describe()

count    728.000000
mean       2.868132
std        4.945277
min      -12.000000
25%        0.000000
50%        2.000000
75%        6.000000
max       17.000000
Name: boston,ma_maxtempC, dtype: float64

In [128]:
df

,date_time,"boston,ma_maxtempC","boston,ma_mintempC","boston,ma_totalSnow_cm","boston,ma_sunHour","boston,ma_uvIndex","boston,ma_uvIndex.1","boston,ma_moon_illumination","boston,ma_moonrise","boston,ma_moonset",...,"boston,ma_WindChillC","boston,ma_WindGustKmph","boston,ma_cloudcover","boston,ma_humidity","boston,ma_precipMM","boston,ma_pressure","boston,ma_tempC","boston,ma_visibility","boston,ma_winddirDegree","boston,ma_windspeedKmph"
0,2018-12-11 00:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,...,-3,10,0,57,0.0,1022,-3,10,339,8
1,2018-12-11 03:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,...,-1,7,2,57,0.0,1023,-3,10,319,6
2,2018-12-11 06:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,...,-5,8,4,60,0.0,1023,-4,10,334,7
3,2018-12-11 09:00:00,1,-4,0.0,8.7,2,2,21,10:19 AM,08:12 PM,...,1,3,6,49,0.0,1022,-1,10,334,3
4,2018-12-11 12:00:00,1,-4,0.0,8.7,2,2,21,10:19 AM,08:12 PM,...,4,6,2,44,0.0,1018,1,10,229,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,2019-03-11 09:00:00,8,2,0.0,8.7,2,2,32,08:44 AM,10:48 PM,...,0,28,13,74,0.0,1004,4,10,261,21
724,2019-03-11 12:00:00,8,2,0.0,8.7,2,2,32,08:44 AM,10:48 PM,...,1,28,28,68,0.0,1003,5,10,263,19
725,2019-03-11 15:00:00,8,2,0.0,8.7,2,3,32,08:44 AM,10:48 PM,...,4,31,31,62,0.0,1004,6,10,268,20
726,2019-03-11 18:00:00,8,2,0.0,8.7,2,0,32,08:44 AM,10:48 PM,...,6,33,36,60,0.0,1010,7,10,265,21
727,2019-03-11 21:00:00,8,2,0.0,8.7,2,0,32,08:44 AM,10:48 PM,...,0,36,9,66,0.0,1012,4,10,271,20

In [131]:
df.iloc[0:727:5] = np.nan
df.interpolate()
df['boston,ma_maxtempC'].describe()

/tmp/ipykernel_777709/2295187110.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

count    582.000000
mean       2.850515
std        4.921762
min      -12.000000
25%        0.000000
50%        2.000000
75%        6.000000
max       17.000000
Name: boston,ma_maxtempC, dtype: float64

In [132]:
df.iloc[0:727:3] = np.nan
df.interpolate()
df['boston,ma_maxtempC'].describe()

/tmp/ipykernel_777709/3030642113.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

count    388.000000
mean       2.804124
std        4.914019
min      -12.000000
25%        0.000000
50%        2.000000
75%        6.000000
max       17.000000
Name: boston,ma_maxtempC, dtype: float64