In [1]:
print('hello')

hello

In [2]:
import pandas as pd

In [3]:
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [4]:
pd.__version__

'1.5.3'

In [6]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [7]:
df['RateCodeID'].max()

5

In [8]:
df['RateCodeID'].range()

AttributeError: 'Series' object has no attribute 'range'

In [9]:
df['RateCodeID'].max()

5

In [11]:
df['RateCodeID'].range()

AttributeError: 'Series' object has no attribute 'range'

In [12]:
df['ratecodeid'].max()

KeyError: 'ratecodeid'

In [13]:
df['total_amount'].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [14]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df['total_amount'].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [22]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df[['trip_distance','passenger_count', 'total_amount']].describe()

       trip_distance  passenger_count  total_amount
count    9999.000000      9999.000000   9999.000000
mean        3.158511         1.659466     17.552472
std         4.037516         1.333306     15.137990
min         0.000000         0.000000     -7.800000
25%         1.000000         1.000000      8.800000
50%         1.700000         1.000000     12.800000
75%         3.300000         2.000000     19.800000
max        64.600000         6.000000    252.350000

In [24]:
taxifile = '../data/taxi.csv'
df = pd.read_csv(taxifile)
df[['trip_distance','passenger_count', 'total_amount']].describe()
df[['trip_distance','passenger_count','total_amount']].head(5).describe()

       trip_distance  passenger_count  total_amount
count        5.00000              5.0      5.000000
mean         1.29800              1.0     12.912000
std          0.65159              0.0      4.292053
min          0.46000              1.0      8.300000
25%          0.87000              1.0     10.300000
50%          1.40000              1.0     11.000000
75%          1.63000              1.0     17.160000
max          2.13000              1.0     17.800000

In [1]:
print('hello')

hello

In [13]:
import pandas as pd
from pandas import Series
s = Series([27,27.5,27.7,28,29,31,31.4,32,33,34])

media = s.mean()
mediana = s.median()
print('mean is ', media, ' and median is ', mediana)

mean is  30.060000000000002  and median is  30.0

In [9]:
media

<bound method Series.mean of 0    27.0
1    27.5
2    27.7
3    28.0
4    29.0
5    31.0
6    31.4
7    32.0
8    33.0
9    34.0
dtype: float64>

In [11]:
s.mean

<bound method Series.mean of 0    27.0
1    27.5
2    27.7
3    28.0
4    29.0
5    31.0
6    31.4
7    32.0
8    33.0
9    34.0
dtype: float64>

TypeError: 'method' object is not subscriptable

In [29]:
import pandas as pd
from pandas import Series
highs = Series([27,27.5,27.7,28,29,31,31.4,32,33,34])
lows = Series([18,17.5,19.2,20,21,21.2,21,23,23.5,23])

highs_mean = highs.mean()
lows_mean = lows.mean()

print('mean of the highs is ', highs_mean)
print('mean of the lows is ', lows_mean)
print('list of high temperatures above the mean ', highs.loc[highs > highs_mean])
print('list of high temperatures above the mean + std ', highs.loc[highs > (highs.mean()+highs.std())])

mean of the highs is  30.060000000000002
mean of the lows is  20.740000000000002
list of high temperatures above the mean  5    31.0
6    31.4
7    32.0
8    33.0
9    34.0
dtype: float64
list of high temperatures above the mean + std  8    33.0
9    34.0
dtype: float64

In [ ]:
import pandas as pd
from pandas import Series
numeros = Series([27,27.5,27.7,28,29,31,31.4,32,33,34], )
lows = Series([18,17.5,19.2,20,21,21.2,21,23,23.5,23])