In [3]:
# Whatever I write here will not be executed
# Neither will this

print('Running....')

Running....

In [11]:
import pandas as pd

filename = "../data/taxi.csv"
df = pd.read_csv(filename)
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2015-06-02 11:19:29   2015-06-02 11:47:52                1
1         2  2015-06-02 11:19:30   2015-06-02 11:27:56                1
2         2  2015-06-02 11:19:31   2015-06-02 11:30:30                1
3         2  2015-06-02 11:19:31   2015-06-02 11:39:02                1
4         1  2015-06-02 11:19:32   2015-06-02 11:32:49                1

   trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0           1.63        -73.954430        40.764141           1
1           0.46        -73.971443        40.758942           1
2           0.87        -73.978111        40.738434           1
3           2.13        -73.945892        40.773529           1
4           1.40        -73.979088        40.776772           1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                  N         -73.974754         40.754093             2
1                  N         -73.978539         40.761909             1
2                  N         -73.990273         40.745438             1
3                  N         -73.971527         40.760330             1
4                  N         -73.982162         40.758999             2

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0         17.0    0.0      0.5        0.00           0.0
1          6.5    0.0      0.5        1.00           0.0
2          8.0    0.0      0.5        2.20           0.0
3         13.5    0.0      0.5        2.86           0.0
4          9.5    0.0      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         17.80
1                    0.3          8.30
2                    0.3         11.00
3                    0.3         17.16
4                    0.3         10.30