In [1]:
import pandas as pd

filename = '../data/taxi.csv'

df = pd.read_csv(filename)

In [2]:
import numpy as np
from pandas import Series, DataFrame

np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('acegihfjdb'))

In [3]:
s

a    -6
c    -3
e    14
g    17
i    17
h   -41
f    33
j   -29
d   -14
b    37
dtype: int64

In [5]:
# the first kind of sort we'll do is on the index

# this returns a new series, not modifying the original one
s.sort_index()

a    -6
b    37
c    -3
d   -14
e    14
f    33
g    17
h   -41
i    17
j   -29
dtype: int64

In [9]:
data = [34, 36, 71, 76, 32, 30, 1, 4]
ivalues = ['Nishit','Rupal','Shaila','Prakash','Arpita','Anuja','Ari','Maya']
s = Series(data,
           index=ivalues)

In [10]:
s

Nishit     34
Rupal      36
Shaila     71
Prakash    76
Arpita     32
Anuja      30
Ari         1
Maya        4
dtype: int64

In [11]:
s.sort_index()

Anuja      30
Ari         1
Arpita     32
Maya        4
Nishit     34
Prakash    76
Rupal      36
Shaila     71
dtype: int64

In [12]:
(
    s
    .sort_index()
    .head(3)
    .mean()
)

21.0

In [14]:
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'

df = pd.read_json(url)
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania
...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.159519,-97.990837,37093,996,Texas
996,Keizer,14.4%,44.990119,-123.026208,37064,997,Oregon
997,Spanish Fork,78.1%,40.114955,-111.654923,36956,998,Utah
998,Beloit,2.9%,42.508348,-89.031776,36888,999,Wisconsin
999,Panama City,0.1%,30.158813,-85.660206,36877,1000,Florida

In [36]:
(
    df
    .set_index('city')  # take this column, and use it as the index
    .sort_index()       # sort alphabetically
    .head(20)           # get top 20 records
    ['population']
    .mean()
)

125541.7

In [37]:
(
    df
    .set_index('city')  # take this column, and use it as the index
    .sort_index()       # sort alphabetically
    .iloc[:20]           # get top 20 records
    ['population']
    .mean()
)

125541.7

In [41]:
(
    df
    .set_index('state')
    .sort_index()
    .loc['Iowa':'Nebraska', 'population'] 
    .mean()
)

102408.45508982036