In [1]:
df = dataframe([['60','70'],
               ['55','80'],
               ['75','85'],
               ['80','90'],
               ['85','95'],
               ['90','100'],
               ['60','65']],
              index=list('Sun','Mon','Tue','Wed','Thu','Fri','Sat'),
              columns=list('Low','High'))

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

NameError: name 'dataframe' is not defined

In [1]:
df = dataframe([['60','70'],
               ['55','80'],
               ['75','85'],
               ['80','90'],
               ['85','95'],
               ['90','100'],
               ['60','65']],
              index=list('Sun','Mon','Tue','Wed','Thu','Fri','Sat'),
              columns=list('Low','High'))

NameError: name 'dataframe' is not defined

In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [6]:
df = DataFrame([['60','70'],
               ['55','80'],
               ['75','85'],
               ['80','90'],
               ['85','95'],
               ['90','100'],
               ['60','65']],
              index=list('SMTWTFS'),
              columns=list('LHigh'))

TypeError: list expected at most 1 argument, got 2

In [8]:
df = pd.read_csv('../data/taxi.csv')

In [9]:
df.shape

(9999, 19)

In [10]:
df.head

<bound method NDFrame.head of       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0            2  2015-06-02 11:19:29   2015-06-02 11:47:52                1
1            2  2015-06-02 11:19:30   2015-06-02 11:27:56                1
2            2  2015-06-02 11:19:31   2015-06-02 11:30:30                1
3            2  2015-06-02 11:19:31   2015-06-02 11:39:02                1
4            1  2015-06-02 11:19:32   2015-06-02 11:32:49                1
...        ...                  ...                   ...              ...
9994         1  2015-06-01 00:12:59   2015-06-01 00:24:18                1
9995         1  2015-06-01 00:12:59   2015-06-01 00:28:16                1
9996         2  2015-06-01 00:13:00   2015-06-01 00:37:25                1
9997         2  2015-06-01 00:13:02   2015-06-01 00:19:10                6
9998         1  2015-06-01 00:13:04   2015-06-01 00:36:33                1

      trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0              1.63        -73.954430        40.764141           1
1              0.46        -73.971443        40.758942           1
2              0.87        -73.978111        40.738434           1
3              2.13        -73.945892        40.773529           1
4              1.40        -73.979088        40.776772           1
...             ...               ...              ...         ...
9994           2.70        -73.947792        40.814972           1
9995           4.50        -74.004066        40.747818           1
9996           5.59        -73.994377        40.766102           1
9997           1.54        -73.978302        40.748531           1
9998           5.80        -73.983215        40.726414           1

     store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                     N         -73.974754         40.754093             2
1                     N         -73.978539         40.761909             1
2                     N         -73.990273         40.745438             1
3                     N         -73.971527         40.760330             1
4                     N         -73.982162         40.758999             2
...                 ...                ...               ...           ...
9994                  N         -73.973358         40.783638             2
9995                  N         -73.953758         40.779285             1
9996                  N         -73.903206         40.750546             2
9997                  N         -73.989166         40.762852             2
9998                  N         -73.924133         40.701645             1

      fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0            17.0    0.0      0.5        0.00           0.0
1             6.5    0.0      0.5        1.00           0.0
2             8.0    0.0      0.5        2.20           0.0
3            13.5    0.0      0.5        2.86           0.0
4             9.5    0.0      0.5        0.00           0.0
...           ...    ...      ...         ...           ...
9994         11.0    0.5      0.5        0.00           0.0
9995         16.0    0.5      0.5        3.00           0.0
9996         21.0    0.5      0.5        0.00           0.0
9997          6.5    0.5      0.5        0.00           0.0
9998         21.0    0.5      0.5        4.45           0.0

      improvement_surcharge  total_amount
0                       0.3         17.80
1                       0.3          8.30
2                       0.3         11.00
3                       0.3         17.16
4                       0.3         10.30
...                     ...           ...
9994                    0.3         12.30
9995                    0.3         20.30
9996                    0.3         22.30
9997                    0.3          7.80
9998                    0.3         26.75

[9999 rows x 19 columns]>

In [11]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [12]:
df1 = DataFrame(df['trip_distance','total_amount', 'passenger_count'])

KeyError: ('trip_distance', 'total_amount', 'passenger_count')

In [13]:
df['trip_distance','total_amount', 'passenger_count']

KeyError: ('trip_distance', 'total_amount', 'passenger_count')

In [14]:
df[['trip_distance','total_amount', 'passenger_count']]

      trip_distance  total_amount  passenger_count
0              1.63         17.80                1
1              0.46          8.30                1
2              0.87         11.00                1
3              2.13         17.16                1
4              1.40         10.30                1
...             ...           ...              ...
9994           2.70         12.30                1
9995           4.50         20.30                1
9996           5.59         22.30                1
9997           1.54          7.80                6
9998           5.80         26.75                1

[9999 rows x 3 columns]

In [15]:
df1= DataFrame(df[['trip_distance','total_amount', 'passenger_count']])

In [16]:
df1

      trip_distance  total_amount  passenger_count
0              1.63         17.80                1
1              0.46          8.30                1
2              0.87         11.00                1
3              2.13         17.16                1
4              1.40         10.30                1
...             ...           ...              ...
9994           2.70         12.30                1
9995           4.50         20.30                1
9996           5.59         22.30                1
9997           1.54          7.80                6
9998           5.80         26.75                1

[9999 rows x 3 columns]