In [1]:
print ('Hello, world!')

Hello, world!

Writing something in markdown

--Exercise: Set up a new notebook

# Exercise: Set up a new notebook

import pandas as pd

In [2]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [5]:
#load data

#most common CSV files 

#read data from CSV file into a Pandas "data frame", meaning 2D table

In [6]:
!ls ../data/*.csv

../data/2020_sharing_data_outside.csv  ../data/olympic_athlete_events.csv
../data/CPILFESL.csv		       ../data/san+francisco,ca.csv
../data/albany,ny.csv		       ../data/sat-scores.csv
../data/boston,ma.csv		       ../data/skyscrapers.csv
../data/burrito_current.csv	       ../data/springfield,il.csv
../data/celebrity_deaths_2016.csv      ../data/springfield,ma.csv
../data/chicago,il.csv		       ../data/taxi-distance.csv
../data/eu_cpi.csv		       ../data/taxi-passenger-count.csv
../data/eu_gdp.csv		       ../data/taxi.csv
../data/ice-cream.csv		       ../data/titanic3.csv
../data/languages.csv		       ../data/us-median-cpi.csv
../data/los+angeles,ca.csv	       ../data/us-unemployment-rate.csv
../data/miles-traveled.csv	       ../data/us_gdp.csv
../data/new+york,ny.csv		       ../data/winemag-150k-reviews.csv
../data/oecd_locations.csv	       ../data/wti-daily.csv
../data/oecd_tourism.csv

In [7]:
# let's take the CSV file for taxi data and turn into data frame