In [1]:
df = dataframe([['60','70'],
               ['55','80'],
               ['75','85'],
               ['80','90'],
               ['85','95'],
               ['90','100'],
               ['60','65']],
              index=list('Sun','Mon','Tue','Wed','Thu','Fri','Sat'),
              columns=list('Low','High'))

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

NameError: name 'dataframe' is not defined

In [1]:
df = dataframe([['60','70'],
               ['55','80'],
               ['75','85'],
               ['80','90'],
               ['85','95'],
               ['90','100'],
               ['60','65']],
              index=list('Sun','Mon','Tue','Wed','Thu','Fri','Sat'),
              columns=list('Low','High'))

NameError: name 'dataframe' is not defined

In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [5]:
df = DataFrame([['60','70'],
               ['55','80'],
               ['75','85'],
               ['80','90'],
               ['85','95'],
               ['90','100'],
               ['60','65']],
              index=list('Sun','Mon','Tue','Wed','Thu','Fri','Sat'),
              columns=list('Low','High'))

TypeError: list expected at most 1 argument, got 7