In [1]:
x = 100
y = 200
x

100

In [2]:
x*y

20000

In [3]:
import pandas as pd

AttributeError: module 'pandas' has no attribute '_version_'

In [ ]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

In [ ]:
df.shape

In [ ]:
df

In [ ]:
df.head

In [ ]:
df.head(3)

In [ ]:
df['trip_distance']

In [ ]:
df['trip_distance'].min()

In [ ]:
df['trip_distance'].describe()

In [ ]:
df['trip_distance'].std()

In [ ]:
df['total_amount']

In [ ]:
df.loc[[0,1,2]]

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].loc[[0,1,2]]

In [ ]:
df.head(5)

In [ ]:
df['total_amount'].describe()

In [ ]:
df['total_amount'].median()

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].describe()

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].loc[[0,1,2,3,4]]

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].loc[[0,1,2]].describe()

In [ ]:
df.head(5).describe()

In [ ]:
df.iloc[0:5,0:3]

In [ ]:
df['trip_distance'].plot.hist()

In [ ]:
df[['trip_distance', 'total_amount']].corr()

In [ ]:
(
df
[['trip_distance', 'total_amount', 'passenger_count']]
.head(5)
.describe()
)

In [ ]:
df[['trip_distance', 'total_amount']].plot.hist(subplots = True)

In [ ]:
df['trip_distance'].plot.hist()

In [ ]:
df['trip_distance'].plot.hist()

In [ ]:
(
df
[['trip_distance', 'total_amount', 'passenger_count']]
.head(100)
.plot.line()
)

In [ ]:
(
    df
    ['passenger_count']
    .value_counts(normalize = True)
)

In [ ]:
(
    df
    ['passenger_count']
    .value_counts()
    .plot.pie()
)

In [ ]:
df.iloc[0,1]

In [ ]:
df.iloc[[0,2,4],[1,3]]

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series

In [ ]:
s = Series ([10,20,30,40,50])

In [ ]:
s

In [ ]:
type (s[1])

In [ ]:
s[1]

In [ ]:
s.loc[2]

In [ ]:
s = Series([12, 11.5, 20, 18, 17, 17.8, 20, 21, 25, 30])
s.mean()

In [ ]:
s.median()

In [ ]:
s.describe()

In [ ]:
s=Series([10,20,30,40,50]),index = list('abcde'))
s
s.index = [2,4,5,7,19]
s.loc[2]
list(s.index)

s.loc[[2,4]]

In [ ]:
s.loc[[2,4]].mean()

In [ ]:
s = Series([10,11,12,21,23,34,35,54,32,11,9,10,17,18])
s.index =[mon,tuesday,wed,thur,fri,sat,sun,mon,tues,wed,thur,fri,sat,sun]
s.loc['fri']

In [ ]:
s = Series([12, 11.5, 20, 18, 17, 17.8, 20, 21, 25, 30])

In [ ]:
s = Series([12, 11.5, 20, 18, 17, 17.8, 20]),index = list('MTWTFSS'))
s

In [ ]:
s1 = Series([12, 11.5, 20, 18, 17], index = ['abcde'])

In [ ]:
s2 = Series([14, 15, 25, 28, 27], index = ['abcde'])
s1+s2

In [ ]:
s = Series([10, 20, 30, 40, 50],
           index=list('abcde'))
s

In [ ]:
s.index

In [ ]:
s = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
s

In [ ]:
s.loc['Fri']

In [ ]:
s.loc[['Mon', 'Fri', 'Mon']]

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
diffs = highs - lows
diffs.mean()

In [ ]:
(highs * 1.8) + 32

In [ ]:
s

In [ ]:
highs.mean

In [ ]:
mean1 = highs.mean()
mean2 = lows.mean()
highs_above_mean= highs[highs>mean1]

In [ ]:
import pandas as pd

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
diffs = highs - lows
diffs.mean()

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
highs.mean()
lows.mean()
mean1 = (highs.mean() + lows.mean() )/2

highs_above_mean= highs[ highs>mean1]

In [ ]:
mean_highs = highs.mean()
mean_lows = lows.mean()

# Calculate the average of the mean high and mean low temperatures
mean1 = (mean_highs + mean_lows) / 2

# Find highs above the overall mean
highs_above_mean = highs[highs > mean1]
highs.loc[highs>highs_above_mean}

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
diffs = highs - lows
diffs.mean()

In [ ]:
np.random.seed(0)
s = Series (np.random.randit(0,1000,10), index = list ('abcdefghij'))
s

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

np.random.seed(0)
s = Series (np.random.randit(1,1000,20),
            index = list ('abcdefghijklmnopqrst'))
s

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
np.random.seed(0)
from pandas import Series, DataFrame
s = pd.Series (np.random.randint(1,1000,20),
            index = list ('abcdefghijklmnopqrst'))
s

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
s.mean()
s.loc [ s>s.mean() - s.std()]
s.loc[ s>s.mean() + s.std()]
s.loc[(s>s.mean() +s.std()) & (s<s.mean() -s.std())]

In [ ]:
np.random.seed(0)
s = np.random.randint(1,10,1)

In [ ]:
np.random.seed(0)   # this makes it consistent across platforms
s = Series(np.random.randint(0, 1000, 10),
           index=list('abcdefghij'))
s

In [ ]:
np.random.seed(0)
s = Series(np.random.randint(1,1000,20),
            index = list('abcdefghijklmnopqrst'))
s

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
np.random.seed(0)
s = Series(np.random.randint(1,1000,20),
            index = list('abcdefghijklmnopqrst'))
s

s.mean()
s.loc [ s<s.mean() - s.std()]
s.loc[ s>s.mean() + s.std()]
s.loc[(s>s.mean() +s.std()) & (s<s.mean() -s.std())]

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
s = Series ([10,20,30,40,50])
s

In [ ]:
s.index = list ('abcde')

In [ ]:
s

In [ ]:
s.reset_index()

In [ ]:
s

In [ ]:
df = s.reset_index()
df

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='0520 0521 0522 0523 0524 0525 0526 0527 0528 0529'.split())

In [ ]:
highs.reset_index()

In [ ]:
df = highs.reset_index()
df

In [ ]:
(
    df
    .set_index('index')
    .loc['0522']
)

In [ ]:
(
    df
    .set_index('index')
    .loc['0525']
)

In [ ]:
(
    df
    .set_index('index')
    .loc[['0522', '0525']]
)

In [ ]:
df.loc[3]

In [ ]:
df.loc[[3,7,2]]

In [ ]:
s = Series ([10,20,30,40,50,60,70,80,90,100], index = 'abcdefghij'.split(), dtype =np.int32)
s

In [ ]:
s = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], 
              index='abcdefghij'.split(), 
              dtype=np.int32)

In [ ]:
s = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='a b c d e f g h i j'.split(), dtype = np.int32)
s

In [ ]:
s.loc[['a','j']]*1000

In [ ]:
s = Series([33.1, 38.2, 27.3, 24.4, 23.5, 24.6, 25.7, 27.8, 32.9, 35.01],
          index='a b c d e f g h i j'.split(), dtype = np.float32)
s

In [ ]:
s = Series([33.1, 38.2, 27.3, 24.4, 23.5, 24.6, 25.7, 27.8, 32.9, 35.01],
          index='a b c d e f g h i j'.split(), dtype = np.float64)
s

In [ ]:
s.loc[['a','j']]*1000

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
s = Series([10,20,30.5,40,50], dtype = np.float16)
s

In [ ]:
s.round(1)

In [ ]:
s = Series (['hello', 'Que'])
s

In [ ]:
s = Series([58, 54, 22, 20, 14], dtype = np.float16)
s

In [ ]:
s = Series([57.5, 54.4, 22, 20.5, 14.125], dtype = np.float16)
s

In [ ]:
s = Series([57.5, 54.4, 22, 20.5, 14.125], dtype = np.float32)
s

In [ ]:
s*365*24*60*60

In [ ]:
s = Series([57.5, 54.4, 22, 20.5, 14.125], dtype = np.float64)
s*365*24*60*60

In [ ]:
s = Series([58, 54, 22, 20, 14], dtype = np.int8)
s*365*86400

In [ ]:
s = Series ('10 20 30'.split())
s+s

In [ ]:
s*3

In [ ]:
s.astype('int64')*3

In [ ]:
Series (['10 20 30'.split()], dtype = int64)
s

In [ ]:
s = Series([10, 20, 30, 'hello'], dtype = int8)
s.astype('int8', errors ='ignore')

In [ ]:
Series(np.random.randint(0,100,10))

In [ ]:
Series(np.random.rand(10))*100

import numpy as np

In [ ]:
s = pd.Series(np.random.uniform(0,1000,10))
s

In [ ]:
s.astype(int)

In [ ]:
s.loc[s.astype(int) %2 ==0].mean()

In [ ]:
type(np.nan)

In [ ]:
np.nan ==0

In [ ]:
np.nan ==np.nan

In [ ]:
s = Series([10,20,30])
s.loc[1]=np.nan
s

In [ ]:
s.loc[s != np.nan]

In [ ]:
s = Series([10,20,np.nan,40,50])
s.mean()

In [ ]:
s.mean(skipna = False)

In [ ]:
s = Series([10,20,30,np.nan,np.nan,np.nan, 70,80,90,100])
s.mean()

In [ ]:
s.mean(skipna= False)

In [ ]:
s = Series([10,20,30,'nan','nan','nan', 70,80,90,100])
s = s.replace('nan',np.nan)
s.mean()

In [ ]:
s = Series([10,20,30,40,50])
s.index = list('abcde')
s.index

In [ ]:
s.reset_index

In [ ]:
df = s.reset_index()
df
df.set_index('index')
(
    df
    .set_index('index')
    .loc['c']
)

In [ ]:
s = Series([28, 31, 34, 36, 33,   34, 34, 34, 33, 31],
           index='0531 0601 0602 0603 0604 0605 0606 0607 0608 0609'.split())
s

In [ ]:
s.reset_index()

In [ ]:
# 3. Use a mask index to retrieve the projected high temps for June 2 and June 5.


(
    s
    .reset_index()
    .loc[(s.index == '0602') | (s.index == '0605')]  # show rows of s, post resetting index, where the index is 0602 or 0605
)

In [ ]:
# there is an "isin" method 

(
    s
    .loc[(s.index.isin(['0602', '0605']))]
    .reset_index()
)

In [ ]:
# Use set_index and .loc to achieve the same goal (but, I hope, in a nicer/more compact way).

df = s.reset_index()
df

In [ ]:
(
    df                          # we have our data frame with the default (range) index and two columns, "index" and 0
    .set_index('index')         # use the "index" column as the data frame's index
    .loc[ ['0602', '0605'] ]    # use fancy indexing and .loc to retrieve two rows from that data frame
)

In [ ]:
df['index']   # show me the column named "index" in the data frame df

In [ ]:
df

In [ ]:
df.loc[ [2,4,7] ]

In [ ]:
(
    df
    .set_index('index')
    .loc[['0602','0604', '0607']] 
)

In [ ]:
# get a boolean series showing when df[0] (the max temp) will be higher than the mean
# for max temps 

df[0] > df[0].mean()

In [ ]:
# Given this, I can now apply it (with .loc) to df, and get only those rows where df[0] > mean

df.loc[  df[0] > df[0].mean()   ]

In [ ]:
import pandas as pd
from pandas import Series, DataFrame
s = Series([10,20,30],dtype = 'int8')
s

In [ ]:
2**8

In [ ]:
s+98

In [ ]:
s = Series([10,20,30],dtype = 'uint8')
s+200

In [ ]:
s = Series([10,20,30],dtype = 'int8')
s.memory_usage()

In [ ]:
s = Series([10,20,30,40,50,60],dtype = 'int8')
s.memory_usage()

In [ ]:
s = Series([10,20,30,40,50,60],dtype = 'int64')
s.memory_usage()

In [ ]:
s = Series([10,20.2,30.5,40,50,60],dtype = 'float16')
s

In [ ]:
type(s.loc[2])

In [ ]:

s = Series(['a','b','c','d'])
s.memory_usage()

In [ ]:
s = Series(['a'*5000,'b'*6000,'c'*7000,'d'*8000])
s.memory_usage()

In [ ]:
s.memory_usage(deep=True)

In [ ]:
s = Series([14.1,20.5,22.1,58.6,54.7],dtype = 'float32')
s.memory_usage()

In [ ]:
s*365*24*3600

In [ ]:
s.memory_usage()

In [ ]:
s = Series([14.1,20.5,22.1,58.6,54.7])
s=s.astype('int', errors ='ignore')
type(s.loc[0])

In [ ]:
np.random.seed(0)
s = Series(np.random.uniform(0,1000,10))
s

In [ ]:
s = s.astype('int', errors = 'ignore')
s

In [ ]:
s_even = s.loc[s%2 ==0]
(s_even).mean()

In [ ]:
np.random.seed(0)
s = Series(np.random.uniform(0,1000,10))
s.loc[s.astype('int')%2 ==0].mean()

In [ ]:
s = Series([10,20,np.nan,40,50,np.nan,70])
s.dropna()

In [ ]:
s.fillna(s.mean())

In [ ]:
s.interpolate()

In [ ]:
import pandas as pd

df = DataFrame( high =[28, 31, 34, 36, 33,   34, ],low = [10,11,12,13,14,15],
           index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday'])
s

In [ ]:
import pandas as pd
from pandas import Series, DataFrame
!ls ../data/*.csv
!head ../data/taxi.csv

df = pd.read_csv('../data/taxi.csv')
df.describe()

In [ ]:
df.loc[ df['passenger_count']== 1, ['trip_distance', 'total_amount']].mean()

In [ ]:
df.loc[
     ((df['passenger_count'] == 1)  |  (df['passenger_count'] == 2))    # row selector
     ,
     ['trip_distance', 'total_amount'] # column selector
].mean()

In [ ]:
import pandas as pd
from pandas import Series, DataFrame
df = DataFrame([[10, 20, 30],
            [40, 50, 60], 
            [70, 80, 90], 
            [100, 110, 120]],
              index=list('abcd'),
              columns=list('xyz'))
df

In [ ]:
df.loc['b'].loc['y']

In [ ]:
df.loc['b']['y'] = 999

In [ ]:
df.loc['b', 'y'] = 888

In [ ]:
df

In [ ]:
df.loc['b', ['y', 'z']] = 777
df

In [ ]:
# rows = index, columns = name or column names
# each col is a panda series, can use index to identify each element. Col has dtype but row can have combi of dtype & object
df = DataFrame([[10,20,30],[40,50,60], [70,80,90]])
df

In [ ]:
df = DataFrame([[10,20,30],[40,50,60], [70,80,90], [100,110,120]], index = list('abcd'), columns= list('xyz'))
df

In [ ]:
df.loc[['a','c']]

In [ ]:
df[['x','y']]

In [ ]:
df['x'].mean()

In [ ]:
df.mean()

In [ ]:
df.sum()

In [ ]:
df.describe()

In [ ]:
df.mean(axis = 'columns')

In [ ]:
df['w'] = 'silly billy Que Vuong'.split()
df

In [ ]:
df.describe()

In [ ]:
df['w'].describe()

In [ ]:
df = DataFrame([[10,20],[40,50], [70,80],[40,60],[70,80],[90,100], [100,110]], index = 'Mon Tues Wed Thur Fri Sat Sun'.split(), columns= ['high','low'])
df

In [ ]:
df.mean(axis = 'columns')

df.loc[['Wed','Fri']].mean()

In [ ]:
df.loc[['Fri','Tues']].mean(axis = 'columns')

In [ ]:
df['precipitation'] = [1,2,3,4,5,6,7]
df

In [ ]:
df.describe()

In [ ]:
!ls../data/*.csv

In [ ]:
df = pd.read_csv('../data/taxi.csv')
!head ../data/taxi.csv

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.loc[3]

In [ ]:
df.describe()

In [ ]:
df['trip_distance']

In [ ]:
df[['trip_distance','total_amount']].mean()

In [ ]:
df = df.loc[(df['trip_distance'] > 50) & (df['trip_distance'] < 100)]

In [ ]:
df.loc[df['trip_distance']>50 ]

In [ ]:
df['trip_distance'][df['passenger_count'] ==3]

In [ ]:
df.loc[df['passenger_count'] ==3,
        ['trip_distance']]

In [ ]:
df.loc[ df['passenger_count']== 1, ['trip_distance', 'total_amount']].mean()

In [ ]:
df.loc[ (df['passenger_count']== 1)|(df['passenger_count']==2), ['trip_distance', 'total_amount']].mean()

In [ ]:
df = pd.read_csv('../data/taxi.csv',
                usecols = ['trip_distance', 'total_amount', 'passenger_count'])

In [ ]:
df

In [ ]:
df.loc[ (df['passenger_count']).isin([1,2]), ['trip_distance', 'total_amount']].mean()

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

filename = '../data/taxi.csv'
df = pd.read_csv(filename)
df

In [ ]:
help(pd.read_csv)

In [ ]:
df = pd.read_csv(filename, usecols =['passenger_count', 'trip_distance', 'total_amount'])
df.head()

In [ ]:
import numpy as np
from pandas import Series, Dataframe
np.random.seed(0)
small_df = DataFrame(np.random.randint(0,1000,[3,3]))
small_df

In [ ]:
!head../data/airlines.dat
filename = '../data/airlines.dat'
df = pd.read_csv(filename)
df
!cat airlines_data.csv
airlines_df = pd.read_csv('airlines_data.csv', 
                       header=None,
                      names=['airlinename', 'charactercode', 'fullname', 'country'],
                      index_col=0)

In [ ]:
!ls ../data/*.x*
../data/titanic3.xls'
df = pd.read_excel(filename)

In [ ]:
import pandas as pd
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'
df = pd.read_json(url)
df

In [ ]:
df = pd.read_json(url)
df = df.set_index('city')[['population', 'latitude', 'state']]

In [ ]:
df.loc[ (df['population']).isin([1000000,10000000]).count()

In [ ]:
df.loc[df['population']>1_000_000]

In [ ]:
df.loc[df['population']>1_000_000].shape

In [ ]:
df.loc[df['population']>1_000_000].count()

In [ ]:
len(df.loc[df['population']>1_000_000].index)

In [ ]:
df.loc[df['latitude']== df['latitude'].max()]

In [ ]:
df['population'].mean()

In [ ]:
df.loc[df['population']>1_000_000].index

In [ ]:
(df.loc[df['population']>1_000_000]).mean()

In [ ]:
import numpy as np
from pandas import Series, DataFrame

np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('acegihfjdb'))

In [ ]:
s

In [ ]:
s.loc['b':'f']

In [ ]:
s.loc['g':'f']

In [ ]:
np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('aceaihfjdb'))
s.loc['a':'b']

In [ ]:
s.sort_index().loc['a':'b']

In [ ]:
s.sort_index().loc['a':'c']

In [ ]:
s.sort_values()

In [ ]:
s = Series([10,5,15,'b','a','c'])
s

In [ ]:
s.sort_index()

In [ ]:
s = pd.Series([54, 55, 22, 20, 14], index=['Fred', 'Que', 'Lily', 'Josh', 'Maya'])
s

In [ ]:
s.sort_index().head(3).mean()

In [ ]:
s.sort_values().iloc[[0,-1]]

In [ ]:
s.sort_values(ascending = False)

In [ ]:
s.sort_index(ascending = False)

In [ ]:
np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('abcdefghij'))
s

In [ ]:
s.abs().sort_values()

In [ ]:
s.sort_values(key = abs)

In [ ]:
abs(s)

In [ ]:
def square_series(a_series):
    return a_series **2
s.sort_values(key = square_series)

In [ ]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

df
df.set_index('tpep_pickup_datetime').sort_index()

In [ ]:
df.set_index('tpep_pickup_datetime').sort_index().loc['2015-06-06':'2015-06-07']

In [ ]:
import pandas as pd
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'
df = pd.read_json(url)
df

In [ ]:
df.set_index('city').sort_index()

In [ ]:
df_sorted = df.set_index('city').sort_index().iloc[0:20]

# Select the 'population' column
population_first_20_cities = df_sorted['population']

In [ ]:
df.set_index('city').sort_index().iloc[5:5]

In [ ]:
(
    df_sorted = df.set_index('city').sort_index().head(20)
['population']
.mean()
)

In [ ]:
(
    df.set_index('population')
    .sort_index()
    .head(50)
    ['latitude']
    .mean()
)

In [ ]:
df.sort_values('population')

In [ ]:
(
    df
    .sort_values(['state', 'population'],ascending = False)
    ['city','state','population']
    .head(30)
)

In [ ]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

df
(
    df
    .sort_values('trip_distance')
    ['total_amount']
    .head(10)
    .mean()
)

In [ ]:
df
(
    df
    .sort_values(['passenger_count','trip_distance'])
    .iloc[:5]
)

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
filename =  '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)
print(df.head())

In [ ]:
df.groupby('Sport')['Age'].mean()

In [ ]:

(
    df.loc[
    df['Year']>1960,
    ['Sport','Height']
    ]
)

In [ ]:
(
    df.loc[
    df['Year']>1960,
    ['Sport','Height']
    ].groupby('Sport')['Height'].mean().sort_values(ascending = False)
)

In [ ]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

In [ ]:
results = df.groupby(['Year'])['Age']

In [ ]:
results = df.groupby(['Sport'])['Weight'].agg(['mean','median'])
results

In [ ]:
df.pivot_table(index = 'Team',
               columns = 'Year',
               values = 'Age',
               aggfunc = 'mean')

In [ ]:
df.pivot_table(index = 'Sport',
               columns = 'Team',
               values = 'Weight',
               aggfunc = 'max').stack()

In [ ]:
results = df.pivot_table(index = 'Sport',
               columns = 'Team',
               values = 'Weight',
               aggfunc = ['mean','max'])
results.stack()

In [ ]:
df.pivot_table(index = 'Team',
               columns = 'Sport',
               values = ['Height', 'Age','Weight'],
               aggfunc = ['mean'])

In [ ]:
df.groupby(['Team', 'Year'])[['Age', 'Height', 'Weight']].mean()

In [ ]:
df[df['Year']>1980].pivot_table(index = 'Year',
               columns = 'Sport',
               values = ['Height', 'Age','Weight'],
               aggfunc = ['mean'])

In [53]:
df[df['Sport'].isin(['Archery', 'Athletics', 'Boxing'])].pivot_table(index = 'Year',
                                                                     columns = 'Sport',
                                                                     values = ['Height', 'Age','Weight'],
                                                                     aggfunc = ['mean'])

            mean                                                            \
             Age                            Height
Sport    Archery  Athletics     Boxing     Archery   Athletics      Boxing
Year
1896         NaN  22.434783        NaN         NaN  174.875000         NaN
1900   36.038462  22.864486        NaN         NaN  178.578947         NaN
1904   49.131148  23.747191  23.444444  169.875000  178.227273  174.000000
1906         NaN  24.277955        NaN         NaN  180.352941         NaN
1908   41.918367  23.778561  25.100000         NaN  178.305994  170.600000
1912         NaN  23.483667        NaN         NaN  178.129032         NaN
1920   44.340000  24.741497  21.707317         NaN  177.161194  170.666667
1924         NaN  24.578161  20.743750         NaN  176.324257  177.400000
1928         NaN  23.857627  21.500000         NaN  176.472505  171.421053
1932         NaN  23.843424  21.514286         NaN  176.091765  170.547619
1936         NaN  24.638833  22.134078         NaN  177.456110  172.428571
1948         NaN  25.256757  22.388158         NaN  177.423290  172.357143
1952         NaN  25.119819  22.461538         NaN  176.394947  174.153846
1956         NaN  24.169492  22.594203         NaN  176.184132  173.972973
1960         NaN  24.567863  22.890110         NaN  176.420245  171.108614
1964         NaN  24.652767  23.275472         NaN  175.876506  171.078431
1968         NaN  24.625189  22.923077         NaN  176.355755  170.718033
1972   31.473684  24.474474  23.303835  172.215054  175.936145  170.549133
1976   29.523810  24.276530  22.680608  170.796875  176.658613  172.425287
1980   29.313433  24.458333  22.688976  172.651515  176.641509  171.277778
1984   27.192661  24.558068  22.319876  171.663462  175.800367  172.520408
1988   27.116732  25.057872  22.937046  172.648221  175.551587  172.362694
1992   25.255061  25.387255  23.071429  174.095238  176.087613  174.068259
1996   25.431193  25.915688  23.563380  173.757764  176.476684  174.136905
2000   26.553398  26.015802  23.745928  174.058824  176.537860  174.158416
2004   25.429245  26.270805  23.610714  173.731132  176.301748  174.193548
2008   26.659794  26.096257  23.826855  173.279793  176.038164  174.849057
2012   25.750000  26.217296  23.989399  173.295000  176.095578  174.913725
2016   25.245000  26.356858  25.053004  173.363636  175.207140  174.374545


          Weight
Sport    Archery  Athletics     Boxing
Year
1896         NaN  70.068966        NaN
1900         NaN  74.526316        NaN
1904         NaN  73.714286  61.368421
1906         NaN  74.739726        NaN
1908         NaN  73.819444  73.000000
1912         NaN  72.239960        NaN
1920         NaN  71.402913  55.000000
1924         NaN  69.778533  73.571429
1928         NaN  69.838565  63.900000
1932         NaN  70.306452  66.416667
1936         NaN  71.000000  66.812500
1948         NaN  70.454034  68.409091
1952         NaN  70.396366  70.180000
1956         NaN  70.187688  71.162500
1960         NaN  70.323236  64.817518
1964         NaN  69.517709  64.113725
1968         NaN  69.582274  63.472222
1972   69.275000  68.918976  62.961207
1976   66.781250  69.904910  63.586207
1980   69.893939  68.765381  63.231225
1984   66.817308  67.431288  65.467213
1988   67.815686  67.640835  64.432266
1992   67.497354  68.110131  66.448505
1996   71.186335  69.201467  66.971347
2000   70.151961  69.710613  66.092105
2004   70.391509  69.894204  66.101786
2008   72.683938  69.446746  66.369258
2012   71.795000  68.939536  67.158537
2016   72.232323  67.385732  66.605166

In [ ]:
df[(df['Sport'].isin(['Archery', 'Athletics', 'Boxing'])) & (df['Year'] > 1980)].pivot_table(index = 'Year',
                                                                     columns = 'Sport',
                                                                     values = ['Height', 'Age','Weight'],
                                                                     aggfunc = ['mean'])

In [89]:
df[(df['Sport'].isin(['Archery', 'Athletics', 'Boxing'])) & (df['Year'] > 2000) & (df['Team'].isin(['France', 'Vietnam', 'Japan']))].pivot_table(index = 'Year',
                                                                     columns = 'Sport',
                                                                     values = ['Height', 'Age','Weight'],
                                                                     aggfunc = ['mean','std'])

            mean                                                            \
             Age                            Height
Sport    Archery  Athletics     Boxing     Archery   Athletics      Boxing
Year
2004   23.916667  26.071429  23.571429  170.166667  175.446429  169.857143
2008   25.437500  26.250000  23.636364  168.000000  175.269231  175.090909
2012   23.473684  25.790909  24.777778  175.684211  174.627273  177.111111
2016   25.923077  26.151786  24.416667  172.153846  174.294643  177.416667

                                             std                      \
          Weight                             Age
Sport    Archery  Athletics     Boxing   Archery Athletics    Boxing
Year
2004   64.666667  64.937500  55.714286  5.889686  4.147537  2.992053
2008   66.437500  64.278846  64.090909  4.441753  4.035642  2.618119
2012   69.842105  64.136364  65.833333  2.912968  4.236355  2.818589
2016   79.000000  63.991071  68.666667  3.499084  4.562301  4.033008


          Height                           Weight
Sport    Archery  Athletics     Boxing    Archery  Athletics     Boxing
Year
2004    5.760938   9.267632   6.817345  10.054922  12.360414   7.910210
2008    9.514901  10.221081   8.117322  13.559591  13.155129  11.844446
2012   11.643084   9.842670  12.494443  11.041654  13.212780  20.429554
2016    9.659591  10.113445  10.891684  25.848920  12.682893  16.538293

In [51]:
results = df.groupby(['Team', 'Sport'])[['Age', 'Height', 'Weight']].agg(['mean', 'median'])
results

                                           Age             Height         \
                                          mean median        mean median
Team                  Sport
30. Februar           Sailing        33.500000   33.5  171.500000  171.5
A North American Team Polo           41.333333   42.0         NaN    NaN
Acipactli             Sailing        47.333333   46.0  174.666667  173.0
Acturus               Sailing        27.000000   27.0         NaN    NaN
Afghanistan           Athletics      22.000000   22.0  172.117647  170.0
...                                        ...    ...         ...    ...
Zimbabwe              Tennis         25.157895   26.0  173.444444  170.0
                      Triathlon      30.333333   30.0  186.333333  189.0
                      Weightlifting  37.000000   37.0  180.000000  180.0
Zut                   Sailing        32.000000   32.0         NaN    NaN
rn-2                  Sailing        29.200000   30.0  176.000000  176.0

                                        Weight
                                          mean median
Team                  Sport
30. Februar           Sailing        70.000000   70.0
A North American Team Polo                 NaN    NaN
Acipactli             Sailing        75.333333   73.0
Acturus               Sailing              NaN    NaN
Afghanistan           Athletics      62.764706   64.0
...                                        ...    ...
Zimbabwe              Tennis         67.111111   70.0
                      Triathlon      76.333333   77.0
                      Weightlifting  91.000000   91.0
Zut                   Sailing              NaN    NaN
rn-2                  Sailing        82.000000   82.0

[5202 rows x 6 columns]

In [50]:
filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

first_file = df[(df['Team'].isin(['France', 'Vietnam', 'Japan'])) & (df['Year'] > 2000)]
first_file.groupby(['Team', 'Sport'])[['Age', 'Height', 'Weight']].agg(['mean', 'median'])

                             Age             Height            Weight
                            mean median        mean median       mean median
Team    Sport
France  Alpine Skiing  26.147541   26.0  175.163934  176.0  76.368852   78.0
        Archery        23.424242   24.0  174.636364  173.0  71.727273   72.0
        Athletics      26.718894   26.0  178.336406  178.0  68.096774   68.0
        Badminton      27.333333   28.0  172.333333  169.0  64.777778   60.0
        Basketball     27.625000   27.0  191.375000  191.5  88.872340   87.0
...                          ...    ...         ...    ...        ...    ...
Vietnam Swimming       18.000000   19.0  174.000000  172.0  64.000000   60.0
        Table Tennis   27.000000   27.0  165.000000  165.0  59.000000   59.0
        Taekwondo      22.571429   23.0  178.833333  176.0  66.857143   58.0
        Weightlifting  23.111111   23.0  159.666667  160.0  59.444444   56.0
        Wrestling      23.000000   23.0  165.000000  165.0  53.000000   53.0

[111 rows x 6 columns]

In [55]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

df.loc[
df['passenger_count'] ==1
,
'trip_distance'
].mean()

3.0923380047176354

In [56]:
results = df.groupby(['passenger_count'])['trip_distance'].agg(['mean','median'])
results

                     mean  median
passenger_count
0                4.600000   4.600
1                3.092338   1.630
2                3.384387   1.800
3                3.342389   1.700
4                3.628901   2.000
5                3.182712   1.675
6                3.170976   1.670

In [61]:
#df.groupby(categorical)[numeric].aggregate()
filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

results = df.groupby('Sport')['Age'].mean().sort_values()
results

Sport
Rhythmic Gymnastics      18.737082
Swimming                 20.566803
Figure Skating           22.232190
Synchronized Swimming    22.366851
Diving                   22.481441
                           ...
Equestrianism            34.390831
Polo                     35.333333
Alpinism                 38.812500
Art Competitions         45.901009
Roque                    53.333333
Name: Age, Length: 66, dtype: float64

In [60]:
(
    df.loc[
    df['Year']>1960,
    ['Sport','Height']
    ].groupby('Sport')['Height'].max().sort_values(ascending = False)
)

Sport
Basketball                   226.0
Volleyball                   219.0
Wrestling                    214.0
Handball                     214.0
Shooting                     213.0
Sailing                      213.0
Judo                         213.0
Beach Volleyball             212.0
Rowing                       209.0
Swimming                     209.0
Athletics                    208.0
Tennis                       208.0
Fencing                      208.0
Taekwondo                    207.0
Water Polo                   206.0
Baseball                     206.0
Ice Hockey                   206.0
Weightlifting                205.0
Bobsleigh                    205.0
Canoeing                     205.0
Boxing                       205.0
Speed Skating                203.0
Cycling                      201.0
Badminton                    201.0
Ski Jumping                  200.0
Biathlon                     200.0
Alpine Skiing                200.0
Cross Country Skiing         200.0
Hockey                       200.0
Football                     200.0
Luge                         199.0
Modern Pentathlon            198.0
Softball                     198.0
Rugby Sevens                 198.0
Table Tennis                 198.0
Curling                      197.0
Equestrianism                197.0
Freestyle Skiing             197.0
Skeleton                     197.0
Archery                      197.0
Golf                         196.0
Triathlon                    196.0
Snowboarding                 194.0
Nordic Combined              193.0
Figure Skating               193.0
Short Track Speed Skating    191.0
Diving                       188.0
Synchronized Swimming        185.0
Trampolining                 185.0
Gymnastics                   185.0
Rhythmic Gymnastics          181.0
Name: Height, dtype: float64

In [62]:
(
    df.loc[
    df['Year']>1960,
    ].groupby('Sport')['Height'].max().sort_values(ascending = False)
)

Sport
Basketball                   226.0
Volleyball                   219.0
Wrestling                    214.0
Handball                     214.0
Shooting                     213.0
Sailing                      213.0
Judo                         213.0
Beach Volleyball             212.0
Rowing                       209.0
Swimming                     209.0
Athletics                    208.0
Tennis                       208.0
Fencing                      208.0
Taekwondo                    207.0
Water Polo                   206.0
Baseball                     206.0
Ice Hockey                   206.0
Weightlifting                205.0
Bobsleigh                    205.0
Canoeing                     205.0
Boxing                       205.0
Speed Skating                203.0
Cycling                      201.0
Badminton                    201.0
Ski Jumping                  200.0
Biathlon                     200.0
Alpine Skiing                200.0
Cross Country Skiing         200.0
Hockey                       200.0
Football                     200.0
Luge                         199.0
Modern Pentathlon            198.0
Softball                     198.0
Rugby Sevens                 198.0
Table Tennis                 198.0
Curling                      197.0
Equestrianism                197.0
Freestyle Skiing             197.0
Skeleton                     197.0
Archery                      197.0
Golf                         196.0
Triathlon                    196.0
Snowboarding                 194.0
Nordic Combined              193.0
Figure Skating               193.0
Short Track Speed Skating    191.0
Diving                       188.0
Synchronized Swimming        185.0
Trampolining                 185.0
Gymnastics                   185.0
Rhythmic Gymnastics          181.0
Name: Height, dtype: float64

In [65]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)
df.groupby(['passenger_count', 'VendorID'])['trip_distance'].mean()

passenger_count  VendorID
0                1           4.600000
1                1           2.956456
                 2           3.262967
2                1           3.452027
                 2           3.328849
3                1           3.588535
                 2           3.187189
4                1           3.952239
                 2           3.440522
5                1           4.933333
                 2           3.172553
6                2           3.170976
Name: trip_distance, dtype: float64

In [67]:
df.groupby(['passenger_count', 'VendorID'])['trip_distance'].mean().loc[[4,6]]

passenger_count  VendorID
4                1           3.952239
                 2           3.440522
6                2           3.170976
Name: trip_distance, dtype: float64

In [71]:
df.groupby(['passenger_count'])[['trip_distance', 'total_amount']].mean().loc[4]

trip_distance     3.628901
total_amount     18.881648
Name: 4, dtype: float64

In [72]:
df.groupby(['passenger_count'])[['trip_distance', 'total_amount']].mean()

                 trip_distance  total_amount
passenger_count
0                     4.600000     25.570000
1                     3.092338     17.368569
2                     3.384387     18.406306
3                     3.342389     17.994704
4                     3.628901     18.881648
5                     3.182712     17.211269
6                     3.170976     17.401355

In [73]:
df.groupby(['passenger_count'])[['trip_distance', 'total_amount']].agg(['mean', 'min'])

                trip_distance      total_amount
                         mean  min         mean    min
passenger_count
0                    4.600000  1.3    25.570000  14.75
1                    3.092338  0.0    17.368569  -7.80
2                    3.384387  0.0    18.406306   0.30
3                    3.342389  0.0    17.994704   4.80
4                    3.628901  0.0    18.881648   3.30
5                    3.182712  0.0    17.211269   3.30
6                    3.170976  0.0    17.401355   3.30

In [75]:
df.groupby(['passenger_count','VendorID'])[['trip_distance', 'total_amount']].agg(['mean', 'min'])

                         trip_distance      total_amount
                                  mean  min         mean    min
passenger_count VendorID
0               1             4.600000  1.3    25.570000  14.75
1               1             2.956456  0.0    16.941386   0.30
                2             3.262967  0.0    17.904989  -7.80
2               1             3.452027  0.0    19.076807   0.30
                2             3.328849  0.0    17.855770   2.30
3               1             3.588535  0.0    19.002803   4.80
                2             3.187189  0.0    17.359076   4.80
4               1             3.952239  0.0    20.518657   5.80
                2             3.440522  0.0    17.927913   3.30
5               1             4.933333  3.0    20.466667  13.80
                2             3.172553  0.0    17.192379   3.30
6               2             3.170976  0.0    17.401355   3.30

In [84]:
filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)
(
    df.loc[
    df['Year']>1960,
    ].groupby(['Team','Year'])['Height'].max().sort_values(ascending = False).head(5)
)

Team       Year
China      2008    226.0
           2000    226.0
           2004    226.0
Lithuania  1996    223.0
           1992    223.0
Name: Height, dtype: float64

In [85]:
(
    df.loc[
    df['Year']>1960,
    ].groupby('Year')['Age'].agg(['min', 'max']).loc[1980:1992]
)

       min   max
Year
1980  13.0  70.0
1984  12.0  60.0
1988  11.0  70.0
1992  11.0  62.0

In [81]:
(
    df.loc[
    df['Year']>1960,
    ].groupby('Sport')['Weight'].agg(['mean', 'median'])
)

                                mean  median
Sport
Alpine Skiing              72.355652   72.00
Archery                    70.011135   69.00
Athletics                  68.856625   66.00
Badminton                  68.171439   68.00
Baseball                   85.707792   85.00
Basketball                 85.991241   85.00
Beach Volleyball           79.089219   78.00
Biathlon                   66.617455   67.00
Bobsleigh                  89.342215   90.00
Boxing                     65.174945   63.00
Canoeing                   76.673942   77.00
Cross Country Skiing       65.843759   66.00
Curling                    72.131707   72.00
Cycling                    70.046795   70.00
Diving                     60.564343   60.00
Equestrianism              67.739285   68.00
Fencing                    71.294299   72.00
Figure Skating             59.616803   57.00
Football                   70.362723   71.00
Freestyle Skiing           67.026835   65.00
Golf                       71.194444   70.00
Gymnastics                 56.290278   58.00
Handball                   81.501950   82.00
Hockey                     69.029942   69.00
Ice Hockey                 81.136660   82.00
Judo                       78.759867   73.00
Luge                       77.264151   77.00
Modern Pentathlon          70.201087   71.00
Nordic Combined            66.822581   67.00
Rhythmic Gymnastics        48.760976   49.00
Rowing                     80.358607   82.75
Rugby Sevens               78.939799   76.00
Sailing                    75.863493   74.00
Shooting                   73.839537   74.00
Short Track Speed Skating  64.310484   63.00
Skeleton                   74.086705   76.00
Ski Jumping                64.995011   65.00
Snowboarding               69.549189   68.00
Softball                   67.471655   66.00
Speed Skating              70.221248   70.00
Swimming                   70.611769   70.00
Synchronized Swimming      55.863529   55.00
Table Tennis               64.956449   64.00
Taekwondo                  68.007475   67.00
Tennis                     70.803114   70.00
Trampolining               59.322148   58.00
Triathlon                  61.817490   61.00
Volleyball                 78.900214   78.00
Water Polo                 84.670780   85.00
Weightlifting              79.683639   75.00
Wrestling                  75.760428   72.00

In [87]:
results = (
    df.loc[
    df['Year']>1960,
    ].groupby(['Year','Team'])['Height'].agg(['mean', 'max']).loc[1980:1992]
)
results

                         mean    max
Year Team
1980 Afghanistan   168.363636  178.0
     Algeria       175.450000  192.0
     Andorra       176.600000  184.0
     Angola        171.705882  183.0
     Argentina     175.250000  178.0
...                       ...    ...
1992 Yugoslavia    181.375000  193.0
     Yugoslavia-1  183.000000  183.0
     Yugoslavia-2  183.000000  183.0
     Zambia        169.714286  190.0
     Zimbabwe      171.142857  180.0

[740 rows x 2 columns]

In [88]:
results.xs('United States', level = 'Team')

            mean    max
Year
1980  175.023622  193.0
1984  176.877451  213.0
1988  176.621993  216.0
1992  176.395676  216.0

In [93]:
df.pivot_table(index = 'Team',
               columns = 'Year',
               values = ['Age'],
               aggfunc = ['mean'])

                      mean                                                   \
                       Age
Year                  1896       1900 1904 1906  1908  1912 1920 1924  1928
Team
30. Februar            NaN        NaN  NaN  NaN   NaN   NaN  NaN  NaN   NaN
A North American Team  NaN  41.333333  NaN  NaN   NaN   NaN  NaN  NaN   NaN
Acipactli              NaN        NaN  NaN  NaN   NaN   NaN  NaN  NaN   NaN
Acturus                NaN        NaN  NaN  NaN   NaN   NaN  NaN  NaN   NaN
Afghanistan            NaN        NaN  NaN  NaN   NaN   NaN  NaN  NaN   NaN
...                    ...        ...  ...  ...   ...   ...  ...  ...   ...
Zambia                 NaN        NaN  NaN  NaN   NaN   NaN  NaN  NaN   NaN
Zefyros                NaN        NaN  NaN  NaN   NaN   NaN  NaN  NaN   NaN
Zimbabwe               NaN        NaN  NaN  NaN   NaN   NaN  NaN  NaN  20.0
Zut                    NaN        NaN  NaN  NaN  32.0   NaN  NaN  NaN   NaN
rn-2                   NaN        NaN  NaN  NaN   NaN  29.2  NaN  NaN   NaN

                            ...                                                \
                            ...
Year                  1932  ... 1998       2000 2002       2004 2006     2008
Team                        ...
30. Februar            NaN  ...  NaN        NaN  NaN        NaN  NaN      NaN
A North American Team  NaN  ...  NaN        NaN  NaN        NaN  NaN      NaN
Acipactli              NaN  ...  NaN        NaN  NaN        NaN  NaN      NaN
Acturus                NaN  ...  NaN        NaN  NaN        NaN  NaN      NaN
Afghanistan            NaN  ...  NaN        NaN  NaN  18.600000  NaN  22.5000
...                    ...  ...  ...        ...  ...        ...  ...      ...
Zambia                 NaN  ...  NaN  23.000000  NaN  22.500000  NaN  21.8750
Zefyros                NaN  ...  NaN        NaN  NaN        NaN  NaN      NaN
Zimbabwe               NaN  ...  NaN  24.961538  NaN  25.071429  NaN  26.0625
Zut                    NaN  ...  NaN        NaN  NaN        NaN  NaN      NaN
rn-2                   NaN  ...  NaN        NaN  NaN        NaN  NaN      NaN



Year                  2010       2012  2014       2016
Team
30. Februar            NaN        NaN   NaN        NaN
A North American Team  NaN        NaN   NaN        NaN
Acipactli              NaN        NaN   NaN        NaN
Acturus                NaN        NaN   NaN        NaN
Afghanistan            NaN  24.833333   NaN  24.666667
...                    ...        ...   ...        ...
Zambia                 NaN  22.571429   NaN  24.142857
Zefyros                NaN        NaN   NaN        NaN
Zimbabwe               NaN  27.333333  20.0  27.483871
Zut                    NaN        NaN   NaN        NaN
rn-2                   NaN        NaN   NaN        NaN

[1109 rows x 35 columns]

In [104]:
df.loc[df['Year']>1980],
df.pivot_table(index = 'Sport',
               columns = 'Team',
               values = ['Weight'],
               aggfunc = ['min','max'])

                                  min                                          \
                               Weight
Team                      30. Februar Acipactli Afghanistan Akatonbo Alain IV
Sport
Alpine Skiing                     NaN       NaN         NaN      NaN      NaN
Archery                           NaN       NaN         NaN      NaN      NaN
Art Competitions                  NaN       NaN         NaN      NaN      NaN
Athletics                         NaN       NaN        52.0      NaN      NaN
Badminton                         NaN       NaN         NaN      NaN      NaN
Baseball                          NaN       NaN         NaN      NaN      NaN
Basketball                        NaN       NaN         NaN      NaN      NaN
Beach Volleyball                  NaN       NaN         NaN      NaN      NaN
Biathlon                          NaN       NaN         NaN      NaN      NaN
Bobsleigh                         NaN       NaN         NaN      NaN      NaN
Boxing                            NaN       NaN        51.0      NaN      NaN
Canoeing                          NaN       NaN         NaN      NaN      NaN
Cross Country Skiing              NaN       NaN         NaN      NaN      NaN
Curling                           NaN       NaN         NaN      NaN      NaN
Cycling                           NaN       NaN         NaN      NaN      NaN
Diving                            NaN       NaN         NaN      NaN      NaN
Equestrianism                     NaN       NaN         NaN      NaN      NaN
Fencing                           NaN       NaN         NaN      NaN      NaN
Figure Skating                    NaN       NaN         NaN      NaN      NaN
Football                          NaN       NaN         NaN      NaN      NaN
Freestyle Skiing                  NaN       NaN         NaN      NaN      NaN
Golf                              NaN       NaN         NaN      NaN      NaN
Gymnastics                        NaN       NaN         NaN      NaN      NaN
Handball                          NaN       NaN         NaN      NaN      NaN
Hockey                            NaN       NaN         NaN      NaN      NaN
Ice Hockey                        NaN       NaN         NaN      NaN      NaN
Judo                              NaN       NaN        66.0      NaN      NaN
Lacrosse                          NaN       NaN         NaN      NaN      NaN
Luge                              NaN       NaN         NaN      NaN      NaN
Modern Pentathlon                 NaN       NaN         NaN      NaN      NaN
Motorboating                      NaN       NaN         NaN      NaN      NaN
Nordic Combined                   NaN       NaN         NaN      NaN      NaN
Rhythmic Gymnastics               NaN       NaN         NaN      NaN      NaN
Rowing                            NaN       NaN         NaN      NaN      NaN
Rugby                             NaN       NaN         NaN      NaN      NaN
Rugby Sevens                      NaN       NaN         NaN      NaN      NaN
Sailing                          70.0      69.0         NaN     68.0     70.0
Shooting                          NaN       NaN         NaN      NaN      NaN
Short Track Speed Skating         NaN       NaN         NaN      NaN      NaN
Skeleton                          NaN       NaN         NaN      NaN      NaN
Ski Jumping                       NaN       NaN         NaN      NaN      NaN
Snowboarding                      NaN       NaN         NaN      NaN      NaN
Softball                          NaN       NaN         NaN      NaN      NaN
Speed Skating                     NaN       NaN         NaN      NaN      NaN
Swimming                          NaN       NaN         NaN      NaN      NaN
Synchronized Swimming             NaN       NaN         NaN      NaN      NaN
Table Tennis                      NaN       NaN         NaN      NaN      NaN
Taekwondo                         NaN       NaN        63.0      NaN      NaN
Tennis                            NaN       NaN         NaN      NaN      NaN
Trampolining                      NaN       NaN         NaN      NaN      NaN
Triathlon                         NaN       NaN         NaN      NaN      NaN
Tug-Of-War                        NaN       NaN         NaN      NaN      NaN
Volleyball                        NaN       NaN         NaN      NaN      NaN
Water Polo                        NaN       NaN         NaN      NaN      NaN
Weightlifting                     NaN       NaN         NaN      NaN      NaN
Wrestling                         NaN       NaN        48.0      NaN      NaN

                                                                         ...  \
                                                                         ...
Team                      Albania Aldebaran Aldebaran II Aletta Algeria  ...
Sport                                                                    ...
Alpine Skiing                56.0       NaN          NaN    NaN    59.0  ...
Archery                       NaN       NaN          NaN    NaN     NaN  ...
Art Competitions              NaN       NaN          NaN    NaN     NaN  ...
Athletics                    45.0       NaN          NaN    NaN    48.0  ...
Badminton                     NaN       NaN          NaN    NaN    82.0  ...
Baseball                      NaN       NaN          NaN    NaN     NaN  ...
Basketball                    NaN       NaN          NaN    NaN     NaN  ...
Beach Volleyball              NaN       NaN          NaN    NaN     NaN  ...
Biathlon                      NaN       NaN          NaN    NaN     NaN  ...
Bobsleigh                     NaN       NaN          NaN    NaN     NaN  ...
Boxing                        NaN       NaN          NaN    NaN    48.0  ...
Canoeing                      NaN       NaN          NaN    NaN     NaN  ...
Cross Country Skiing          NaN       NaN          NaN    NaN    65.0  ...
Curling                       NaN       NaN          NaN    NaN     NaN  ...
Cycling                      82.0       NaN          NaN    NaN    66.0  ...
Diving                        NaN       NaN          NaN    NaN     NaN  ...
Equestrianism                 NaN       NaN          NaN    NaN     NaN  ...
Fencing                       NaN       NaN          NaN    NaN    52.0  ...
Figure Skating                NaN       NaN          NaN    NaN     NaN  ...
Football                      NaN       NaN          NaN    NaN    60.0  ...
Freestyle Skiing              NaN       NaN          NaN    NaN     NaN  ...
Golf                          NaN       NaN          NaN    NaN     NaN  ...
Gymnastics                    NaN       NaN          NaN    NaN    50.0  ...
Handball                      NaN       NaN          NaN    NaN    69.0  ...
Hockey                        NaN       NaN          NaN    NaN     NaN  ...
Ice Hockey                    NaN       NaN          NaN    NaN     NaN  ...
Judo                         52.0       NaN          NaN    NaN    48.0  ...
Lacrosse                      NaN       NaN          NaN    NaN     NaN  ...
Luge                          NaN       NaN          NaN    NaN     NaN  ...
Modern Pentathlon             NaN       NaN          NaN    NaN     NaN  ...
Motorboating                  NaN       NaN          NaN    NaN     NaN  ...
Nordic Combined               NaN       NaN          NaN    NaN     NaN  ...
Rhythmic Gymnastics           NaN       NaN          NaN    NaN     NaN  ...
Rowing                        NaN       NaN          NaN    NaN    60.0  ...
Rugby                         NaN       NaN          NaN    NaN     NaN  ...
Rugby Sevens                  NaN       NaN          NaN    NaN     NaN  ...
Sailing                       NaN      74.0         77.0   63.0    64.0  ...
Shooting                     52.0       NaN          NaN    NaN    74.0  ...
Short Track Speed Skating     NaN       NaN          NaN    NaN     NaN  ...
Skeleton                      NaN       NaN          NaN    NaN     NaN  ...
Ski Jumping                   NaN       NaN          NaN    NaN     NaN  ...
Snowboarding                  NaN       NaN          NaN    NaN     NaN  ...
Softball                      NaN       NaN          NaN    NaN     NaN  ...
Speed Skating                 NaN       NaN          NaN    NaN     NaN  ...
Swimming                     54.0       NaN          NaN    NaN    57.0  ...
Synchronized Swimming         NaN       NaN          NaN    NaN     NaN  ...
Table Tennis                  NaN       NaN          NaN    NaN    50.0  ...
Taekwondo                     NaN       NaN          NaN    NaN    57.0  ...
Tennis                        NaN       NaN          NaN    NaN    75.0  ...
Trampolining                  NaN       NaN          NaN    NaN    70.0  ...
Triathlon                     NaN       NaN          NaN    NaN     NaN  ...
Tug-Of-War                    NaN       NaN          NaN    NaN     NaN  ...
Volleyball                    NaN       NaN          NaN    NaN    45.0  ...
Water Polo                    NaN       NaN          NaN    NaN     NaN  ...
Weightlifting                52.0       NaN          NaN    NaN    56.0  ...
Wrestling                    65.0       NaN          NaN    NaN    52.0  ...

                                max                                    \
                             Weight
Team                      Ylliam II Ylliam VII Ylliam VIII Yugoslavia
Sport
Alpine Skiing                   NaN        NaN         NaN       90.0
Archery                         NaN        NaN         NaN       76.0
Art Competitions                NaN        NaN         NaN        NaN
Athletics                       NaN        NaN         NaN      128.0
Badminton                       NaN        NaN         NaN        NaN
Baseball                        NaN        NaN         NaN        NaN
Basketball                      NaN        NaN         NaN      130.0
Beach Volleyball                NaN        NaN         NaN        NaN
Biathlon                        NaN        NaN         NaN       76.0
Bobsleigh                       NaN        NaN         NaN       93.0
Boxing                          NaN        NaN         NaN       99.0
Canoeing                        NaN        NaN         NaN       85.0
Cross Country Skiing            NaN        NaN         NaN       83.0
Curling                         NaN        NaN         NaN        NaN
Cycling                         NaN        NaN         NaN       86.0
Diving                          NaN        NaN         NaN        NaN
Equestrianism                   NaN        NaN         NaN       74.0
Fencing                         NaN        NaN         NaN       81.0
Figure Skating                  NaN        NaN         NaN       68.0
Football                        NaN        NaN         NaN       96.0
Freestyle Skiing                NaN        NaN         NaN        NaN
Golf                            NaN        NaN         NaN        NaN
Gymnastics                      NaN        NaN         NaN       75.0
Handball                        NaN        NaN         NaN      105.0
Hockey                          NaN        NaN         NaN        NaN
Ice Hockey                      NaN        NaN         NaN       90.0
Judo                            NaN        NaN         NaN      125.0
Lacrosse                        NaN        NaN         NaN        NaN
Luge                            NaN        NaN         NaN       77.0
Modern Pentathlon               NaN        NaN         NaN        NaN
Motorboating                    NaN        NaN         NaN        NaN
Nordic Combined                 NaN        NaN         NaN       73.0
Rhythmic Gymnastics             NaN        NaN         NaN       52.0
Rowing                          NaN        NaN         NaN       99.0
Rugby                           NaN        NaN         NaN        NaN
Rugby Sevens                    NaN        NaN         NaN        NaN
Sailing                        78.0       98.0        98.0       94.0
Shooting                        NaN        NaN         NaN       84.0
Short Track Speed Skating       NaN        NaN         NaN        NaN
Skeleton                        NaN        NaN         NaN        NaN
Ski Jumping                     NaN        NaN         NaN       82.0
Snowboarding                    NaN        NaN         NaN        NaN
Softball                        NaN        NaN         NaN        NaN
Speed Skating                   NaN        NaN         NaN       88.0
Swimming                        NaN        NaN         NaN       92.0
Synchronized Swimming           NaN        NaN         NaN        NaN
Table Tennis                    NaN        NaN         NaN       86.0
Taekwondo                       NaN        NaN         NaN        NaN
Tennis                          NaN        NaN         NaN       96.0
Trampolining                    NaN        NaN         NaN        NaN
Triathlon                       NaN        NaN         NaN        NaN
Tug-Of-War                      NaN        NaN         NaN        NaN
Volleyball                      NaN        NaN         NaN       96.0
Water Polo                      NaN        NaN         NaN      115.0
Weightlifting                   NaN        NaN         NaN       82.0
Wrestling                       NaN        NaN         NaN      128.0

                                                                             \

Team                      Yugoslavia-1 Yugoslavia-2 Zambia Zefyros Zimbabwe
Sport
Alpine Skiing                      NaN          NaN    NaN     NaN     81.0
Archery                            NaN          NaN    NaN     NaN     92.0
Art Competitions                   NaN          NaN    NaN     NaN      NaN
Athletics                          NaN          NaN   81.0     NaN     89.0
Badminton                          NaN          NaN   70.0     NaN      NaN
Baseball                           NaN          NaN    NaN     NaN      NaN
Basketball                         NaN          NaN    NaN     NaN      NaN
Beach Volleyball                   NaN          NaN    NaN     NaN      NaN
Biathlon                           NaN          NaN    NaN     NaN      NaN
Bobsleigh                         98.0         93.0    NaN     NaN      NaN
Boxing                             NaN          NaN   75.0     NaN     75.0
Canoeing                          70.0         73.0    NaN     NaN      NaN
Cross Country Skiing               NaN          NaN    NaN     NaN      NaN
Curling                            NaN          NaN    NaN     NaN      NaN
Cycling                            NaN          NaN    NaN     NaN     80.0
Diving                             NaN          NaN    NaN     NaN     91.0
Equestrianism                      NaN          NaN    NaN     NaN     51.0
Fencing                            NaN          NaN   57.0     NaN      NaN
Figure Skating                     NaN          NaN    NaN     NaN      NaN
Football                           NaN          NaN   80.0     NaN     69.0
Freestyle Skiing                   NaN          NaN    NaN     NaN      NaN
Golf                               NaN          NaN    NaN     NaN      NaN
Gymnastics                         NaN          NaN    NaN     NaN      NaN
Handball                           NaN          NaN    NaN     NaN      NaN
Hockey                             NaN          NaN    NaN     NaN     81.0
Ice Hockey                         NaN          NaN    NaN     NaN      NaN
Judo                               NaN          NaN   95.0     NaN     99.0
Lacrosse                           NaN          NaN    NaN     NaN      NaN
Luge                               NaN          NaN    NaN     NaN      NaN
Modern Pentathlon                  NaN          NaN    NaN     NaN      NaN
Motorboating                       NaN          NaN    NaN     NaN      NaN
Nordic Combined                    NaN          NaN    NaN     NaN      NaN
Rhythmic Gymnastics                NaN          NaN    NaN     NaN      NaN
Rowing                             NaN          NaN    NaN     NaN     87.0
Rugby                              NaN          NaN    NaN     NaN      NaN
Rugby Sevens                       NaN          NaN    NaN     NaN      NaN
Sailing                            NaN          NaN    NaN    85.0     94.0
Shooting                           NaN          NaN    NaN     NaN    106.0
Short Track Speed Skating          NaN          NaN    NaN     NaN      NaN
Skeleton                           NaN          NaN    NaN     NaN      NaN
Ski Jumping                        NaN          NaN    NaN     NaN      NaN
Snowboarding                       NaN          NaN    NaN     NaN      NaN
Softball                           NaN          NaN    NaN     NaN      NaN
Speed Skating                      NaN          NaN    NaN     NaN      NaN
Swimming                           NaN          NaN   79.0     NaN    100.0
Synchronized Swimming              NaN          NaN    NaN     NaN      NaN
Table Tennis                       NaN          NaN    NaN     NaN      NaN
Taekwondo                          NaN          NaN    NaN     NaN      NaN
Tennis                             NaN          NaN    NaN     NaN     75.0
Trampolining                       NaN          NaN    NaN     NaN      NaN
Triathlon                          NaN          NaN    NaN     NaN     77.0
Tug-Of-War                         NaN          NaN    NaN     NaN      NaN
Volleyball                         NaN          NaN    NaN     NaN      NaN
Water Polo                         NaN          NaN    NaN     NaN      NaN
Weightlifting                      NaN          NaN    NaN     NaN     91.0
Wrestling                          NaN          NaN   85.0     NaN      NaN



Team                       rn-2
Sport
Alpine Skiing               NaN
Archery                     NaN
Art Competitions            NaN
Athletics                   NaN
Badminton                   NaN
Baseball                    NaN
Basketball                  NaN
Beach Volleyball            NaN
Biathlon                    NaN
Bobsleigh                   NaN
Boxing                      NaN
Canoeing                    NaN
Cross Country Skiing        NaN
Curling                     NaN
Cycling                     NaN
Diving                      NaN
Equestrianism               NaN
Fencing                     NaN
Figure Skating              NaN
Football                    NaN
Freestyle Skiing            NaN
Golf                        NaN
Gymnastics                  NaN
Handball                    NaN
Hockey                      NaN
Ice Hockey                  NaN
Judo                        NaN
Lacrosse                    NaN
Luge                        NaN
Modern Pentathlon           NaN
Motorboating                NaN
Nordic Combined             NaN
Rhythmic Gymnastics         NaN
Rowing                      NaN
Rugby                       NaN
Rugby Sevens                NaN
Sailing                    82.0
Shooting                    NaN
Short Track Speed Skating   NaN
Skeleton                    NaN
Ski Jumping                 NaN
Snowboarding                NaN
Softball                    NaN
Speed Skating               NaN
Swimming                    NaN
Synchronized Swimming       NaN
Table Tennis                NaN
Taekwondo                   NaN
Tennis                      NaN
Trampolining                NaN
Triathlon                   NaN
Tug-Of-War                  NaN
Volleyball                  NaN
Water Polo                  NaN
Weightlifting               NaN
Wrestling                   NaN

[56 rows x 1360 columns]

In [9]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
filename =  '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

(
df.
    loc[1982:1992]
    .pivot_table(index = 'Sport',
               columns = 'Team',
               values = ['Weight'],
               aggfunc = ['min','max']
                )

SyntaxError: invalid syntax (610645745.py, line 9)

In [12]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
filename =  '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

#cleaning data
#NaN & nullable types

s = Series([58,'NaN',27,'NaN',75,'NaN',90], index = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'])
s

Mon       58
Tues     NaN
Wed       27
Thurs    NaN
Fri       75
Sat      NaN
Sun       90
dtype: object

In [14]:
s.dropna()

Mon       58
Tues     NaN
Wed       27
Thurs    NaN
Fri       75
Sat      NaN
Sun       90
dtype: object

In [20]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

s.loc[['Wed', 'Sat']] = np.nan
s

Mon       58
Tues     NaN
Wed      NaN
Thurs    NaN
Fri       75
Sat      NaN
Sun       90
dtype: object

In [22]:
s.fillna(s.mean())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

np.random.seed(0)
df = dataFrame(np.random.randit(-500,500.[3,4]), index = list('abcd'),columns = list('wxyz'))
df

In [1]:
df.mean()

NameError: name 'df' is not defined

In [5]:
import pandas as pd
filename = '../data/boston,ma.csv'

df = pd.read_csv(filename)
df

,date_time,"boston,ma_maxtempC","boston,ma_mintempC","boston,ma_totalSnow_cm","boston,ma_sunHour","boston,ma_uvIndex","boston,ma_uvIndex.1","boston,ma_moon_illumination","boston,ma_moonrise","boston,ma_moonset",...,"boston,ma_WindChillC","boston,ma_WindGustKmph","boston,ma_cloudcover","boston,ma_humidity","boston,ma_precipMM","boston,ma_pressure","boston,ma_tempC","boston,ma_visibility","boston,ma_winddirDegree","boston,ma_windspeedKmph"
0,2018-12-11 00:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,...,-3,10,0,57,0.0,1022,-3,10,339,8
1,2018-12-11 03:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,...,-1,7,2,57,0.0,1023,-3,10,319,6
2,2018-12-11 06:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,...,-5,8,4,60,0.0,1023,-4,10,334,7
3,2018-12-11 09:00:00,1,-4,0.0,8.7,2,2,21,10:19 AM,08:12 PM,...,1,3,6,49,0.0,1022,-1,10,334,3
4,2018-12-11 12:00:00,1,-4,0.0,8.7,2,2,21,10:19 AM,08:12 PM,...,4,6,2,44,0.0,1018,1,10,229,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,2019-03-11 09:00:00,8,2,0.0,8.7,2,2,32,08:44 AM,10:48 PM,...,0,28,13,74,0.0,1004,4,10,261,21
724,2019-03-11 12:00:00,8,2,0.0,8.7,2,2,32,08:44 AM,10:48 PM,...,1,28,28,68,0.0,1003,5,10,263,19
725,2019-03-11 15:00:00,8,2,0.0,8.7,2,3,32,08:44 AM,10:48 PM,...,4,31,31,62,0.0,1004,6,10,268,20
726,2019-03-11 18:00:00,8,2,0.0,8.7,2,0,32,08:44 AM,10:48 PM,...,6,33,36,60,0.0,1010,7,10,265,21
727,2019-03-11 21:00:00,8,2,0.0,8.7,2,0,32,08:44 AM,10:48 PM,...,0,36,9,66,0.0,1012,4,10,271,20

In [8]:
df.dropna(thresh=5, 
          subset=['maxtempC', 'mintempC'])

KeyError: ['maxtemp', 'mintemp']

In [2]:
import pandas as pd
from pandas import Series, DataFrame
filename = '../data/winemag-150k-reviews.csv'
df = pd.read_csv(filename)
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Seleccin Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodrguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bgude, named aft...",La Brlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bgude

In [3]:
df['description'].str.lower()

0         this tremendous 100% varietal wine hails from ...
1         ripe aromas of fig, blackberry and cassis are ...
2         mac watson honors the memory of a wine once ma...
3         this spent 20 months in 30% new french oak, an...
4         this is the top wine from la bgude, named aft...
                                ...
150925    many people feel fiano represents southern ita...
150926    offers an intriguing nose with ginger, lime an...
150927    this classic example comes from a cru vineyard...
150928    a perfect salmon shade, with scents of peaches...
150929    more pinot grigios should taste like this. a r...
Name: description, Length: 150930, dtype: object

In [5]:
df['description'].str.upper()
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Seleccin Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodrguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bgude, named aft...",La Brlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bgude

In [6]:
df = pd.read_csv(filename)
df.loc[df['description'].str.contains('x')]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bgude, named aft...",La Brlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bgude
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,6,Spain,Slightly gritty black-fruit aromas include a s...,San Romn,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
...,...,...,...,...,...,...,...,...,...,...,...
150921,150921,France,Shows some older notes: a bouquet of toasted w...,Blanc de Blancs Brut Mosaque,91,38.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150922,150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150923,150923,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150924,150924,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,NaN,Champagne Blend,Heidsieck & Co Monopole
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora

In [22]:
import pandas as pd
filename = '../data/taxi.csv'
df = pd.read_csv(filename)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [23]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [24]:
pd.to_datetime(df['tpep_pickup_datetime'])

0      2015-06-02 11:19:29
1      2015-06-02 11:19:30
2      2015-06-02 11:19:31
3      2015-06-02 11:19:31
4      2015-06-02 11:19:32
               ...
9994   2015-06-01 00:12:59
9995   2015-06-01 00:12:59
9996   2015-06-01 00:13:00
9997   2015-06-01 00:13:02
9998   2015-06-01 00:13:04
Name: tpep_pickup_datetime, Length: 9999, dtype: datetime64[ns]

In [27]:
!head ../data/chicago,il.csv
C

date_time,"chicago,il_maxtempC","chicago,il_mintempC","chicago,il_totalSnow_cm","chicago,il_sunHour","chicago,il_uvIndex","chicago,il_uvIndex","chicago,il_moon_illumination","chicago,il_moonrise","chicago,il_moonset","chicago,il_sunrise","chicago,il_sunset","chicago,il_DewPointC","chicago,il_FeelsLikeC","chicago,il_HeatIndexC","chicago,il_WindChillC","chicago,il_WindGustKmph","chicago,il_cloudcover","chicago,il_humidity","chicago,il_precipMM","chicago,il_pressure","chicago,il_tempC","chicago,il_visibility","chicago,il_winddirDegree","chicago,il_windspeedKmph"
2018-12-11 00:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-5,-7,-1,-7,33,0,76,0.0,1021,-1,10,231,22
2018-12-11 03:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-4,-6,-1,-6,33,0,80,0.0,1021,-1,10,243,21
2018-12-11 06:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-5,-8,-2,-8,28,5,83,0.0,1020,-2,10,240,19
2018-12-11 09:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-5,-6,-1,-6,23,15,77,0.0,1019,-1,10,262,16
2018-12-11 12:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-3,-1,1,-1,8,19,71,0.0,1018,1,10,271,6
2018-12-11 15:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-4,0,1,0,5,17,70,0.0,1018,1,10,30,4
2018-12-11 18:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-3,-3,0,-3,17,35,80,0.0,1019,-0,10,80,10
2018-12-11 21:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-3,-5,-0,-5,22,22,84,0.0,1018,-0,10,118,13
2018-12-12 00:00:00,3,-1,0.0,8.7,2,0,29,11:02 AM,09:20 PM,07:09 AM,04:20 PM,-2,-4,0,-4,25,55,83,0.0,1016,0,10,131,13

3139818

In [30]:
filename = '../data/chicago,il.csv'
df = pd.read_csv(filename,
                 parse_dates= ['date_time'])

In [31]:
df['date_time'].dt.day

0      11
1      11
2      11
3      11
4      11
       ..
723    11
724    11
725    11
726    11
727    11
Name: date_time, Length: 728, dtype: int32

In [33]:
df['date_time'].dt.day_name()

0      Tuesday
1      Tuesday
2      Tuesday
3      Tuesday
4      Tuesday
        ...
723     Monday
724     Monday
725     Monday
726     Monday
727     Monday
Name: date_time, Length: 728, dtype: object

In [34]:
df['date_time'].dt.is_leap_year

0      False
1      False
2      False
3      False
4      False
       ...
723    False
724    False
725    False
726    False
727    False
Name: date_time, Length: 728, dtype: bool

In [35]:
df['date_time'].dt.is_quarter_end

0      False
1      False
2      False
3      False
4      False
       ...
723    False
724    False
725    False
726    False
727    False
Name: date_time, Length: 728, dtype: bool

In [36]:
df.loc[
        df['date_time'].dt.hour ==9,
        ['chicago,il_maxtempC', 'chicago,il_mintempC']
]

     chicago,il_maxtempC  chicago,il_mintempC
3                      1                   -2
11                     3                   -1
19                     3                   -1
27                     3                    2
35                     4                    1
..                   ...                  ...
691                   -3                   -7
699                    2                   -4
707                    3                   -4
715                    3                   -1
723                    3                   -2

[91 rows x 2 columns]

In [37]:
df.groupby(df['date_time'].dt.hour)['chicago,il_maxtempC'].mean()

date_time
0    -0.736264
3    -0.736264
6    -0.736264
9    -0.736264
12   -0.736264
15   -0.736264
18   -0.736264
21   -0.736264
Name: chicago,il_maxtempC, dtype: float64

In [38]:
df.groupby(df['date_time'].dt.hour)['chicago,il_maxtempC'].describe()

           count      mean       std   min  25%  50%  75%  max
date_time
0           91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0
3           91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0
6           91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0
9           91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0
12          91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0
15          91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0
18          91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0
21          91.0 -0.736264  6.158707 -25.0 -3.0  0.0  3.0  9.0

In [45]:
import pandas as pd
filename = '../data/taxi.csv'
df = pd.read_csv(filename)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [47]:
df = pd.read_csv(filename,
                 parse_dates=['tpep_pickup_datetime',
                              'tpep_dropoff_datetime'])
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [48]:
df.groupby(df['tpep_pickup_datetime'].dt.hour)['trip_distance'].mean()

tpep_pickup_datetime
0     4.312809
11    2.661199
15    2.986285
16    2.852166
Name: trip_distance, dtype: float64

In [50]:
df.groupby(df['tpep_pickup_datetime'].dt.hour)['total_amount'].sum()

tpep_pickup_datetime
0     46176.82
11    72894.89
15    47059.46
16     9376.00
Name: total_amount, dtype: float64

In [53]:
df['trip_time'] = df['tpep_dropoff_datetime'] -df['tpep_pickup_datetime']
df.loc[df['trip_time']< '10 minutes']

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip+time,trip_time
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,...,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,0 days 00:08:26,0 days 00:08:26
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,...,1,8.0,0.0,0.5,1.75,0.0,0.3,10.55,0 days 00:09:15,0 days 00:09:15
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,...,1,5.0,0.0,0.5,0.50,0.0,0.3,6.30,0 days 00:04:12,0 days 00:04:12
10,2,2015-06-02 11:19:38,2015-06-02 11:19:43,3,0.01,0.000000,0.000000,2,N,0.000000,...,2,52.0,0.0,0.5,0.00,0.0,0.3,52.80,0 days 00:00:05,0 days 00:00:05
13,1,2015-06-02 11:19:41,2015-06-02 11:23:56,2,0.50,-73.954803,40.765667,1,N,-73.962517,...,1,4.5,0.0,0.5,1.30,0.0,0.3,6.60,0 days 00:04:15,0 days 00:04:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,1,2015-06-01 00:13:36,2015-06-01 00:19:18,1,1.40,-73.983498,40.726173,1,N,-73.985840,...,1,6.5,0.5,0.5,0.50,0.0,0.3,8.30,0 days 00:05:42,0 days 00:05:42
9988,1,2015-06-01 00:13:39,2015-06-01 00:18:22,1,0.90,-73.997124,40.747105,1,N,-73.986977,...,1,5.5,0.5,0.5,1.70,0.0,0.3,8.50,0 days 00:04:43,0 days 00:04:43
9989,2,2015-06-01 00:13:41,2015-06-01 00:17:44,6,1.34,-74.005898,40.735851,1,N,-73.991318,...,1,6.0,0.5,0.5,1.46,0.0,0.3,8.76,0 days 00:04:03,0 days 00:04:03
9991,2,2015-06-01 00:13:43,2015-06-01 00:21:49,1,1.48,-73.988739,40.756950,1,N,-73.976860,...,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0 days 00:08:06,0 days 00:08:06
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,...,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0 days 00:06:08,0 days 00:06:08

In [56]:
df.loc[df['trip_time'] < pd.Timedelta('1 minutes')]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip+time,trip_time
10,2,2015-06-02 11:19:38,2015-06-02 11:19:43,3,0.01,0.000000,0.000000,2,N,0.000000,...,2,52.0,0.0,0.5,0.00,0.00,0.3,52.80,0 days 00:00:05,0 days 00:00:05
149,1,2015-06-02 11:21:25,2015-06-02 11:21:50,1,0.00,-73.978493,40.748562,1,N,-73.978493,...,1,2.5,0.0,0.5,1.00,0.00,0.3,4.30,0 days 00:00:25,0 days 00:00:25
297,2,2015-06-02 11:20:23,2015-06-02 11:20:23,2,0.00,-73.937851,40.758236,1,N,0.000000,...,2,1.5,0.0,0.5,0.00,0.00,0.3,2.30,0 days 00:00:00,0 days 00:00:00
516,2,2015-06-02 11:21:14,2015-06-02 11:22:03,1,0.03,-73.991943,40.740261,1,N,-73.991463,...,1,2.5,0.0,0.5,0.66,0.00,0.3,3.96,0 days 00:00:49,0 days 00:00:49
657,1,2015-06-02 11:24:33,2015-06-02 11:24:50,1,0.00,-73.996460,40.732124,5,N,-73.996429,...,1,12.0,0.0,0.0,3.05,0.00,0.3,15.35,0 days 00:00:17,0 days 00:00:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9452,1,2015-06-01 00:10:45,2015-06-01 00:11:28,1,0.10,-73.962044,40.761909,1,N,-73.960907,...,3,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0 days 00:00:43,0 days 00:00:43
9693,2,2015-06-01 00:11:08,2015-06-01 00:11:08,1,5.03,-73.991440,40.731533,1,N,-73.967010,...,1,16.0,0.5,0.5,1.50,0.00,0.3,18.80,0 days 00:00:00,0 days 00:00:00
9761,1,2015-06-01 00:12:46,2015-06-01 00:12:46,1,0.00,-73.999535,40.738533,1,N,0.000000,...,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80,0 days 00:00:00,0 days 00:00:00
9868,1,2015-06-01 00:12:31,2015-06-01 00:12:56,2,2.40,-73.984634,40.759377,2,N,-73.984604,...,2,52.0,0.0,0.5,0.00,5.54,0.3,58.34,0 days 00:00:25,0 days 00:00:25
9937,1,2015-06-01 00:13:22,2015-06-01 00:14:18,1,0.10,-73.921005,40.861507,1,N,-73.920448,...,3,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0 days 00:00:56,0 days 00:00:56

In [59]:
df.loc[df['trip_time'] > pd.Timedelta('1 hour')]['trip_distance'].mean()

16.294117647058822

In [60]:
df.loc[df['trip_time'] < pd.Timedelta('1 minutes')]['total_amount'].mean()

31.93892857142858

In [62]:
df= df.set_index ('tpep_pickup_datetime')
df

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip+time,trip_time
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80,0 days 00:28:23,0 days 00:28:23
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30,0 days 00:08:26,0 days 00:08:26
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00,0 days 00:10:59,0 days 00:10:59
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16,0 days 00:19:31,0 days 00:19:31
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30,0 days 00:13:17,0 days 00:13:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30,0 days 00:11:19,0 days 00:11:19
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30,0 days 00:15:17,0 days 00:15:17
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30,0 days 00:24:25,0 days 00:24:25
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0 days 00:06:08,0 days 00:06:08
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75,0 days 00:23:29,0 days 00:23:29

In [65]:
df.loc['2015-06-01 00:12:59', 'total_amount']

tpep_pickup_datetime
2015-06-01 00:12:59     5.16
2015-06-01 00:12:59    19.56
2015-06-01 00:12:59     8.15
2015-06-01 00:12:59    12.80
2015-06-01 00:12:59    12.30
2015-06-01 00:12:59    20.30
Name: total_amount, dtype: float64

In [66]:
df.loc['2015-06-01 00']

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip+time,trip_time
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30,0 days 00:06:12,0 days 00:06:12
2015-06-01 00:00:02,2,2015-06-01 00:25:48,1,5.51,-73.987602,40.753948,1,N,-73.929169,40.770500,2,20.5,0.5,0.5,0.00,0.0,0.3,21.80,0 days 00:25:46,0 days 00:25:46
2015-06-01 00:00:03,2,2015-06-01 00:10:24,1,2.59,-73.971085,40.758762,1,N,-73.950012,40.789864,1,10.5,0.5,0.5,2.36,0.0,0.3,14.16,0 days 00:10:21,0 days 00:10:21
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.0,0.3,30.30,0 days 00:24:47,0 days 00:24:47
2015-06-01 00:00:02,2,2015-06-01 00:18:57,1,9.04,-73.993622,40.746792,1,N,-73.941841,40.843319,1,27.0,0.5,0.5,4.35,0.0,0.3,32.65,0 days 00:18:55,0 days 00:18:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30,0 days 00:11:19,0 days 00:11:19
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30,0 days 00:15:17,0 days 00:15:17
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30,0 days 00:24:25,0 days 00:24:25
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0 days 00:06:08,0 days 00:06:08
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75,0 days 00:23:29,0 days 00:23:29

In [71]:

df.loc['2015-06-01 00:12:59':'2015-06-01 00:13:59']

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip+time,trip_time
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,
2015-06-01 00:12:59,2,2015-06-01 00:25:04,1,2.89,-74.003098,40.718269,1,N,-73.999634,40.687263,2,11.5,0.5,0.5,0.00,0.0,0.3,12.80,0 days 00:12:05,0 days 00:12:05
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30,0 days 00:11:19,0 days 00:11:19
2015-06-01 00:12:59,1,2015-06-01 00:26:17,1,4.10,-73.994362,40.727089,1,N,-73.993248,40.733170,1,15.0,0.5,0.5,3.26,0.0,0.3,19.56,0 days 00:13:18,0 days 00:13:18
2015-06-01 00:12:59,1,2015-06-01 00:18:08,1,0.70,-73.985619,40.760563,1,N,-73.986572,40.766663,1,5.5,0.5,0.5,1.35,0.0,0.3,8.15,0 days 00:05:09,0 days 00:05:09
2015-06-01 00:12:59,2,2015-06-01 00:14:07,1,0.18,-74.005539,40.725544,1,N,-74.002983,40.725056,1,3.0,0.5,0.5,0.86,0.0,0.3,5.16,0 days 00:01:08,0 days 00:01:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:13:45,2,2015-06-01 00:38:34,1,15.49,-73.788078,40.642166,1,N,-73.951202,40.718952,1,42.0,0.5,0.5,8.66,0.0,0.3,51.96,0 days 00:24:49,0 days 00:24:49
2015-06-01 00:13:45,2,2015-06-01 00:36:43,1,6.37,-74.006752,40.744141,1,N,-73.922806,40.764030,2,22.0,0.5,0.5,0.00,0.0,0.3,23.30,0 days 00:22:58,0 days 00:22:58
2015-06-01 00:13:46,2,2015-06-01 00:21:46,1,1.39,-73.978073,40.752628,1,N,-73.975029,40.739899,2,7.5,0.5,0.5,0.00,0.0,0.3,8.80,0 days 00:08:00,0 days 00:08:00
2015-06-01 00:13:47,2,2015-06-01 00:16:41,1,0.54,-73.985252,40.732025,1,N,-73.992355,40.731014,2,4.0,0.5,0.5,0.00,0.0,0.3,5.30,0 days 00:02:54,0 days 00:02:54
2015-06-01 00:13:47,1,2015-06-01 00:33:03,1,4.10,-73.988991,40.721436,1,N,-73.995750,40.764694,3,17.0,0.5,0.5,0.00,0.0,0.3,18.30,0 days 00:19:16,0 days 00:19:16

In [73]:
df.loc['2015-06-01 00:12:59':'2015-06-01 00:13:59', 'trip_distance'].mean()

4.019217391304347

In [74]:
df.loc['2015-06-01 00:12:59':'2015-06-01 00:13:59', 'trip_distance'].median()

2.5

In [75]:
df.loc['2015-06-01 00:12:59':'2015-06-01 00:13:59', 'trip_distance'].describe()

count    115.000000
mean       4.019217
std        4.257401
min        0.100000
25%        1.170000
50%        2.500000
75%        4.955000
max       19.140000
Name: trip_distance, dtype: float64

In [76]:
df.loc['2015-06-01 00:12:59':'2015-06-01 00:13:59', 'trip_distance'].agg(['mean', 'median'])

mean      4.019217
median    2.500000
Name: trip_distance, dtype: float64

In [78]:
df.resample('8h')['trip_distance'].mean()  #this show for every 8 hours chunk

tpep_pickup_datetime
2015-06-01 00:00:00    4.312809
2015-06-01 08:00:00         NaN
2015-06-01 16:00:00         NaN
2015-06-02 00:00:00         NaN
2015-06-02 08:00:00    2.661199
2015-06-02 16:00:00         NaN
2015-06-03 00:00:00         NaN
2015-06-03 08:00:00         NaN
2015-06-03 16:00:00         NaN
2015-06-04 00:00:00         NaN
2015-06-04 08:00:00    2.986285
2015-06-04 16:00:00         NaN
2015-06-05 00:00:00         NaN
2015-06-05 08:00:00         NaN
2015-06-05 16:00:00         NaN
2015-06-06 00:00:00         NaN
2015-06-06 08:00:00         NaN
2015-06-06 16:00:00    2.852166
Freq: 8h, Name: trip_distance, dtype: float64

In [10]:
import pandas as pd
filename = '../data/chicago,il.csv'
df = pd.read_csv(filename)

In [11]:
df.dtypes

date_time                        object
chicago,il_maxtempC               int64
chicago,il_mintempC               int64
chicago,il_totalSnow_cm         float64
chicago,il_sunHour              float64
chicago,il_uvIndex                int64
chicago,il_uvIndex.1              int64
chicago,il_moon_illumination      int64
chicago,il_moonrise              object
chicago,il_moonset               object
chicago,il_sunrise               object
chicago,il_sunset                object
chicago,il_DewPointC              int64
chicago,il_FeelsLikeC             int64
chicago,il_HeatIndexC             int64
chicago,il_WindChillC             int64
chicago,il_WindGustKmph           int64
chicago,il_cloudcover             int64
chicago,il_humidity               int64
chicago,il_precipMM             float64
chicago,il_pressure               int64
chicago,il_tempC                  int64
chicago,il_visibility             int64
chicago,il_winddirDegree          int64
chicago,il_windspeedKmph          int64
dtype: object

In [12]:
df.memory_usage(deep = True).sum()

332220

In [13]:
df = pd.read_csv(filename,
                parse_dates=['tpep_pickup_datetime',
                             'tpep_dropoff_datetime'])

ValueError: Missing column provided to 'parse_dates': 'tpep_dropoff_datetime, tpep_pickup_datetime'

In [33]:
import pandas as pd
filename = '../data/nyc_taxi_2020-07.csv'
df = pd.read_csv(filename)
df.head()

/tmp/ipykernel_254488/3269253097.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-07-01 00:25:32,2020-07-01 00:33:39,1.0,1.50,1.0,N,238,75,2.0,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0.0
1,1.0,2020-07-01 00:03:19,2020-07-01 00:25:43,1.0,9.50,1.0,N,138,216,1.0,26.5,0.5,0.5,0.00,0.0,0.3,27.80,0.0
2,2.0,2020-07-01 00:15:11,2020-07-01 00:29:24,1.0,5.85,1.0,N,230,88,2.0,18.5,0.5,0.5,0.00,0.0,0.3,22.30,2.5
3,2.0,2020-07-01 00:30:49,2020-07-01 00:38:26,1.0,1.90,1.0,N,88,232,1.0,8.0,0.5,0.5,2.36,0.0,0.3,14.16,2.5
4,2.0,2020-07-01 00:31:26,2020-07-01 00:38:02,1.0,1.25,1.0,N,37,17,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0.0

In [34]:
df.memory_usage(deep=True).sum()

243794958

In [17]:
df = pd.read_csv(filename,
                 usecols = ['tpep_pickup_datetime',
                            'tpep_dropoff_datetime',
                            'passenger_count',
                            'trip_distance',
                            'total_amount'])

In [35]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-07-01 00:25:32,2020-07-01 00:33:39,1.0,1.50,1.0,N,238,75,2.0,8.0,0.5,0.5,0.00,0.0,0.3,9.30,0.0
1,1.0,2020-07-01 00:03:19,2020-07-01 00:25:43,1.0,9.50,1.0,N,138,216,1.0,26.5,0.5,0.5,0.00,0.0,0.3,27.80,0.0
2,2.0,2020-07-01 00:15:11,2020-07-01 00:29:24,1.0,5.85,1.0,N,230,88,2.0,18.5,0.5,0.5,0.00,0.0,0.3,22.30,2.5
3,2.0,2020-07-01 00:30:49,2020-07-01 00:38:26,1.0,1.90,1.0,N,88,232,1.0,8.0,0.5,0.5,2.36,0.0,0.3,14.16,2.5
4,2.0,2020-07-01 00:31:26,2020-07-01 00:38:02,1.0,1.25,1.0,N,37,17,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0.0

In [36]:
df.memory_usage(deep=True).sum()

243794958

In [26]:
df = pd.read_csv(filename,
                 usecols = ['tpep_pickup_datetime',
                            'tpep_dropoff_datetime',
                            'passenger_count',
                            'trip_distance',
                            'total_amount'],
                parse_dates= ['tpep_pickup_datetime',
                           'tpep_dropoff_datetime'])

In [27]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,8.30
2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,11.00
3,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,17.16
4,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,10.30

In [37]:
df.memory_usage(deep=True).sum()

243794958

In [39]:
df['tpep_pickup_datetime'].dt.hour.value_counts().head(3)

AttributeError: Can only use .dt accessor with datetimelike values

In [43]:
df['trip_time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df.dtypes

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [2]:
import pandas as pd
filename = '../data/taxi.csv'
df = pd.read_csv(filename)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [4]:
df['trip_time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df.loc[df['trip_time'] < pd.Timedelta('1 minute')]['total_amount'].mean()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
df = df.set_index('tpep_pickup_datetime')