In [1]:
x = 100
y = 200
x

100

In [2]:
x*y

20000

In [3]:
import pandas as pd

AttributeError: module 'pandas' has no attribute '_version_'

In [ ]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

In [ ]:
df.shape

In [ ]:
df

In [ ]:
df.head

In [ ]:
df.head(3)

In [ ]:
df['trip_distance']

In [ ]:
df['trip_distance'].min()

In [ ]:
df['trip_distance'].describe()

In [ ]:
df['trip_distance'].std()

In [ ]:
df['total_amount']

In [ ]:
df.loc[[0,1,2]]

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].loc[[0,1,2]]

In [ ]:
df.head(5)

In [ ]:
df['total_amount'].describe()

In [ ]:
df['total_amount'].median()

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].describe()

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].loc[[0,1,2,3,4]]

In [ ]:
df[['trip_distance', 'passenger_count', 'total_amount']].loc[[0,1,2]].describe()

In [ ]:
df.head(5).describe()

In [ ]:
df.iloc[0:5,0:3]

In [ ]:
df['trip_distance'].plot.hist()

In [ ]:
df[['trip_distance', 'total_amount']].corr()

In [ ]:
(
df
[['trip_distance', 'total_amount', 'passenger_count']]
.head(5)
.describe()
)

In [ ]:
df[['trip_distance', 'total_amount']].plot.hist(subplots = True)

In [ ]:
df['trip_distance'].plot.hist()

In [ ]:
df['trip_distance'].plot.hist()

In [ ]:
(
df
[['trip_distance', 'total_amount', 'passenger_count']]
.head(100)
.plot.line()
)

In [ ]:
(
    df
    ['passenger_count']
    .value_counts(normalize = True)
)

In [ ]:
(
    df
    ['passenger_count']
    .value_counts()
    .plot.pie()
)

In [ ]:
df.iloc[0,1]

In [ ]:
df.iloc[[0,2,4],[1,3]]

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series

In [ ]:
s = Series ([10,20,30,40,50])

In [ ]:
s

In [ ]:
type (s[1])

In [ ]:
s[1]

In [ ]:
s.loc[2]

In [ ]:
s = Series([12, 11.5, 20, 18, 17, 17.8, 20, 21, 25, 30])
s.mean()

In [ ]:
s.median()

In [ ]:
s.describe()

In [ ]:
s=Series([10,20,30,40,50]),index = list('abcde'))
s
s.index = [2,4,5,7,19]
s.loc[2]
list(s.index)

s.loc[[2,4]]

In [ ]:
s.loc[[2,4]].mean()

In [ ]:
s = Series([10,11,12,21,23,34,35,54,32,11,9,10,17,18])
s.index =[mon,tuesday,wed,thur,fri,sat,sun,mon,tues,wed,thur,fri,sat,sun]
s.loc['fri']

In [ ]:
s = Series([12, 11.5, 20, 18, 17, 17.8, 20, 21, 25, 30])

In [ ]:
s = Series([12, 11.5, 20, 18, 17, 17.8, 20]),index = list('MTWTFSS'))
s

In [ ]:
s1 = Series([12, 11.5, 20, 18, 17], index = ['abcde'])

In [ ]:
s2 = Series([14, 15, 25, 28, 27], index = ['abcde'])
s1+s2

In [ ]:
s = Series([10, 20, 30, 40, 50],
           index=list('abcde'))
s

In [ ]:
s.index

In [ ]:
s = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
s

In [ ]:
s.loc['Fri']

In [ ]:
s.loc[['Mon', 'Fri', 'Mon']]

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
diffs = highs - lows
diffs.mean()

In [ ]:
(highs * 1.8) + 32

In [ ]:
s

In [ ]:
highs.mean

In [ ]:
mean1 = highs.mean()
mean2 = lows.mean()
highs_above_mean= highs[highs>mean1]

In [ ]:
import pandas as pd

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
diffs = highs - lows
diffs.mean()

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
highs.mean()
lows.mean()
mean1 = (highs.mean() + lows.mean() )/2

highs_above_mean= highs[ highs>mean1]

In [ ]:
mean_highs = highs.mean()
mean_lows = lows.mean()

# Calculate the average of the mean high and mean low temperatures
mean1 = (mean_highs + mean_lows) / 2

# Find highs above the overall mean
highs_above_mean = highs[highs > mean1]
highs.loc[highs>highs_above_mean}

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
lows = Series([19, 19, 17, 16, 16, 15, 14, 16, 19, 21],
          index='Fri Sat Sun Mon Tue Wed Thu Fri Sat Sun'.split())
diffs = highs - lows
diffs.mean()

In [ ]:
np.random.seed(0)
s = Series (np.random.randit(0,1000,10), index = list ('abcdefghij'))
s

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

np.random.seed(0)
s = Series (np.random.randit(1,1000,20),
            index = list ('abcdefghijklmnopqrst'))
s

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
np.random.seed(0)
from pandas import Series, DataFrame
s = pd.Series (np.random.randint(1,1000,20),
            index = list ('abcdefghijklmnopqrst'))
s

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
s.mean()
s.loc [ s>s.mean() - s.std()]
s.loc[ s>s.mean() + s.std()]
s.loc[(s>s.mean() +s.std()) & (s<s.mean() -s.std())]

In [ ]:
np.random.seed(0)
s = np.random.randint(1,10,1)

In [ ]:
np.random.seed(0)   # this makes it consistent across platforms
s = Series(np.random.randint(0, 1000, 10),
           index=list('abcdefghij'))
s

In [ ]:
np.random.seed(0)
s = Series(np.random.randint(1,1000,20),
            index = list('abcdefghijklmnopqrst'))
s

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
np.random.seed(0)
s = Series(np.random.randint(1,1000,20),
            index = list('abcdefghijklmnopqrst'))
s

s.mean()
s.loc [ s<s.mean() - s.std()]
s.loc[ s>s.mean() + s.std()]
s.loc[(s>s.mean() +s.std()) & (s<s.mean() -s.std())]

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [ ]:
s = Series ([10,20,30,40,50])
s

In [ ]:
s.index = list ('abcde')

In [ ]:
s

In [ ]:
s.reset_index()

In [ ]:
s

In [ ]:
df = s.reset_index()
df

In [ ]:
highs = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='0520 0521 0522 0523 0524 0525 0526 0527 0528 0529'.split())

In [ ]:
highs.reset_index()

In [ ]:
df = highs.reset_index()
df

In [ ]:
(
    df
    .set_index('index')
    .loc['0522']
)

In [ ]:
(
    df
    .set_index('index')
    .loc['0525']
)

In [ ]:
(
    df
    .set_index('index')
    .loc[['0522', '0525']]
)

In [ ]:
df.loc[3]

In [ ]:
df.loc[[3,7,2]]

In [ ]:
s = Series ([10,20,30,40,50,60,70,80,90,100], index = 'abcdefghij'.split(), dtype =np.int32)
s

In [ ]:
s = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], 
              index='abcdefghij'.split(), 
              dtype=np.int32)

In [ ]:
s = Series([33, 38, 27, 24, 23, 24, 25, 27, 32, 35],
          index='a b c d e f g h i j'.split(), dtype = np.int32)
s

In [ ]:
s.loc[['a','j']]*1000

In [ ]:
s = Series([33.1, 38.2, 27.3, 24.4, 23.5, 24.6, 25.7, 27.8, 32.9, 35.01],
          index='a b c d e f g h i j'.split(), dtype = np.float32)
s

In [ ]:
s = Series([33.1, 38.2, 27.3, 24.4, 23.5, 24.6, 25.7, 27.8, 32.9, 35.01],
          index='a b c d e f g h i j'.split(), dtype = np.float64)
s

In [ ]:
s.loc[['a','j']]*1000

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
s = Series([10,20,30.5,40,50], dtype = np.float16)
s

In [ ]:
s.round(1)

In [ ]:
s = Series (['hello', 'Que'])
s

In [ ]:
s = Series([58, 54, 22, 20, 14], dtype = np.float16)
s

In [ ]:
s = Series([57.5, 54.4, 22, 20.5, 14.125], dtype = np.float16)
s

In [ ]:
s = Series([57.5, 54.4, 22, 20.5, 14.125], dtype = np.float32)
s

In [ ]:
s*365*24*60*60

In [ ]:
s = Series([57.5, 54.4, 22, 20.5, 14.125], dtype = np.float64)
s*365*24*60*60

In [ ]:
s = Series([58, 54, 22, 20, 14], dtype = np.int8)
s*365*86400

In [ ]:
s = Series ('10 20 30'.split())
s+s

In [ ]:
s*3

In [ ]:
s.astype('int64')*3

In [ ]:
Series (['10 20 30'.split()], dtype = int64)
s

In [ ]:
s = Series([10, 20, 30, 'hello'], dtype = int8)
s.astype('int8', errors ='ignore')

In [ ]:
Series(np.random.randint(0,100,10))

In [ ]:
Series(np.random.rand(10))*100

import numpy as np

In [ ]:
s = pd.Series(np.random.uniform(0,1000,10))
s

In [ ]:
s.astype(int)

In [ ]:
s.loc[s.astype(int) %2 ==0].mean()

In [ ]:
type(np.nan)

In [ ]:
np.nan ==0

In [ ]:
np.nan ==np.nan

In [ ]:
s = Series([10,20,30])
s.loc[1]=np.nan
s

In [ ]:
s.loc[s != np.nan]

In [ ]:
s = Series([10,20,np.nan,40,50])
s.mean()

In [ ]:
s.mean(skipna = False)

In [ ]:
s = Series([10,20,30,np.nan,np.nan,np.nan, 70,80,90,100])
s.mean()

In [ ]:
s.mean(skipna= False)

In [ ]:
s = Series([10,20,30,'nan','nan','nan', 70,80,90,100])
s = s.replace('nan',np.nan)
s.mean()

In [ ]:
s = Series([10,20,30,40,50])
s.index = list('abcde')
s.index

In [ ]:
s.reset_index

In [ ]:
df = s.reset_index()
df
df.set_index('index')
(
    df
    .set_index('index')
    .loc['c']
)

In [ ]:
s = Series([28, 31, 34, 36, 33,   34, 34, 34, 33, 31],
           index='0531 0601 0602 0603 0604 0605 0606 0607 0608 0609'.split())
s

In [ ]:
s.reset_index()

In [ ]:
# 3. Use a mask index to retrieve the projected high temps for June 2 and June 5.


(
    s
    .reset_index()
    .loc[(s.index == '0602') | (s.index == '0605')]  # show rows of s, post resetting index, where the index is 0602 or 0605
)

In [ ]:
# there is an "isin" method 

(
    s
    .loc[(s.index.isin(['0602', '0605']))]
    .reset_index()
)

In [ ]:
# Use set_index and .loc to achieve the same goal (but, I hope, in a nicer/more compact way).

df = s.reset_index()
df

In [ ]:
(
    df                          # we have our data frame with the default (range) index and two columns, "index" and 0
    .set_index('index')         # use the "index" column as the data frame's index
    .loc[ ['0602', '0605'] ]    # use fancy indexing and .loc to retrieve two rows from that data frame
)

In [ ]:
df['index']   # show me the column named "index" in the data frame df

In [ ]:
df

In [ ]:
df.loc[ [2,4,7] ]

In [ ]:
(
    df
    .set_index('index')
    .loc[['0602','0604', '0607']] 
)

In [ ]:
# get a boolean series showing when df[0] (the max temp) will be higher than the mean
# for max temps 

df[0] > df[0].mean()

In [ ]:
# Given this, I can now apply it (with .loc) to df, and get only those rows where df[0] > mean

df.loc[  df[0] > df[0].mean()   ]

In [ ]:
import pandas as pd
from pandas import Series, DataFrame
s = Series([10,20,30],dtype = 'int8')
s

In [ ]:
2**8

In [ ]:
s+98

In [ ]:
s = Series([10,20,30],dtype = 'uint8')
s+200

In [ ]:
s = Series([10,20,30],dtype = 'int8')
s.memory_usage()

In [ ]:
s = Series([10,20,30,40,50,60],dtype = 'int8')
s.memory_usage()

In [ ]:
s = Series([10,20,30,40,50,60],dtype = 'int64')
s.memory_usage()

In [ ]:
s = Series([10,20.2,30.5,40,50,60],dtype = 'float16')
s

In [ ]:
type(s.loc[2])

In [ ]:

s = Series(['a','b','c','d'])
s.memory_usage()

In [ ]:
s = Series(['a'*5000,'b'*6000,'c'*7000,'d'*8000])
s.memory_usage()

In [ ]:
s.memory_usage(deep=True)

In [ ]:
s = Series([14.1,20.5,22.1,58.6,54.7],dtype = 'float32')
s.memory_usage()

In [ ]:
s*365*24*3600

In [ ]:
s.memory_usage()

In [ ]:
s = Series([14.1,20.5,22.1,58.6,54.7])
s=s.astype('int', errors ='ignore')
type(s.loc[0])

In [ ]:
np.random.seed(0)
s = Series(np.random.uniform(0,1000,10))
s

In [ ]:
s = s.astype('int', errors = 'ignore')
s

In [ ]:
s_even = s.loc[s%2 ==0]
(s_even).mean()

In [ ]:
np.random.seed(0)
s = Series(np.random.uniform(0,1000,10))
s.loc[s.astype('int')%2 ==0].mean()

In [ ]:
s = Series([10,20,np.nan,40,50,np.nan,70])
s.dropna()

In [ ]:
s.fillna(s.mean())

In [ ]:
s.interpolate()

In [ ]:
import pandas as pd

df = DataFrame( high =[28, 31, 34, 36, 33,   34, ],low = [10,11,12,13,14,15],
           index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday'])
s

In [ ]:
import pandas as pd
from pandas import Series, DataFrame
!ls ../data/*.csv
!head ../data/taxi.csv

df = pd.read_csv('../data/taxi.csv')
df.describe()

In [ ]:
df.loc[ df['passenger_count']== 1, ['trip_distance', 'total_amount']].mean()

In [ ]:
df.loc[
     ((df['passenger_count'] == 1)  |  (df['passenger_count'] == 2))    # row selector
     ,
     ['trip_distance', 'total_amount'] # column selector
].mean()

In [ ]:
import pandas as pd
from pandas import Series, DataFrame
df = DataFrame([[10, 20, 30],
            [40, 50, 60], 
            [70, 80, 90], 
            [100, 110, 120]],
              index=list('abcd'),
              columns=list('xyz'))
df

In [ ]:
df.loc['b'].loc['y']

In [ ]:
df.loc['b']['y'] = 999

In [ ]:
df.loc['b', 'y'] = 888

In [ ]:
df

In [ ]:
df.loc['b', ['y', 'z']] = 777
df

In [ ]:
# rows = index, columns = name or column names
# each col is a panda series, can use index to identify each element. Col has dtype but row can have combi of dtype & object
df = DataFrame([[10,20,30],[40,50,60], [70,80,90]])
df

In [ ]:
df = DataFrame([[10,20,30],[40,50,60], [70,80,90], [100,110,120]], index = list('abcd'), columns= list('xyz'))
df

In [ ]:
df.loc[['a','c']]

In [ ]:
df[['x','y']]

In [ ]:
df['x'].mean()

In [ ]:
df.mean()

In [ ]:
df.sum()

In [ ]:
df.describe()

In [ ]:
df.mean(axis = 'columns')

In [ ]:
df['w'] = 'silly billy Que Vuong'.split()
df

In [ ]:
df.describe()

In [ ]:
df['w'].describe()

In [ ]:
df = DataFrame([[10,20],[40,50], [70,80],[40,60],[70,80],[90,100], [100,110]], index = 'Mon Tues Wed Thur Fri Sat Sun'.split(), columns= ['high','low'])
df

In [ ]:
df.mean(axis = 'columns')

df.loc[['Wed','Fri']].mean()

In [ ]:
df.loc[['Fri','Tues']].mean(axis = 'columns')

In [ ]:
df['precipitation'] = [1,2,3,4,5,6,7]
df

In [ ]:
df.describe()

In [ ]:
!ls../data/*.csv

In [ ]:
df = pd.read_csv('../data/taxi.csv')
!head ../data/taxi.csv

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.loc[3]

In [ ]:
df.describe()

In [ ]:
df['trip_distance']

In [ ]:
df[['trip_distance','total_amount']].mean()

In [ ]:
df = df.loc[(df['trip_distance'] > 50) & (df['trip_distance'] < 100)]

In [ ]:
df.loc[df['trip_distance']>50 ]

In [ ]:
df['trip_distance'][df['passenger_count'] ==3]

In [ ]:
df.loc[df['passenger_count'] ==3,
        ['trip_distance']]

In [ ]:
df.loc[ df['passenger_count']== 1, ['trip_distance', 'total_amount']].mean()

In [ ]:
df.loc[ (df['passenger_count']== 1)|(df['passenger_count']==2), ['trip_distance', 'total_amount']].mean()

In [ ]:
df = pd.read_csv('../data/taxi.csv',
                usecols = ['trip_distance', 'total_amount', 'passenger_count'])

In [ ]:
df

In [ ]:
df.loc[ (df['passenger_count']).isin([1,2]), ['trip_distance', 'total_amount']].mean()

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

filename = '../data/taxi.csv'
df = pd.read_csv(filename)
df

In [ ]:
help(pd.read_csv)

In [ ]:
df = pd.read_csv(filename, usecols =['passenger_count', 'trip_distance', 'total_amount'])
df.head()

In [ ]:
import numpy as np
from pandas import Series, Dataframe
np.random.seed(0)
small_df = DataFrame(np.random.randint(0,1000,[3,3]))
small_df

In [ ]:
!head../data/airlines.dat
filename = '../data/airlines.dat'
df = pd.read_csv(filename)
df
!cat airlines_data.csv
airlines_df = pd.read_csv('airlines_data.csv', 
                       header=None,
                      names=['airlinename', 'charactercode', 'fullname', 'country'],
                      index_col=0)

In [ ]:
!ls ../data/*.x*
../data/titanic3.xls'
df = pd.read_excel(filename)

In [ ]:
import pandas as pd
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'
df = pd.read_json(url)
df

In [ ]:
df = pd.read_json(url)
df = df.set_index('city')[['population', 'latitude', 'state']]

In [ ]:
df.loc[ (df['population']).isin([1000000,10000000]).count()

In [ ]:
df.loc[df['population']>1_000_000]

In [ ]:
df.loc[df['population']>1_000_000].shape

In [ ]:
df.loc[df['population']>1_000_000].count()

In [ ]:
len(df.loc[df['population']>1_000_000].index)

In [ ]:
df.loc[df['latitude']== df['latitude'].max()]

In [ ]:
df['population'].mean()

In [ ]:
df.loc[df['population']>1_000_000].index

In [ ]:
(df.loc[df['population']>1_000_000]).mean()

In [ ]:
import numpy as np
from pandas import Series, DataFrame

np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('acegihfjdb'))

In [ ]:
s

In [ ]:
s.loc['b':'f']

In [ ]:
s.loc['g':'f']

In [ ]:
np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('aceaihfjdb'))
s.loc['a':'b']

In [ ]:
s.sort_index().loc['a':'b']

In [ ]:
s.sort_index().loc['a':'c']

In [ ]:
s.sort_values()

In [ ]:
s = Series([10,5,15,'b','a','c'])
s

In [ ]:
s.sort_index()

In [ ]:
s = pd.Series([54, 55, 22, 20, 14], index=['Fred', 'Que', 'Lily', 'Josh', 'Maya'])
s

In [ ]:
s.sort_index().head(3).mean()

In [ ]:
s.sort_values().iloc[[0,-1]]

In [ ]:
s.sort_values(ascending = False)

In [ ]:
s.sort_index(ascending = False)

In [ ]:
np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('abcdefghij'))
s

In [ ]:
s.abs().sort_values()

In [ ]:
s.sort_values(key = abs)

In [ ]:
abs(s)

In [ ]:
def square_series(a_series):
    return a_series **2
s.sort_values(key = square_series)

In [ ]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

df
df.set_index('tpep_pickup_datetime').sort_index()

In [ ]:
df.set_index('tpep_pickup_datetime').sort_index().loc['2015-06-06':'2015-06-07']

In [ ]:
import pandas as pd
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'
df = pd.read_json(url)
df

In [ ]:
df.set_index('city').sort_index()

In [ ]:
df_sorted = df.set_index('city').sort_index().iloc[0:20]

# Select the 'population' column
population_first_20_cities = df_sorted['population']

In [ ]:
df.set_index('city').sort_index().iloc[5:5]

In [ ]:
(
    df_sorted = df.set_index('city').sort_index().head(20)
['population']
.mean()
)

In [ ]:
(
    df.set_index('population')
    .sort_index()
    .head(50)
    ['latitude']
    .mean()
)

In [ ]:
df.sort_values('population')

In [ ]:
(
    df
    .sort_values(['state', 'population'],ascending = False)
    ['city','state','population']
    .head(30)
)

In [ ]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename)

df
(
    df
    .sort_values('trip_distance')
    ['total_amount']
    .head(10)
    .mean()
)

In [ ]:
df
(
    df
    .sort_values(['passenger_count','trip_distance'])
    .iloc[:5]
)

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
filename =  '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)
print(df.head())

In [ ]:
df.groupby('Sport')['Age'].mean()

In [ ]:

(
    df.loc[
    df['Year']>1960,
    ['Sport','Height']
    ]
)

In [ ]:
(
    df.loc[
    df['Year']>1960,
    ['Sport','Height']
    ].groupby('Sport')['Height'].mean().sort_values(ascending = False)
)

In [ ]:
results = df.groupby(['Year','Team'])['Height'].head()
results.loc[0]

In [ ]:
results = df.groupby(['Year'])['Age']

In [ ]:
results = df.groupby(['Sport'])['Weight'].agg(['mean','median'])
results

In [ ]:
df.pivot_table(index = 'Team',
               columns = 'Year',
               values = 'Age',
               aggfunc = 'mean')

In [ ]:
df.pivot_table(index = 'Sport',
               columns = 'Team',
               values = 'Weight',
               aggfunc = 'max').stack()

In [ ]:
results = df.pivot_table(index = 'Sport',
               columns = 'Team',
               values = 'Weight',
               aggfunc = ['mean','max'])
results.stack()

In [ ]:
df.pivot_table(index = 'Team',
               columns = 'Sport',
               values = ['Height', 'Age','Weight'],
               aggfunc = ['mean'])

In [ ]:
df.groupby(['Team', 'Year'])[['Age', 'Height', 'Weight']].mean()

In [ ]:
df[df['Year']>1980].pivot_table(index = 'Year',
               columns = 'Sport',
               values = ['Height', 'Age','Weight'],
               aggfunc = ['mean'])

In [ ]:
df[df['Sport'].isin(['Archery', 'Athletics', 'Boxing'])].pivot_table(index = 'Year',
                                                                     columns = 'Sport',
                                                                     values = ['Height', 'Age','Weight'],
                                                                     aggfunc = ['mean'])

In [ ]:
df[(df['Sport'].isin(['Archery', 'Athletics', 'Boxing'])) & (df['Year'] > 1980)].pivot_table(index = 'Year',
                                                                     columns = 'Sport',
                                                                     values = ['Height', 'Age','Weight'],
                                                                     aggfunc = ['mean'])

In [ ]:
df[(df['Sport'].isin(['Archery', 'Athletics', 'Boxing'])) & (df['Year'] > 2000) & (df['Team'].isin(['France', 'Vietnam', 'Japan']))].pivot_table(index = 'Year',
                                                                     columns = 'Sport',
                                                                     values = ['Height', 'Age','Weight'],
                                                                     aggfunc = ['mean'])

In [ ]:
results = df.groupby(['Team', 'Sport'])[['Age', 'Height', 'Weight']].agg(['mean', 'median'])
results

In [50]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

filename = '../data/olympic_athlete_events.csv'
df = pd.read_csv(filename)

first_file = df[(df['Team'].isin(['France', 'Vietnam', 'Japan'])) & (df['Year'] > 2000)]
first_file.groupby(['Team', 'Sport'])[['Age', 'Height', 'Weight']].agg(['mean', 'median'])

                             Age             Height            Weight
                            mean median        mean median       mean median
Team    Sport
France  Alpine Skiing  26.147541   26.0  175.163934  176.0  76.368852   78.0
        Archery        23.424242   24.0  174.636364  173.0  71.727273   72.0
        Athletics      26.718894   26.0  178.336406  178.0  68.096774   68.0
        Badminton      27.333333   28.0  172.333333  169.0  64.777778   60.0
        Basketball     27.625000   27.0  191.375000  191.5  88.872340   87.0
...                          ...    ...         ...    ...        ...    ...
Vietnam Swimming       18.000000   19.0  174.000000  172.0  64.000000   60.0
        Table Tennis   27.000000   27.0  165.000000  165.0  59.000000   59.0
        Taekwondo      22.571429   23.0  178.833333  176.0  66.857143   58.0
        Weightlifting  23.111111   23.0  159.666667  160.0  59.444444   56.0
        Wrestling      23.000000   23.0  165.000000  165.0  53.000000   53.0

[111 rows x 6 columns]