# Agenda: CSV and data frames

1. Data frames in general
    - What are they?
    - Creating them (very simple version)
    - Retrieving from them
2. Working with CSV files
    - What options are there?
3. Retriving from parts of a data frame
    - Applying `.loc` and boolean indexes to retrieving from a data frame

# Data frames

So far, we've been (mostly) using series. But most work in Pandas is done with a data frame

- Two-dimensional table
- Rows (which we identify with the index)
- Columns (which we identify with column names)

Remember that every column in a data frame is a Pandas series:
- The index identifying the rows continues to identify elements of a series
- All of the series (columns) in the data frame share an index
- When we retrieve a column, then it's a (normal) series
- When we retrieve a row, Pandas basically creates a new series on the fly
- Every column has a dtype, whereas rows are a combination of whatever dtypes are in their columns

In [1]:
# it's rare to create a data frame from scratch
# but if we really want to create a data frame, we can do it with a list of lists, or a list of dicts,
# or even a dict of lists

# I'm just going to use a list of lists for my data frame

import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Create a data frame with a list of lists
df = DataFrame([[10, 20, 30],
            [40, 50, 60], 
            [70, 80, 90], 
            [100, 110, 120]])

df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

In [3]:
# let's make this a bit more readable by giving both 
# an index and column names. Just as we can pass index= to 
# the Series class, we can pass columns= (as well) to the
# DataFrame class

df = DataFrame([[10, 20, 30],
            [40, 50, 60], 
            [70, 80, 90], 
            [100, 110, 120]],
              index=list('abcd'),
              columns=list('xyz'))

df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [ ]:
# we can re