# Agenda: Sorting!

1. Series
    - Sort by index
    - Sort by values
2. Data frame
    - Sort by index
    - Sort by one column
    - Sort by multiple columns
3. Along the way, we'll play with a number of useful methods

In [1]:
import pandas as pd

filename = '../data/taxi.csv'

df = pd.read_csv(filename)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [5]:
import numpy as np
from pandas import Series, DataFrame

np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('acegihfjdb'))

In [6]:
s

a    -6
c    -3
e    14
g    17
i    17
h   -41
f    33
j   -29
d   -14
b    37
dtype: int64

In [7]:
# the first kind of sort we'll do is on the index

# this returns a new series, not modifying the original one
s.sort_index()

a    -6
b    37
c    -3
d   -14
e    14
f    33
g    17
h   -41
i    17
j   -29
dtype: int64

In [9]:
# method chaining syntax

(
    s
    .sort_index()
    .head()
    .loc[['b', 'd']]
)

b    37
d   -14
dtype: int64

In [10]:
# let's create the series again, , and grab a slice

np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('acegihfjdb'))

s.loc['b':'f']

Series([], dtype: int64)

In [11]:
s.loc['g':'f']  # .loc is up to AND INCLUDING

g    17
i    17
h   -41
f    33
dtype: int64

In [12]:
# what if the index has repeated values?

np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('aceaihbjdb'))

s.loc['a':'b']

KeyError: "Cannot get left slice bound for non-unique label: 'a'"

In [13]:
s.loc['c':'b']

KeyError: "Cannot get right slice bound for non-unique label: 'b'"

In [14]:
# in order to solve this problem, we need to sort our series!

s.sort_index().loc['a':'b']

a    -6
a    17
b    33
b    37
dtype: int64

In [15]:
s.sort_index().loc['a':'c']

a    -6
a    17
b    33
b    37
c    -3
dtype: int64

In [16]:
# sometimes, we want to sort by the values
# we can do this with the sort_values() method

s.sort_values()

h   -41
j   -29
d   -14
a    -6
c    -3
e    14
a    17
i    17
b    33
b    37
dtype: int64

In [17]:
s = Series([10, 5, 15, 'b', 'a', 'c'])
s

0    10
1     5
2    15
3     b
4     a
5     c
dtype: object

In [18]:
s.sort_values()

TypeError: '<' not supported between instances of 'str' and 'int'

# Exercise: Series sorting

1. Create a series based on members of your family (or friends). The index will be their names, adn the values will be their ages.
2. Sort by the names. What is the mean age of the first 3 people, alphabetically?
3. Sort by the ages. What are the names of the youngest and the eldest people in your series?

In [19]:
s = Series([53, 23, 21, 18],
           index='Reuven Atara Shikma Amotz'.split())
s

Reuven    53
Atara     23
Shikma    21
Amotz     18
dtype: int64

In [22]:
(
    s
    .sort_index()
    .head(3)
    .mean()
)

31.333333333333332

In [24]:
(
    s
    .sort_values()
    .iloc[[0, -1]]   # first and final elements
)

Amotz     18
Reuven    53
dtype: int64

In [25]:
# how can we sort in *descending* order?
# so far, we've seen that both sort_index and sort_values go in ascending order

# pass ascending=False as a keyword argument; its default value is True
s.sort_values(ascending=False)

Reuven    53
Atara     23
Shikma    21
Amotz     18
dtype: int64

In [26]:
s.sort_index(ascending=False)

Shikma    21
Reuven    53
Atara     23
Amotz     18
dtype: int64

In [27]:
# all of these methods assume that the index/values are "comparable" in Python,
# meaning that they implement not only == but also < (and maybe a few other operators, as well)

In [28]:
# what if we want to change the way in which values are sorted?
# meaning: if we have both negative and positive numbers

np.random.seed(0)   # reset random numbers
s = Series(np.random.randint(-50, 50, 10),
           index=list('abcdefghij'))
s

a    -6
b    -3
c    14
d    17
e    17
f   -41
g    33
h   -29
i   -14
j    37
dtype: int64

In [29]:
# can I sort these numbers? Sure, using sort_values

s.sort_values()

f   -41
h   -29
i   -14
a    -6
b    -3
c    14
d    17
e    17
g    33
j    37
dtype: int64

In [30]:
# can I turn these values into absolute values (i.e., positive values) and then sort them?

s.abs().sort_values()

b     3
a     6
c    14
i    14
d    17
e    17
h    29
g    33
j    37
f    41
dtype: int64

In [34]:
# what if I want to sort them by absolute value
# but I don't want to change the values themselves

# for that, we can pass an argument to the "key" keyword argument
# the value that we pass to "key" is a FUNCTION, one that takes
# a series as an argument.  The input to the function will be our
# series, and the output will be a new series that we'll use for
# sorting, but nothing else

s.sort_values(key=abs)

b    -3
a    -6
c    14
i   -14
d    17
e    17
h   -29
g    33
j    37
f   -41
dtype: int64

In [41]:
# what if I want to sort by the square of the numbers?

def square_series(a_series):   # here, I define a function that takes a series
    return a_series ** 2       #   ... and returns a series

s.sort_values(key=square_series)

b    -3
a    -6
c    14
i   -14
d    17
e    17
h   -29
g    33
j    37
f   -41
dtype: int64

# Data frames

In many ways, sorting a data frame is just like sorting a series:

- We can sort by the index
- We can sort by the values

The difference, though, is that we have multiple columns! That means we have to indicate which column should be used as the basis for sorting. Also: We can sort by *more than* one column, if we want.

In [42]:
# to sort a data frame by its index, just use ... .sort_index

filename = '../data/taxi.csv'

df = pd.read_csv(filename)

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [43]:
# let's make the tpep_pickup_datetime column into the index
# and then sort by it

(
    df
    .set_index('tpep_pickup_datetime')  # take this column, and use it as the index
    .sort_index()
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
2015-06-01 00:00:01,2,2015-06-01 00:11:29,1,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,1,21.0,0.5,0.5,5.57,5.54,0.3,33.41
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-06 16:53:56,1,2015-06-06 17:00:40,1,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,1,6.5,0.0,0.5,2.19,0.00,0.3,9.49
2015-06-06 16:53:56,2,2015-06-06 16:56:18,1,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75
2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
2015-06-06 16:53:56,2,2015-06-06 16:55:51,1,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80

In [46]:
# this shows why we'll want to sort our values before grabbing a slice

(
    df
    .set_index('tpep_pickup_datetime')  # take this column, and use it as the index
    .loc['2015-06-06 16:53:56':'2015-06-06 16:53:57']
)

KeyError: "Cannot get left slice bound for non-unique label: '2015-06-06 16:53:56'"

In [47]:

(
    df
    .set_index('tpep_pickup_datetime')  # take this column, and use it as the index
    .sort_index()
    .loc['2015-06-06 16:53:56':'2015-06-06 16:53:57']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-06 16:53:56,1,2015-06-06 17:15:40,1,3.20,-73.971924,40.743896,1,N,-73.957809,40.782368,1,16.0,0.0,0.5,3.36,0.00,0.3,20.16
2015-06-06 16:53:56,2,2015-06-06 17:02:49,1,1.31,-73.949532,40.776760,1,N,-73.962936,40.770599,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
2015-06-06 16:53:56,2,2015-06-06 17:02:42,6,1.36,-73.989304,40.773174,1,N,-73.972092,40.763237,1,7.5,0.0,0.5,1.66,0.00,0.3,9.96
2015-06-06 16:53:56,1,2015-06-06 17:00:10,1,1.30,-73.973396,40.789967,1,N,-73.958511,40.779106,1,6.5,0.0,0.5,1.45,0.00,0.3,8.75
2015-06-06 16:53:56,1,2015-06-06 17:00:40,1,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,1,6.5,0.0,0.5,2.19,0.00,0.3,9.49
2015-06-06 16:53:56,2,2015-06-06 16:56:18,1,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75
2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
2015-06-06 16:53:56,2,2015-06-06 16:55:51,1,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80

# Exercise: Sorting cities

You might remember from last time that we can download + read into a data frame the 1,000 largest cities in the US. 

(If not, you can get it from here: https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json )

Read that into a data frame, and then try the following:

1. Turn the city name into the index. What is the mean population for the first 20 cities, alphabtically?
2. Turn the state name into the index. What is the mean population for all cities (alphabetically) from 'Iowa' to 'Nebraska'?
3. Turn the population into the index. What is the mean latitude for the 50 largest cities vs. 50 smallest cities.

In [49]:
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'

df = pd.read_json(url)

In [50]:
df.head()

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania

In [55]:
# Turn the city name into the index. What is the mean population for the first 20 cities, alphabtically?

(
    df
    .set_index('city')
    .sort_index()
    .head(20)
    ['population']
    .mean()
)

125541.7

In [58]:
(
    df
    .set_index('city')
    .sort_index()
    .iloc[:20]
    ['population']
    .mean()
)

125541.7

In [ ]:
(
    df.set_index('city').sort_index().iloc[:20]['population']
    .mean()
)

In [ ]:
# Turn the state name into the index. What is the mean population for all cities (alphabetically) from 'Iowa' to 'Nebraska'?
# Turn the population into the index. What is the mean latitude for the 50 largest cities vs. 50 smallest cities.