In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
s = Series([10,20,30,40,50])

## What kind of floats do we have?

- float16
- float32
- float64

In [3]:
#what about other things?

s = Series(['hello', 'out', 'there'])
s

0    hello
1      out
2    there
dtype: object

In [4]:
s = Series([10,20.5,'hello', [2,4,6]])
s

0           10
1         20.5
2        hello
3    [2, 4, 6]
dtype: object

In [5]:
# if you read in data that is dirty/bad/missing/corrupt, you might well
# get a dtype of "object" even though you really want/expect int or float

# Exercise: Ages

1. Create a series containing the ages of 5 people in your family
2. What dtype would be appropriate?
3. What if you want to measure the age more precisely, using fractional years? What would you use then?
4. Create a new series in which you measure the age (approximately) in seconds. Create that series using multiplication. Is int64 big enough for that?

In [11]:
ages = Series([1, 3, 36, 69])
ages

0     1
1     3
2    36
3    69
dtype: int64

In [12]:
#what is the max we'll get with int64?
# it's 8 bytes, so we'll get up to 2**64

2**64

18446744073709551616

In [16]:
ages = Series([1, 3, 36, 69], dtype='int8')
ages

0     1
1     3
2    36
3    69
dtype: int8

In [17]:
ages = Series([0.5, 3.2, 36, 69])
ages

0     0.5
1     3.2
2    36.0
3    69.0
dtype: float64

In [8]:
ageInSeconds = ages*365*24*60*60
ageInSeconds

0    1.576800e+07
1    9.460800e+07
2    1.135296e+09
3    2.175984e+09
dtype: float64

# Changing dtypes

It's very common for us to want to change the dtype of a series. We can't do that! Once a dtype is set, it is forever. However, we can get a new series back, based on the old one, with a different dtype.

In [20]:
s = Series([10,20,30])
s

0    10
1    20
2    30
dtype: int64

In [21]:
s*1000

0    10000
1    20000
2    30000
dtype: int64