In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
s.index = list('abcde')
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
s = Series([10,20,30,40,50],index=list('abcde'))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
s.loc['a']

10

In [7]:
s.reset_index()

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [9]:
df = s.reset_index()
df

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [11]:
df.set_index('index')

        0
index
a      10
b      20
c      30
d      40
e      50

In [12]:
df

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [13]:
df.set_index(0)

   index
0
10     a
20     b
30     c
40     d
50     e

In [14]:
df[0]

0    10
1    20
2    30
3    40
4    50
Name: 0, dtype: int64

In [16]:
df.loc[ df['index'] == 'c' ]

  index   0
2     c  30

In [18]:
df.set_index('index').loc['c']

0    30
Name: c, dtype: int64

In [22]:
dates= Series(['0531', '0601', '0602', '0603','0604', '0605', '0606', '0607', '0608', '0609'])
dates

0    0531
1    0601
2    0602
3    0603
4    0604
5    0605
6    0606
7    0607
8    0608
9    0609
dtype: object

In [26]:
temps = Series([23,24,25,22,21,26,28,27,29,30], index=dates)
temps

0531    23
0601    24
0602    25
0603    22
0604    21
0605    26
0606    28
0607    27
0608    29
0609    30
dtype: int64

In [27]:
temps.reset_index()

  index   0
0  0531  23
1  0601  24
2  0602  25
3  0603  22
4  0604  21
5  0605  26
6  0606  28
7  0607  27
8  0608  29
9  0609  30

In [38]:
temps[ (temps.index == '0602') | (temps.index== '0605')]

0602    25
0605    26
dtype: int64

In [40]:
temps[ (temps.index.isin(['0602','0605']))]

0602    25
0605    26
dtype: int64

In [39]:
temps

0531    23
0601    24
0602    25
0603    22
0604    21
0605    26
0606    28
0607    27
0608    29
0609    30
dtype: int64

In [42]:
df = temps.reset_index()
df

  index   0
0  0531  23
1  0601  24
2  0602  25
3  0603  22
4  0604  21
5  0605  26
6  0606  28
7  0607  27
8  0608  29
9  0609  30

In [46]:
df.set_index('index').loc[df['index'].isin(['0605','0602'])]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).