In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
s.index = list('abcde')
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
s = Series([10,20,30,40,50],index=list('abcde'))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
s.loc['a']

10

In [7]:
s.reset_index()

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [ ]:
df = s.reset