# Agenda: Indexing and dtypes

- Indexes
    - Setting
    - Resetting
- `inplace=True`
- dtypes

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# we can use any data we want as the index
# the easiest way to set the index (after the fact) is to assign to the "index" attribute

s.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
s.index = list('abcde')
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
# we can also set the index when we create the series, by passing a value to
# the "index" keyword argument

s = Series([10, 20, 30, 40, 50],
           index=list('abcde'))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
s = Series([10, 20, 30, 40, 50],
           index=list('abcd'))    # only 4 elements in the index -- what happens?
s

ValueError: Length of values (5) does not match length of index (4)

In [8]:
# sometimes, we want to get rid of an index we've set
# we can use the "reset_index" method to do so -- this returns a new data frame

s.reset_index()

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [9]:
# have I changed s?
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

# `reset_index` and `inplace=True`

Many methods in Python don't modify a series (or data frame), but rather return a new one, based on the old one, in which our changes have taken place. For example, when we invoked `reset_index`, we got back a new data frame, but our series was unchanged.

This is on purpose! It allows you, for example, to use method chaining to create long and complex queries without assignment.

If you want, though, you can use the keyword argument `inplace=True` in `reset_index` and many other methods. This forces the method to modify the series/data frame itself. The method will then return `None`.

**PLEASE NEVER, EVER USE `inplace=True`**

It is so tempting!

# `set_index`

If you have a data frame with two or more columns, you can modify that data frame, such that one of the columns is then used as the index. You can invoke `set_index` and pass the name of the column you want to use:

In [10]:
df = s.reset_index()
df

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [11]:
df.set_index('index')  # here, I pass the name of the column that should be used as an index

        0
index
a      10
b      20
c      30
d      40
e      50

In [12]:
# have I changed df?  No, I just got back a new data frame
df

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [13]:
# can we set column 0 to be our index? Yes!
df.set_index(0)

   index
0
10     a
20     b
30     c
40     d
50     e

In [14]:
df

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [15]:
# what if I just want column 0?

df[0]   # on a data frame, [] return a column

0    10
1    20
2    30
3    40
4    50
Name: 0, dtype: int64

In [17]:
# let's get all values from column 0 where the index is 'c'

df.loc[    df['index'] == 'c'  ]  # we hand a boolean series to df.loc, and get back matching rows

  index   0
2     c  30

In [19]:
# we can make this easier and nicer (to read and write) by setting the index!
# we can even use method chaining across lines!

df.set_index('index').loc['c']

0    30
Name: c, dtype: int64

In [20]:
(
    df
    .set_index('index')
    .loc['c']
)

0    30
Name: c, dtype: int64

# Exercise: Weather and indexes

1. Create a series in which the index contains dates in MMDD format (`'0531'` and `'0601'`), all as strings. The values should be the expected/forecast high temperatures for the next 10 days wherever you are.
2. Use `reset_index`. What do you see?
3. Use a mask index to retrieve the projected high temps for June 2 and June 5.
4. Use `set_index` and `.loc` to achieve the same goal (but, I hope, in a nicer/more compact way).