# Agenda: Indexing and dtypes

- Indexes
    - Setting
    - Resetting
- `inplace=True`
- dtypes

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# we can use any data we want as the index
# the easiest way to set the index (after the fact) is to assign to the "index" attribute

s.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
s.index = list('abcde')
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
# we can also set the index when we create the series, by passing a value to
# the "index" keyword argument

s = Series([10, 20, 30, 40, 50],
           index=list('abcde'))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
s = Series([10, 20, 30, 40, 50],
           index=list('abcd'))    # only 4 elements in the index -- what happens?
s

ValueError: Length of values (5) does not match length of index (4)

In [8]:
# sometimes, we want to get rid of an index we've set
# we can use the "reset_index" method to do so -- this returns a new data frame

s.reset_index()

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [9]:
# have I changed s?
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

# `reset_index` and `inplace=True`

Many methods in Python don't modify a series (or data frame), but rather return a new one, based on the old one, in which our changes have taken place. For example, when we invoked `reset_index`, we got back a new data frame, but our series was unchanged.

This is on purpose! It allows you, for example, to use method chaining to create long and complex queries without assignment.

If you want, though, you can use the keyword argument `inplace=True` in `reset_index` and many other methods. This forces the method to modify the series/data frame itself. The method will then return `None`.

**PLEASE NEVER, EVER USE `inplace=True`**

It is so tempting!