# Agenda

1. Fun with promotions
2. Data frames
    - What are they?
    - How can we create simple ones by hand?
    - How do we retrieve from them?
3. Reading from CSV files
    - Some basic options
    - - Things to watch out for
4. Retrieving with `.loc` -- ways to think about it
5. How to avoid a common Pandas warning / error

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [4]:
2 ** 8

256

In [5]:
s * 2

0     20
1     40
2     60
3     80
4    100
dtype: int8

In [6]:
s * 10  # here, we multiply by 10 and the numbers "roll over" -- because int8 isn't big enough for some solutions

0    100
1    -56
2     44
3   -112
4    -12
dtype: int8

In [8]:
s * 200   # will this have similar problems?  no!

0     2000
1     4000
2     6000
3     8000
4    10000
dtype: int16

In [ ]:
# somewhere along the line, Pandas decided to "promote" the series from int8 to int16, thus saving the day