Agenda
Fun with promotions
Data frames
1. What are they?
2. How can we create simple ones by hand?
3. How do we retrieve from them?
        -Reading from CSV files
        - Some basic options

Things to watch out for
Retrieving with .loc -- ways to think about it
How to avoid a common Pandas warning / error

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [3]:
2 ** 8

256

In [4]:
s * 2

0     20
1     40
2     60
3     80
4    100
dtype: int8

In [5]:
s * 10  # here, we multiply by 10 and the numbers "roll over" -- because int8 isn't big enough for some solutions

0    100
1    -56
2     44
3   -112
4    -12
dtype: int8

In [6]:

s * 200   # will this have similar problems?  no!

0     2000
1     4000
2     6000
3     8000
4    10000
dtype: int16

In [7]:
s + 126

0   -120
1   -110
2   -100
3    -90
4    -80
dtype: int8

In [8]:

s + 128

0    138
1    148
2    158
3    168
4    178
dtype: int16

Data frames
A data frame is a 2D table with rows and columns:

Each row is identified by an index
Each column is identified by a name, or a column name
Each column is basically a Pandas series. So anything that you can do on a series, you can do on a column.

Because each column is a series, we continue to use the index to identify each element.
All of teh series (columns) in a data frame share an index
When we retrieve a column, it's a series, like usual.
When we retrieve a row, Pandas creates a new series on the fly
Every column has a dtype, whereas rows are a combination of whatever dtypes are in their columns, and are often "object" columns

In [9]:
# create a data frame with a list of lists
# each inner list describes a row in the data frame

df = DataFrame([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90],
               [100, 110, 120]])
df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

Exercise: Create a data frame
Create a data frame containing your local weather forecast
It should have six rows, each for a different day
The index will contain day names/abbreviations
The columns will be high and low, showing the forecast high and low temps on each
Describe the values in high and low, b

In [23]:
df = DataFrame([[9, 15],
                [8, 15],
                [9, 16],
                [9, 17],
                [10, 18],
               [9, 16]],
            index='Mon Tue Wed Thu Fri'.split(),
            columns=['Low' , 'High'])
df

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

ValueError: Length of values (6) does not match length of index (5)

In [24]:

df = DataFrame([[36, 27],
               [38, 22],
               [38, 23],
               [37, 23],
               [35, 22],
               [34, 21]],
              index='Thu Fri Sat Sun Mon Tue'.split(),
              columns=['high', 'low'])
df

     high  low
Thu    36   27
Fri    38   22
Sat    38   23
Sun    37   23
Mon    35   22
Tue    34   21

In [25]:
df = DataFrame([[9, 15],
                [8, 15],
                [9, 16],
                [9, 17],
                [10, 18],
               [9, 16]],
            index='Mon Tue Wed Thu Fri Sat'.split(),
            columns=['Low' , 'High'])
df

     Low  High
Mon    9    15
Tue    8    15
Wed    9    16
Thu    9    17
Fri   10    18
Sat    9    16

In [27]:
df = pd.read_csv('../data/taxi.csv')

In [28]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [32]:
df.shape

(9999, 19)

In [30]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [33]:
df

NameError: name 'head' is not defined

In [34]:
df.describe

<bound method NDFrame.describe of       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0            2  2015-06-02 11:19:29   2015-06-02 11:47:52                1
1            2  2015-06-02 11:19:30   2015-06-02 11:27:56                1
2            2  2015-06-02 11:19:31   2015-06-02 11:30:30                1
3            2  2015-06-02 11:19:31   2015-06-02 11:39:02                1
4            1  2015-06-02 11:19:32   2015-06-02 11:32:49                1
...        ...                  ...                   ...              ...
9994         1  2015-06-01 00:12:59   2015-06-01 00:24:18                1
9995         1  2015-06-01 00:12:59   2015-06-01 00:28:16                1
9996         2  2015-06-01 00:13:00   2015-06-01 00:37:25                1
9997         2  2015-06-01 00:13:02   2015-06-01 00:19:10                6
9998         1  2015-06-01 00:13:04   2015-06-01 00:36:33                1

      trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0              1.63        -73.954430        40.764141           1
1              0.46        -73.971443        40.758942           1
2              0.87        -73.978111        40.738434           1
3              2.13        -73.945892        40.773529           1
4              1.40        -73.979088        40.776772           1
...             ...               ...              ...         ...
9994           2.70        -73.947792        40.814972           1
9995           4.50        -74.004066        40.747818           1
9996           5.59        -73.994377        40.766102           1
9997           1.54        -73.978302        40.748531           1
9998           5.80        -73.983215        40.726414           1

     store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                     N         -73.974754         40.754093             2
1                     N         -73.978539         40.761909             1
2                     N         -73.990273         40.745438             1
3                     N         -73.971527         40.760330             1
4                     N         -73.982162         40.758999             2
...                 ...                ...               ...           ...
9994                  N         -73.973358         40.783638             2
9995                  N         -73.953758         40.779285             1
9996                  N         -73.903206         40.750546             2
9997                  N         -73.989166         40.762852             2
9998                  N         -73.924133         40.701645             1

      fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0            17.0    0.0      0.5        0.00           0.0
1             6.5    0.0      0.5        1.00           0.0
2             8.0    0.0      0.5        2.20           0.0
3            13.5    0.0      0.5        2.86           0.0
4             9.5    0.0      0.5        0.00           0.0
...           ...    ...      ...         ...           ...
9994         11.0    0.5      0.5        0.00           0.0
9995         16.0    0.5      0.5        3.00           0.0
9996         21.0    0.5      0.5        0.00           0.0
9997          6.5    0.5      0.5        0.00           0.0
9998         21.0    0.5      0.5        4.45           0.0

      improvement_surcharge  total_amount
0                       0.3         17.80
1                       0.3          8.30
2                       0.3         11.00
3                       0.3         17.16
4                       0.3         10.30
...                     ...           ...
9994                    0.3         12.30
9995                    0.3         20.30
9996                    0.3         22.30
9997                    0.3          7.80
9998                    0.3         26.75

[9999 rows x 19 columns]>

In [35]:
df.loc[3]

VendorID                                   2
tpep_pickup_datetime     2015-06-02 11:19:31
tpep_dropoff_datetime    2015-06-02 11:39:02
passenger_count                            1
trip_distance                           2.13
pickup_longitude                  -73.945892
pickup_latitude                    40.773529
RateCodeID                                 1
store_and_fwd_flag                         N
dropoff_longitude                 -73.971527
dropoff_latitude                    40.76033
payment_type                               1
fare_amount                             13.5
extra                                    0.0
mta_tax                                  0.5
tip_amount                              2.86
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                           17.16
Name: 3, dtype: object

In [36]:
df['total_amount']

0       17.80
1        8.30
2       11.00
3       17.16
4       10.30
        ...
9994    12.30
9995    20.30
9996    22.30
9997     7.80
9998    26.75
Name: total_amount, Length: 9999, dtype: float64

In [39]:
df['total_amount'].mean()

17.552472247224728

In [42]:
df.loc[ df ['trip_distance'] > 50]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
4270,1,2015-06-01 00:00:58,2015-06-01 01:22:05,1,64.6,0.000000,0.000000,5,N,0.00000,0.000000,2,69.66,0.0,0.0,0.0,10.00,0.3,79.96
8513,1,2015-06-01 00:04:50,2015-06-01 01:31:44,1,60.3,-73.994415,40.750603,5,N,-73.42025,41.137344,1,150.00,0.0,0.0,0.0,9.75,0.3,160.05

In [47]:
df['trip_distance'][df['passenger_count'] == 3].count()

406

In [48]:
df['trip_distance'][df['passenger_count'] == 3]

10       0.01
67       2.50
82      10.24
126      1.06
192      0.60
        ...
9837     1.50
9888     6.00
9914     2.44
9946     5.00
9983     1.78
Name: trip_distance, Length: 406, dtype: float64

In [49]:
df.loc[
    df['passenger_count'] == 3
    ,
    ['trip_distance']
]

      trip_distance
10             0.01
67             2.50
82            10.24
126            1.06
192            0.60
...             ...
9837           1.50
9888           6.00
9914           2.44
9946           5.00
9983           1.78

[406 rows x 1 columns]

In [50]:
df = pd.read_csv('../data/taxi.csv')

In [51]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [52]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [54]:
df[['trip_distance','passenger_count','total_amount']]

      trip_distance  passenger_count  total_amount
0              1.63                1         17.80
1              0.46                1          8.30
2              0.87                1         11.00
3              2.13                1         17.16
4              1.40                1         10.30
...             ...              ...           ...
9994           2.70                1         12.30
9995           4.50                1         20.30
9996           5.59                1         22.30
9997           1.54                6          7.80
9998           5.80                1         26.75

[9999 rows x 3 columns]

In [56]:
ndf=df[['trip_distance','passenger_count','total_amount']]

In [59]:
ndf.loc[
    ndf['passenger_count'] == 1   # row selector
    ,
    ['trip_distance']             # column selector
]

trip_distance    7207
dtype: int64