Agenda
Fun with promotions
Data frames
1. What are they?
2. How can we create simple ones by hand?
3. How do we retrieve from them?
        -Reading from CSV files
        - Some basic options

Things to watch out for
Retrieving with .loc -- ways to think about it
How to avoid a common Pandas warning / error

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [3]:
2 ** 8

256

In [4]:
s * 2

0     20
1     40
2     60
3     80
4    100
dtype: int8

In [5]:
s * 10  # here, we multiply by 10 and the numbers "roll over" -- because int8 isn't big enough for some solutions

0    100
1    -56
2     44
3   -112
4    -12
dtype: int8

In [6]:

s * 200   # will this have similar problems?  no!

0     2000
1     4000
2     6000
3     8000
4    10000
dtype: int16

In [7]:
s + 126

0   -120
1   -110
2   -100
3    -90
4    -80
dtype: int8

In [8]:

s + 128

0    138
1    148
2    158
3    168
4    178
dtype: int16

Data frames
A data frame is a 2D table with rows and columns:

Each row is identified by an index
Each column is identified by a name, or a column name
Each column is basically a Pandas series. So anything that you can do on a series, you can do on a column.

Because each column is a series, we continue to use the index to identify each element.
All of teh series (columns) in a data frame share an index
When we retrieve a column, it's a series, like usual.
When we retrieve a row, Pandas creates a new series on the fly
Every column has a dtype, whereas rows are a combination of whatever dtypes are in their columns, and are often "object" columns

In [9]:
# create a data frame with a list of lists
# each inner list describes a row in the data frame

df = DataFrame([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90],
               [100, 110, 120]])
df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

Exercise: Create a data frame
Create a data frame containing your local weather forecast
It should have six rows, each for a different day
The index will contain day names/abbreviations
The columns will be high and low, showing the forecast high and low temps on each
Describe the values in high and low, b

In [23]:
df = DataFrame([[9, 15],
                [8, 15],
                [9, 16],
                [9, 17],
                [10, 18],
               [9, 16]],
            index='Mon Tue Wed Thu Fri'.split(),
            columns=['Low' , 'High'])
df

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

ValueError: Length of values (6) does not match length of index (5)

In [24]:

df = DataFrame([[36, 27],
               [38, 22],
               [38, 23],
               [37, 23],
               [35, 22],
               [34, 21]],
              index='Thu Fri Sat Sun Mon Tue'.split(),
              columns=['high', 'low'])
df

     high  low
Thu    36   27
Fri    38   22
Sat    38   23
Sun    37   23
Mon    35   22
Tue    34   21

In [25]:
df = DataFrame([[9, 15],
                [8, 15],
                [9, 16],
                [9, 17],
                [10, 18],
               [9, 16]],
            index='Mon Tue Wed Thu Fri Sat'.split(),
            columns=['Low' , 'High'])
df

     Low  High
Mon    9    15
Tue    8    15
Wed    9    16
Thu    9    17
Fri   10    18
Sat    9    16