In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.2.2'

In [6]:
filename = '../data/taxi.csv'

In [7]:
df = pd.read_csv(filename)

In [8]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [9]:
df['trip_distance'].tail()

9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: trip_distance, dtype: float64

In [10]:
%whos

Variable   Type         Data/Info
---------------------------------
df         DataFrame          VendorID tpep_picku<...>n[9999 rows x 19 columns]
filename   str          ../data/taxi.csv
pd         module       <module 'pandas' from '/h<...>ages/pandas/__init__.py'>

In [11]:
from bs4 import BeautifulSoup

In [15]:
import requests
url = "https://www.bou.or.ug/bouwebsite/BOU-HOME/"
response = requests.get(url)

In [16]:
if response.status_code == 200:
    print("Success!")
    # Process the response content, e.g., response.text or response.json()
else:
    print("Failed to retrieve the data")

Success!

In [17]:
soup = BeautifulSoup(response.text, 'html.parser')

In [22]:
table = soup.find('table')

In [23]:
print (table)

<table class="myTable" style="height: 259px;" width="710">
<tbody>
<tr style="height: 19px;">
<td style="width: 351.438px; height: 19px;"><strong>Currency (09 May 2024)</strong></td>
<td style="width: 177.75px; height: 19px;"><strong>Buying </strong></td>
<td style="width: 159.812px; height: 19px;"><strong>Selling</strong></td>
</tr>
<tr style="height: 19px;">
<td style="width: 351.438px; height: 19px;"><strong>USD (Opening)</strong></td>
<td style="width: 177.75px; height: 19px; text-align: right;"><strong>3,779.54</strong></td>
<td style="width: 159.812px; height: 19px; text-align: right;"><strong>3,789.54</strong></td>
</tr>
<tr style="height: 19px;">
<td style="width: 351.438px; height: 19px;"><strong>USD (Midday)</strong></td>
<td style="width: 177.75px; height: 19px; text-align: right;"><strong>3,777.21</strong></td>
<td style="width: 159.812px; height: 19px; text-align: right;"><strong>3,787.21</strong></td>
</tr>
<tr style="height: 19px;">
<td style="width: 351.438px; height: 19px;"><strong>USD (Closing)</strong></td>
<td style="width: 177.75px; height: 19px; text-align: right;"><strong>3,775.08</strong></td>
<td style="width: 159.812px; height: 19px; text-align: right;"><strong>3,785.08</strong></td>
</tr>
<tr style="height: 19px;">
<td style="width: 351.438px; height: 19px;"><strong>GBP (Closing)<br/></strong></td>
<td style="width: 177.75px; height: 19px; text-align: right;"><strong>4,715.07</strong></td>
<td style="width: 159.812px; height: 19px; text-align: right;"><strong>4,727.56</strong></td>
</tr>
<tr style="height: 26px;">
<td style="width: 351.438px; height: 26px;"><strong>EUR (Closing</strong><strong>)</strong></td>
<td style="width: 177.75px; height: 26px; text-align: right;"><strong>4,055.56</strong></td>
<td style="width: 159.812px; height: 26px; text-align: right;"><strong>4,066.31</strong></td>
</tr>
<tr style="height: 26px;">
<td style="width: 351.438px; height: 26px;"><strong>KES (Closing)</strong></td>
<td style="width: 177.75px; height: 26px; text-align: right;"><strong>28.70</strong></td>
<td style="width: 159.812px; height: 26px; text-align: right;"><strong>28.78</strong></td>
</tr>
<tr style="height: 26px;">
<td style="width: 351.438px; height: 26px;"><strong>TZS (Closing)</strong></td>
<td style="width: 177.75px; height: 26px; text-align: right;"><strong>1.45</strong></td>
<td style="width: 159.812px; height: 26px; text-align: right;"><strong>1.46</strong></td>
</tr>
<tr style="height: 26px;">
<td style="width: 351.438px; height: 26px;"><strong>ZAR (Closing)</strong></td>
<td style="width: 177.75px; text-align: right; height: 26px;"><strong>203.19</strong></td>
<td style="width: 159.812px; text-align: right; height: 26px;"><strong>203.73</strong></td>
</tr>
</tbody>
</table>

In [25]:
import pandas

In [27]:
df = pd.read_html(str(table))[0]

/tmp/ipykernel_284052/1339507137.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [28]:
import pandas as pd

In [31]:
from pandas import Series
s = Series([18, 27, 20,21,16,7,21])

In [32]:
s.sum()

65

In [33]:
s.count()

3

In [35]:
s.mean()
s.median()

20.0

In [36]:
s.describe()

count     3.000000
mean     21.666667
std       4.725816
min      18.000000
25%      19.000000
50%      20.000000
75%      23.500000
max      27.000000
dtype: float64

In [38]:
s.loc[:3]

0    18
1    27
2    20
dtype: int64

In [40]:
s = Series([18, 27, 20,21,16,7,21])

In [41]:
s.loc[2]

20

In [42]:
s.iloc[2]

20

In [43]:
s.describe()

count     7.000000
mean     18.571429
std       6.133437
min       7.000000
25%      17.000000
50%      20.000000
75%      21.000000
max      27.000000
dtype: float64

In [44]:
print(s)

0    18
1    27
2    20
3    21
4    16
5     7
6    21
dtype: int64

In [45]:
s = Series([18,27,20,21,16,7,47,21],
          index='mon tue wed thur fri sat sun mon'.split())

In [46]:
s

mon     18
tue     27
wed     20
thur    21
fri     16
sat      7
sun     47
mon     21
dtype: int64

In [48]:
s.loc['mon'].mean()

19.5

In [49]:
import pandas

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [50]:
import pandas as pd
from pandas import Series

In [52]:
s=Series([54,32,17,58,1])
s

0    54
1    32
2    17
3    58
4     1
dtype: int64

In [53]:
s=Series([54,32,17,58,1],dtype='int8')
s

0    54
1    32
2    17
3    58
4     1
dtype: int8

In [54]:
s=Series([54,32,17,58,1])
s

0    54
1    32
2    17
3    58
4     1
dtype: int64

In [55]:
s=Series([54,32,17,58,1])
t=s.astype('int32')

In [56]:
s=Series([54,32,17,58,1])
t=s.astype('int32')
s
t

0    54
1    32
2    17
3    58
4     1
dtype: int32

In [57]:
s=Series([54,32,17,58,1])
t=s.astype('int32')
s

0    54
1    32
2    17
3    58
4     1
dtype: int64

In [58]:
s=Series([54,32,17,58,1])
t=s.astype('int32')
t

0    54
1    32
2    17
3    58
4     1
dtype: int32

In [59]:
s=Series([54,32,17,58,1,'hello'])
t=s.astype('int32')

ValueError: invalid literal for int() with base 10: 'hello'

In [60]:
s=Series([54,32,17,58,1,'hello'])
t=s.astype('int32',errors='ignore')

In [61]:
s=Series([54,32,17,58,1,'hello'])
t=s.astype('int32',errors='ignore')
t

0       54
1       32
2       17
3       58
4        1
5    hello
dtype: object

In [64]:
ca=Series([10.9,155.4,15.6,45.7,41.0,47.6,98,7,21,36,7.9,14])
ca

0      10.9
1     155.4
2      15.6
3      45.7
4      41.0
5      47.6
6      98.0
7       7.0
8      21.0
9      36.0
10      7.9
11     14.0
dtype: float64

In [67]:
import numpy as np
ca=Series(np.random(10))
ca

TypeError: 'module' object is not callable

In [68]:
import numpy as np
ca=Series(np.random(10))
ca

TypeError: 'module' object is not callable

In [73]:
import numpy as np
ca=Series(np.random.rand(10))

In [74]:
import numpy as np
ca=Series(np.random.rand(10))

In [75]:
import numpy as np
ca=Series(np.random.rand(10))
ca

0    0.008711
1    0.148961
2    0.687102
3    0.490992
4    0.052679
5    0.229294
6    0.989270
7    0.572011
8    0.817328
9    0.416103
dtype: float64

In [76]:
import numpy as np
ca=Series(np.random.rand(10))
ca.astype('int32')

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int32

In [77]:
import numpy as np
ca=Series(np.random.rand(10))*10000
ca.astype('int32')

0    4512
1    1481
2    6705
3    5925
4    1896
5    2216
6    8499
7    4599
8    9627
9    1047
dtype: int32

In [78]:
import numpy as np
ca=Series(np.random.rand(10))
ca.astype('int32') % 3 == 0

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [79]:
import numpy as np
ca=Series(np.random.rand(10))
ca.astype('int32') % 2 == 0

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [93]:
s = Series([10, 20, np.nan, 40, 50])
s.mean()

30.0

In [94]:
s.dropna()

0    10.0
1    20.0
3    40.0
4    50.0
dtype: float64

In [99]:
s

0    10.0
1    20.0
2     NaN
3    40.0
4    50.0
dtype: float64

In [103]:
df = DataFrame([[36, 27],
               [38, 22],
               [38, 23],
               [37, 23],
               [35, 22],
               [34, 21]],

df

SyntaxError: incomplete input (2768825455.py, line 8)

In [104]:
df = DataFrame([[36, 27],
               [38, 22],
               [38, 23],
               [37, 23],
               [35, 22],
               [34, 21]],
              index='Thu Fri Sat Sun Mon Tue'.split(),
              columns=['high', 'low'])
df

NameError: name 'DataFrame' is not defined

In [105]:
import pandas as pd

df = DataFrame([[36, 27],
               [38, 22],
               [38, 23],
               [37, 23],
               [35, 22],
               [34, 21]],
              index='Thu Fri Sat Sun Mon Tue'.split(),
              columns=['high', 'low'])
df

NameError: name 'DataFrame' is not defined

In [106]:
import pandas as pd
from pandas import Series, DataFrame
df = DataFrame([[36, 27],
               [38, 22],
               [38, 23],
               [37, 23],
               [35, 22],
               [34, 21]],
              index='Thu Fri Sat Sun Mon Tue'.split(),
              columns=['high', 'low'])
df

     high  low
Thu    36   27
Fri    38   22
Sat    38   23
Sun    37   23
Mon    35   22
Tue    34   21

In [108]:
!ls../data/*.csv

/bin/bash: line 1: ls../data/*.csv: No such file or directory

In [109]:
df = pd.read_csv('../data/taxi.csv')

In [110]:
df.shape

(9999, 19)

In [111]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [112]:
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,1.516652,1.659466,3.158511,-73.014956,40.226521,1.045105,-73.054699,40.248644,1.407741,14.415892,0.118212,0.497450,1.818059,0.400433,0.299790,17.552472
std,0.499748,1.333306,4.037516,8.347871,4.599169,0.302132,8.186847,4.510520,0.501911,12.442624,0.214794,0.037667,2.634469,1.665170,0.010816,15.137990
min,1.000000,0.000000,0.000000,-74.186302,0.000000,1.000000,-74.277367,0.000000,1.000000,-7.000000,-0.500000,-0.500000,0.000000,0.000000,-0.300000,-7.800000
25%,1.000000,1.000000,1.000000,-73.990997,40.738556,1.000000,-73.990261,40.738478,1.000000,7.000000,0.000000,0.500000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.700000,-73.979774,40.755909,1.000000,-73.978256,40.756340,1.000000,10.500000,0.000000,0.500000,1.000000,0.000000,0.300000,12.800000
75%,2.000000,2.000000,3.300000,-73.963001,40.770012,1.000000,-73.961311,40.771044,2.000000,17.000000,0.000000,0.500000,2.460000,0.000000,0.300000,19.800000
max,2.000000,6.000000,64.600000,0.000000,41.064606,5.000000,0.000000,41.137344,4.000000,250.000000,1.000000,0.500000,42.050000,70.000000,0.300000,252.350000

In [113]:
df.loc[3]

VendorID                                   2
tpep_pickup_datetime     2015-06-02 11:19:31
tpep_dropoff_datetime    2015-06-02 11:39:02
passenger_count                            1
trip_distance                           2.13
pickup_longitude                  -73.945892
pickup_latitude                    40.773529
RateCodeID                                 1
store_and_fwd_flag                         N
dropoff_longitude                 -73.971527
dropoff_latitude                    40.76033
payment_type                               1
fare_amount                             13.5
extra                                    0.0
mta_tax                                  0.5
tip_amount                              2.86
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                           17.16
Name: 3, dtype: object

In [114]:
df[['trip_distance', 'total_amount']].mean()

trip_distance     3.158511
total_amount     17.552472
dtype: float64

In [116]:
df['trip_distance'][df['passenger_count']==3]

10       0.01
67       2.50
82      10.24
126      1.06
192      0.60
        ...
9837     1.50
9888     6.00
9914     2.44
9946     5.00
9983     1.78
Name: trip_distance, Length: 406, dtype: float64

In [119]:
df.loc[df['passenger_count']==3,['trip_distance']]

      trip_distance
10             0.01
67             2.50
82            10.24
126            1.06
192            0.60
...             ...
9837           1.50
9888           6.00
9914           2.44
9946           5.00
9983           1.78

[406 rows x 1 columns]