In [3]:
import pandas as pd

In [7]:
filename = '../data/taxi.csv'

df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime',
                          'passenger_count',
                          'trip_distance',
                          'total_amount'])

df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,8.30
2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,11.00
3,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,17.16
4,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,10.30

In [8]:
df.dtypes

tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
total_amount             float64
dtype: object

In [9]:
# take string column and get datetime using pd.to_datetime

pd.to_datetime(df['tpep_pickup_datetime'])

0      2015-06-02 11:19:29
1      2015-06-02 11:19:30
2      2015-06-02 11:19:31
3      2015-06-02 11:19:31
4      2015-06-02 11:19:32
               ...
9994   2015-06-01 00:12:59
9995   2015-06-01 00:12:59
9996   2015-06-01 00:13:00
9997   2015-06-01 00:13:02
9998   2015-06-01 00:13:04
Name: tpep_pickup_datetime, Length: 9999, dtype: datetime64[ns]

In [11]:
# assign the datetime version of these back to the original df

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [21]:
df.iloc[999]

tpep_pickup_datetime     2015-06-02 11:23:34
tpep_dropoff_datetime    2015-06-02 11:41:17
passenger_count                            4
trip_distance                           1.83
total_amount                            16.0
Name: 999, dtype: object

In [26]:
df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime',
                          'passenger_count',
                          'trip_distance',
                          'total_amount'],
                parse_dates=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime'])

df.dtypes

tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
total_amount                    float64
dtype: object

In [42]:
filename = '../data/chicago,il.csv'
df = pd.read_csv(filename)
df.head()

,date_time,"chicago,il_maxtempC","chicago,il_mintempC","chicago,il_totalSnow_cm","chicago,il_sunHour","chicago,il_uvIndex","chicago,il_uvIndex.1","chicago,il_moon_illumination","chicago,il_moonrise","chicago,il_moonset",...,"chicago,il_WindChillC","chicago,il_WindGustKmph","chicago,il_cloudcover","chicago,il_humidity","chicago,il_precipMM","chicago,il_pressure","chicago,il_tempC","chicago,il_visibility","chicago,il_winddirDegree","chicago,il_windspeedKmph"
0,2018-12-11 00:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-7,33,0,76,0.0,1021,-1,10,231,22
1,2018-12-11 03:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-6,33,0,80,0.0,1021,-1,10,243,21
2,2018-12-11 06:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-8,28,5,83,0.0,1020,-2,10,240,19
3,2018-12-11 09:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,-6,23,15,77,0.0,1019,-1,10,262,16
4,2018-12-11 12:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,-1,8,19,71,0.0,1018,1,10,271,6

In [43]:
df.memory_usage(deep=True).sum()  # 332,220

332220

In [44]:
df = pd.read_csv(filename,
                parse_dates=['date_time'])

df.dtypes

date_time                       datetime64[ns]
chicago,il_maxtempC                      int64
chicago,il_mintempC                      int64
chicago,il_totalSnow_cm                float64
chicago,il_sunHour                     float64
chicago,il_uvIndex                       int64
chicago,il_uvIndex.1                     int64
chicago,il_moon_illumination             int64
chicago,il_moonrise                     object
chicago,il_moonset                      object
chicago,il_sunrise                      object
chicago,il_sunset                       object
chicago,il_DewPointC                     int64
chicago,il_FeelsLikeC                    int64
chicago,il_HeatIndexC                    int64
chicago,il_WindChillC                    int64
chicago,il_WindGustKmph                  int64
chicago,il_cloudcover                    int64
chicago,il_humidity                      int64
chicago,il_precipMM                    float64
chicago,il_pressure                      int64
chicago,il_tempC                         int64
chicago,il_visibility                    int64
chicago,il_winddirDegree                 int64
chicago,il_windspeedKmph                 int64
dtype: object

In [45]:
df.memory_usage(deep=True).sum()  # 288,540

288540

In [47]:
filename = '../data/taxi.csv'
df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime',
                          'passenger_count',
                          'trip_distance',
                          'total_amount'],
                parse_dates=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime'])

In [48]:
df['tpep_pickup_datetime'].dt.hour

0       11
1       11
2       11
3       11
4       11
        ..
9994     0
9995     0
9996     0
9997     0
9998     0
Name: tpep_pickup_datetime, Length: 9999, dtype: int32

In [49]:
df['tpep_pickup_datetime'].dt.day

0       2
1       2
2       2
3       2
4       2
       ..
9994    1
9995    1
9996    1
9997    1
9998    1
Name: tpep_pickup_datetime, Length: 9999, dtype: int32

In [53]:
filename = '../data/nyc_taxi_2020-07.csv'
df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime',
                          'passenger_count',
                          'trip_distance',
                          'total_amount'])
df.memory_usage(deep=True).sum()   #  128,066,052

128066052

In [55]:
df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime',
                          'passenger_count',
                          'trip_distance',
                          'total_amount'],
                parse_dates=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime'])
df.memory_usage(deep=True).sum()  #  32,016,612

32016612

In [93]:
# what were the three hours of the day at which taxis were most often called
(
    df['tpep_pickup_datetime']
    .dt.hour
    .value_counts()
    .head(3)
)

tpep_pickup_datetime
15    59210
14    59073
13    57580
Name: count, dtype: int64

In [100]:
# how many rows have non-July 2020 data
df.loc[(df['tpep_pickup_datetime'].dt.month != 7) &
        (df['tpep_pickup_datetime'].dt.year != 2020)]

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
198195,2008-12-31 23:12:22,2008-12-31 23:25:04,1.0,1.62,11.8
198275,2009-01-01 01:29:56,2009-01-01 01:38:44,1.0,1.31,10.3

In [102]:
# how many rows have non 2020 data
df.loc[df['tpep_pickup_datetime'].dt.year != 2020]

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
198195,2008-12-31 23:12:22,2008-12-31 23:25:04,1.0,1.62,11.8
198275,2009-01-01 01:29:56,2009-01-01 01:38:44,1.0,1.31,10.3

In [103]:
# run groupby on a categorical column

df['trip_distance'].mean()

4.304164880086755

In [105]:
# how far did people travel on average per hour
df.groupby(df['tpep_pickup_datetime'].dt.hour)['trip_distance'].mean()

tpep_pickup_datetime
0      4.686456
1     15.018075
2      7.522501
3     14.842060
4     13.844186
5      3.669135
6      2.877530
7      4.502182
8      2.588864
9      2.552402
10     2.525525
11     2.570557
12     2.635746
13     3.229825
14     2.705078
15     2.884645
16     2.980572
17     3.006179
18     2.958436
19     3.080243
20     3.432630
21    32.465414
22     3.785870
23     4.159685
Name: trip_distance, dtype: float64

In [110]:
df['trip_time'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
0,2020-07-01 00:25:32,2020-07-01 00:33:39,1.0,1.50,9.30,0 days 00:08:07
1,2020-07-01 00:03:19,2020-07-01 00:25:43,1.0,9.50,27.80,0 days 00:22:24
2,2020-07-01 00:15:11,2020-07-01 00:29:24,1.0,5.85,22.30,0 days 00:14:13
3,2020-07-01 00:30:49,2020-07-01 00:38:26,1.0,1.90,14.16,0 days 00:07:37
4,2020-07-01 00:31:26,2020-07-01 00:38:02,1.0,1.25,7.80,0 days 00:06:36
...,...,...,...,...,...,...
800407,2020-07-19 13:27:52,2020-07-19 14:22:15,NaN,24.23,83.50,0 days 00:54:23
800408,2020-07-19 13:02:00,2020-07-19 13:21:00,NaN,4.40,19.78,0 days 00:19:00
800409,2020-07-19 13:32:00,2020-07-19 13:51:00,NaN,8.78,38.45,0 days 00:19:00
800410,2020-07-19 13:28:00,2020-07-19 13:51:00,NaN,6.50,29.77,0 days 00:23:00
800411,2020-07-19 13:31:23,2020-07-19 13:58:22,NaN,10.88,51.90,0 days 00:26:59

In [124]:
# < 1 minute long trips
df.loc[df['trip_time'] < '1 minute']

15.654617368081777

In [123]:
df1 = df.loc[ df['trip_time'] > '1 hour' ]
df1['trip_distance'].mean()

13.059049645390072

In [119]:
df1

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
105,2020-07-01 00:33:35,2020-07-02 00:27:20,1.0,8.31,31.68,0 days 23:53:45
133,2020-07-01 00:04:30,2020-07-01 05:10:03,1.0,21.22,177.30,0 days 05:05:33
220,2020-07-01 00:16:38,2020-07-02 00:10:13,1.0,4.54,23.76,0 days 23:53:35
235,2020-06-30 18:32:20,2020-07-01 18:07:16,1.0,7.45,35.30,0 days 23:34:56
299,2020-07-01 01:03:24,2020-07-01 02:16:17,1.0,25.80,0.30,0 days 01:12:53
...,...,...,...,...,...,...
799285,2020-07-13 23:31:00,2020-07-14 00:33:00,NaN,17.00,93.50,0 days 01:02:00
799426,2020-07-18 21:54:00,2020-07-18 23:03:00,NaN,24.86,75.20,0 days 01:09:00
799452,2020-07-18 21:20:00,2020-07-18 22:26:00,NaN,25.10,76.00,0 days 01:06:00
799667,2020-07-19 00:25:00,2020-07-19 01:26:00,NaN,3.08,42.96,0 days 01:01:00
800178,2020-07-19 09:51:08,2020-07-19 10:54:26,NaN,36.50,123.25,0 days 01:03:18

In [121]:
df.loc[
    df['trip_time'] < '1 minute',
    'total_amount'
].mean()

15.654617368081777

In [128]:
# Time Series
df = df.set_index('tpep_pickup_datetime')

KeyError: "None of ['tpep_pickup_datetime'] are in the columns"

In [127]:
df

,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
tpep_pickup_datetime,,,,,
2020-07-01 00:25:32,2020-07-01 00:33:39,1.0,1.50,9.30,0 days 00:08:07
2020-07-01 00:03:19,2020-07-01 00:25:43,1.0,9.50,27.80,0 days 00:22:24
2020-07-01 00:15:11,2020-07-01 00:29:24,1.0,5.85,22.30,0 days 00:14:13
2020-07-01 00:30:49,2020-07-01 00:38:26,1.0,1.90,14.16,0 days 00:07:37
2020-07-01 00:31:26,2020-07-01 00:38:02,1.0,1.25,7.80,0 days 00:06:36
...,...,...,...,...,...
2020-07-19 13:27:52,2020-07-19 14:22:15,NaN,24.23,83.50,0 days 00:54:23
2020-07-19 13:02:00,2020-07-19 13:21:00,NaN,4.40,19.78,0 days 00:19:00
2020-07-19 13:32:00,2020-07-19 13:51:00,NaN,8.78,38.45,0 days 00:19:00
2020-07-19 13:28:00,2020-07-19 13:51:00,NaN,6.50,29.77,0 days 00:23:00
2020-07-19 13:31:23,2020-07-19 13:58:22,NaN,10.88,51.90,0 days 00:26:59

In [131]:
df.loc['2020-07-01 09:00:00']

,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
tpep_pickup_datetime,,,,,
2020-07-01 09:00:00,2020-07-01 09:37:00,NaN,5.84,30.32,0 days 00:37:00
2020-07-01 09:00:00,2020-07-01 09:11:00,NaN,4.27,26.74,0 days 00:11:00

In [133]:
# if I use .loc, I can remove more specific parts from the datetime.
# 2020 - 07
df.loc['2020-07']

,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
tpep_pickup_datetime,,,,,
2020-07-01 00:25:32,2020-07-01 00:33:39,1.0,1.50,9.30,0 days 00:08:07
2020-07-01 00:03:19,2020-07-01 00:25:43,1.0,9.50,27.80,0 days 00:22:24
2020-07-01 00:15:11,2020-07-01 00:29:24,1.0,5.85,22.30,0 days 00:14:13
2020-07-01 00:30:49,2020-07-01 00:38:26,1.0,1.90,14.16,0 days 00:07:37
2020-07-01 00:31:26,2020-07-01 00:38:02,1.0,1.25,7.80,0 days 00:06:36
...,...,...,...,...,...
2020-07-19 13:27:52,2020-07-19 14:22:15,NaN,24.23,83.50,0 days 00:54:23
2020-07-19 13:02:00,2020-07-19 13:21:00,NaN,4.40,19.78,0 days 00:19:00
2020-07-19 13:32:00,2020-07-19 13:51:00,NaN,8.78,38.45,0 days 00:19:00
2020-07-19 13:28:00,2020-07-19 13:51:00,NaN,6.50,29.77,0 days 00:23:00
2020-07-19 13:31:23,2020-07-19 13:58:22,NaN,10.88,51.90,0 days 00:26:59

In [136]:
# 2020 - 07 - 01 - 9th hour, 8th minute
df.loc['2020-07-01 09:08']

,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount,trip_time
tpep_pickup_datetime,,,,,
2020-07-01 09:08:59,2020-07-01 09:25:39,1.0,5.80,28.95,0 days 00:16:40
2020-07-01 09:08:53,2020-07-01 09:16:58,1.0,1.70,12.43,0 days 00:08:05
2020-07-01 09:08:35,2020-07-01 09:12:29,1.0,0.80,8.30,0 days 00:03:54
2020-07-01 09:08:06,2020-07-01 09:13:15,3.0,1.00,10.56,0 days 00:05:09
2020-07-01 09:08:49,2020-07-01 09:29:23,1.0,3.50,22.20,0 days 00:20:34
2020-07-01 09:08:04,2020-07-01 09:16:59,6.0,1.65,15.99,0 days 00:08:55
2020-07-01 09:08:47,2020-07-01 09:22:21,1.0,3.20,18.35,0 days 00:13:34
2020-07-01 09:08:22,2020-07-01 09:18:22,1.0,1.02,10.80,0 days 00:10:00
2020-07-01 09:08:37,2020-07-01 09:19:06,1.0,1.90,14.75,0 days 00:10:29
2020-07-01 09:08:11,2020-07-01 09:26:16,1.0,3.31,20.76,0 days 00:18:05
2020-07-01 09:08:06,2020-07-01 09:23:13,1.0,2.60,15.80,0 days 00:15:07
2020-07-01 09:08:09,2020-07-01 09:13:39,1.0,1.40,11.00,0 days 00:05:30
2020-07-01 09:08:23,2020-07-01 09:12:53,1.0,0.52,9.96,0 days 00:04:30
2020-07-01 09:08:11,2020-07-01 09:11:19,1.0,0.60,7.30,0 days 00:03:08
2020-07-01 09:08:28,2020-07-01 09:12:44,1.0,0.80,9.30,0 days 00:04:16
2020-07-01 09:08:03,2020-07-01 09:17:08,1.0,1.90,14.16,0 days 00:09:05
2020-07-01 09:08:09,2020-07-01 09:13:52,1.0,1.74,12.96,0 days 00:05:43
2020-07-01 09:08:30,2020-07-01 09:31:07,1.0,3.88,23.34,0 days 00:22:37
2020-07-01 09:08:32,2020-07-01 09:27:07,1.0,3.64,21.96,0 days 00:18:35
2020-07-01 09:08:49,2020-07-01 09:29:23,NaN,3.50,22.20,0 days 00:20:34

In [138]:
df.resample('4h')['trip_distance'].mean().dropna().head(20)

tpep_pickup_datetime
2008-12-31 20:00:00     1.620000
2009-01-01 00:00:00     1.310000
2020-06-30 16:00:00     3.077500
2020-06-30 20:00:00     6.025000
2020-07-01 00:00:00     7.510864
2020-07-01 04:00:00     3.811572
2020-07-01 08:00:00     2.543212
2020-07-01 12:00:00     2.594536
2020-07-01 16:00:00     3.019570
2020-07-01 20:00:00     3.801178
2020-07-02 00:00:00     7.372677
2020-07-02 04:00:00     3.998478
2020-07-02 08:00:00     2.633790
2020-07-02 12:00:00     2.736281
2020-07-02 16:00:00     3.135925
2020-07-02 20:00:00     3.730843
2020-07-03 00:00:00    36.282808
2020-07-03 04:00:00     4.495335
2020-07-03 08:00:00     2.790211
2020-07-03 12:00:00     2.783576
Name: trip_distance, dtype: float64

In [141]:
df.resample('5d')['trip_distance'].mean().dropna().head

tpep_pickup_datetime
2008-12-31    1.465000
2020-06-26    4.060000
2020-07-01    3.776115
2020-07-06    4.810381
2020-07-11    3.194486
2020-07-16    5.624204
2020-07-21    4.006721
2020-07-26    4.562470
2020-07-31    3.231207
Name: trip_distance, dtype: float64