In [1]:
# cleaning 'NaN'

import pandas as pd
import numpy as np
from pandas import Series, DataFrame

s = Series([10,20, np.nan, 40, 50])
s

0    10.0
1    20.0
2     NaN
3    40.0
4    50.0
dtype: float64

In [2]:
# fillna method
s.fillna(5)

0    10.0
1    20.0
2     5.0
3    40.0
4    50.0
dtype: float64

In [3]:
s.fillna(s.mean())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [6]:
# dropna

s.dropna()

0    10.0
1    20.0
3    40.0
4    50.0
dtype: float64

In [9]:
# Missing Weather

s = Series([19,22,22,np.nan,19,22,np.nan,22,19,np.nan],
          index='Tue Wed Thu Fri Sat Sun Mon Tue Wed Thu'.split())

Tue    19.0
Wed    22.0
Thu    22.0
Fri     NaN
Sat    19.0
Sun    22.0
Mon     NaN
Tue    22.0
Wed    19.0
Thu     NaN
dtype: float64

In [10]:
s.fillna(s.mean())

Tue    19.000000
Wed    22.000000
Thu    22.000000
Fri    20.714286
Sat    19.000000
Sun    22.000000
Mon    20.714286
Tue    22.000000
Wed    19.000000
Thu    20.714286
dtype: float64

In [11]:
s.fillna(s.median())

Tue    19.0
Wed    22.0
Thu    22.0
Fri    22.0
Sat    19.0
Sun    22.0
Mon    22.0
Tue    22.0
Wed    19.0
Thu    22.0
dtype: float64

In [12]:
s.dropna()

Tue    19.0
Wed    22.0
Thu    22.0
Sat    19.0
Sun    22.0
Tue    22.0
Wed    19.0
dtype: float64