In [3]:
import pandas as pd

In [7]:
filename = '../data/taxi.csv'

df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime',
                          'passenger_count',
                          'trip_distance',
                          'total_amount'])

df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,8.30
2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,11.00
3,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,17.16
4,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,10.30

In [8]:
df.dtypes

tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
total_amount             float64
dtype: object

In [9]:
# take string column and get datetime using pd.to_datetime

pd.to_datetime(df['tpep_pickup_datetime'])

0      2015-06-02 11:19:29
1      2015-06-02 11:19:30
2      2015-06-02 11:19:31
3      2015-06-02 11:19:31
4      2015-06-02 11:19:32
               ...
9994   2015-06-01 00:12:59
9995   2015-06-01 00:12:59
9996   2015-06-01 00:13:00
9997   2015-06-01 00:13:02
9998   2015-06-01 00:13:04
Name: tpep_pickup_datetime, Length: 9999, dtype: datetime64[ns]

In [11]:
# assign the datetime version of these back to the original df

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [21]:
df.iloc[999]

tpep_pickup_datetime     2015-06-02 11:23:34
tpep_dropoff_datetime    2015-06-02 11:41:17
passenger_count                            4
trip_distance                           1.83
total_amount                            16.0
Name: 999, dtype: object

In [26]:
df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime',
                          'passenger_count',
                          'trip_distance',
                          'total_amount'],
                parse_dates=['tpep_pickup_datetime',
                          'tpep_dropoff_datetime'])

df.dtypes

tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
total_amount                    float64
dtype: object

In [39]:
filename = '../data/chicago,il.csv'
df = pd.read_csv(filename)
df.head()

,date_time,"chicago,il_maxtempC","chicago,il_mintempC","chicago,il_totalSnow_cm","chicago,il_sunHour","chicago,il_uvIndex","chicago,il_uvIndex.1","chicago,il_moon_illumination","chicago,il_moonrise","chicago,il_moonset",...,"chicago,il_WindChillC","chicago,il_WindGustKmph","chicago,il_cloudcover","chicago,il_humidity","chicago,il_precipMM","chicago,il_pressure","chicago,il_tempC","chicago,il_visibility","chicago,il_winddirDegree","chicago,il_windspeedKmph"
0,2018-12-11 00:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-7,33,0,76,0.0,1021,-1,10,231,22
1,2018-12-11 03:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-6,33,0,80,0.0,1021,-1,10,243,21
2,2018-12-11 06:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-8,28,5,83,0.0,1020,-2,10,240,19
3,2018-12-11 09:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,-6,23,15,77,0.0,1019,-1,10,262,16
4,2018-12-11 12:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,-1,8,19,71,0.0,1018,1,10,271,6

In [32]:
df.memory_usage().sum()  # 145,732

145732

In [40]:
df = pd.read_csv(filename,
                parse_dates=['date_time'])

df.dtypes

date_time                       datetime64[ns]
chicago,il_maxtempC                      int64
chicago,il_mintempC                      int64
chicago,il_totalSnow_cm                float64
chicago,il_sunHour                     float64
chicago,il_uvIndex                       int64
chicago,il_uvIndex.1                     int64
chicago,il_moon_illumination             int64
chicago,il_moonrise                     object
chicago,il_moonset                      object
chicago,il_sunrise                      object
chicago,il_sunset                       object
chicago,il_DewPointC                     int64
chicago,il_FeelsLikeC                    int64
chicago,il_HeatIndexC                    int64
chicago,il_WindChillC                    int64
chicago,il_WindGustKmph                  int64
chicago,il_cloudcover                    int64
chicago,il_humidity                      int64
chicago,il_precipMM                    float64
chicago,il_pressure                      int64
chicago,il_tempC                         int64
chicago,il_visibility                    int64
chicago,il_winddirDegree                 int64
chicago,il_windspeedKmph                 int64
dtype: object

In [41]:
df.memory_usage().sum()  # 145,732

145732