In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [8]:
np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('acegihfjdb'))
s

a    -6
c    -3
e    14
g    17
i    17
h   -41
f    33
j   -29
d   -14
b    37
dtype: int64

In [4]:
s.loc['e']

14

In [5]:
# fancy index
s.loc[['e','a']]

e    14
a    -6
dtype: int64

In [6]:
s.loc['e':'h']

e    14
g    17
i    17
h   -41
dtype: int64

In [7]:
# sort the index
(
    s
    .sort_index()
    .head()
)

a    -6
b    37
c    -3
d   -14
e    14
dtype: int64

In [10]:
np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('abcfhiajbl'))
s

a    -6
b    -3
c    14
f    17
h    17
i   -41
a    33
j   -29
b   -14
l    37
dtype: int64

In [11]:
(
    s
    .sort_index()
    ['a':'c']
)

a    -6
a    33
b    -3
b   -14
c    14
dtype: int64

In [13]:
# sort_values method to sort by value
s.sort_values()

i   -41
j   -29
b   -14
a    -6
b    -3
c    14
f    17
h    17
a    33
l    37
dtype: int64

In [24]:
s = Series([25, 60, 86, 12, 5, 49, 32],
           index=('Jack','Gary','Jenny','Jason','Greg','Charles','Matilda'))
s

Jack       25
Gary       60
Jenny      86
Jason      12
Greg        5
Charles    49
Matilda    32
dtype: int64

In [25]:
# mean age of first 3 people
(
    s
    .sort_index()
    .head(3)
    .mean()
)

38.0

In [35]:
# names of eldest and youngest
(
    s
    .sort_values()
    .head(1)
)

Greg    5
dtype: int64

'Greg'

In [43]:
(
    s
    .sort_values()
    .iloc[[0, -1]]
)

Greg      5
Jenny    86
dtype: int64

In [40]:
# Aggregate idxmin and idxmax methods
(
    s
    .agg(['idxmin', 'idxmax'])
)

idxmin     Greg
idxmax    Jenny
dtype: object

In [44]:
# sort in descending order

(
    s
    .sort_values(ascending=False)
)

Jenny      86
Gary       60
Charles    49
Matilda    32
Jack       25
Jason      12
Greg        5
dtype: int64

In [45]:
# sort in descending order

(
    s
    .sort_index(ascending=False)
)

Matilda    32
Jenny      86
Jason      12
Jack       25
Greg        5
Gary       60
Charles    49
dtype: int64

In [47]:
# change the way they are compared

np.random.seed(0)
s = Series(np.random.randint(-50, 50, 10),
           index=list('abcdefghij'))
s

a    -6
b    -3
c    14
d    17
e    17
f   -41
g    33
h   -29
i   -14
j    37
dtype: int64

In [48]:
s.sort_values()

f   -41
h   -29
i   -14
a    -6
b    -3
c    14
d    17
e    17
g    33
j    37
dtype: int64

In [49]:
# sort by absolute values - however makes negative positive
s.abs().sort_values()

b     3
a     6
c    14
i    14
d    17
e    17
h    29
g    33
j    37
f    41
dtype: int64

In [51]:
# sort by absolute value AND keep original values?

# pass kwarg of "key" to sort_index or sort_values

# value for "key" arg is a function
# function is invoked on each element, used for sorting purposes only
# we dont see its outputs

s.sort_values(key=abs)

b    -3
a    -6
c    14
i   -14
d    17
e    17
h   -29
g    33
j    37
f   -41
dtype: int64

a     6
b     3
c    14
d    17
e    17
f    41
g    33
h    29
i    14
j    37
dtype: int64