In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
s = Series([16, 17, 18, 18, 17, 17, 17, 18, 16, 17],
           index=list('abcdefghij'))
s

a    16
b    17
c    18
d    18
e    17
f    17
g    17
h    18
i    16
j    17
dtype: int64

In [3]:
s.index = list('abcdefg')

In [7]:
s

a    16
b    17
c    18
d    18
e    17
f    17
g    17
h    18
i    16
j    17
dtype: int64

In [8]:
s.reset_index()
s

a    16
b    17
c    18
d    18
e    17
f    17
g    17
h    18
i    16
j    17
dtype: int64

In [11]:
s = Series([16, 17, 18, 18, 17, 17, 17, 18, 16, 17],
           index='0531 0601 0602 0603 0604 0605 0606 0607 0608 0609'.split())
s

0531    16
0601    17
0602    18
0603    18
0604    17
0605    17
0606    17
0607    18
0608    16
0609    17
dtype: int64

In [12]:
s.reset_index()

  index   0
0  0531  16
1  0601  17
2  0602  18
3  0603  18
4  0604  17
5  0605  17
6  0606  17
7  0607  18
8  0608  16
9  0609  17

In [16]:
(
    s
    .reset_indiex()
    .loc[s.index =='0602')]))]
)

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (1312161664.py, line 4)