In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [46]:
highTemps = Series([16, 19, 22, 20, 21, 20, 21, 19, 18, 20],
                  index=['3105', '0106', '0206', '0306', '0406', '0506', '0606', '0706', '0806', '0906'])

highTemps

3105    16
0106    19
0206    22
0306    20
0406    21
0506    20
0606    21
0706    19
0806    18
0906    20
dtype: int64

In [19]:
highTemps.reset_index()

  index   0
0  3105  16
1  0106  19
2  0206  22
3  0306  20
4  0406  21
5  0506  20
6  0606  21
7  0706  19
8  0806  18
9  0906  20

In [50]:
(
    highTemps
    .loc[ (highTemps.index == '0206') | (highTemps.index == '0506') ]
    .reset_index()
)

  index   0
0  0206  22
1  0506  20

In [49]:
(
    highTemps
    .loc[ (highTemps.index.isin(['0206','0506'])) ]
    .reset_index()
)

  index   0
0  0206  22
1  0506  20

In [55]:
(
    highTemps
    .reset_index()
    .set_index('index')
)

        0
index
3105   16
0106   19
0206   22
0306   20
0406   21
0506   20
0606   21
0706   19
0806   18
0906   20

In [68]:
highTemps.loc[ highTemps[0] > highTemps[0].mean() ]

   level_0 index   0
2        2  0206  22
3        3  0306  20
4        4  0406  21
5        5  0506  20
6        6  0606  21
9        9  0906  20

In [79]:
s = Series([10, 20, 30],
          dtype='int16')
s.dtype

dtype('int16')

In [116]:
s = Series(np.random.randint(1, 1000, 10), index=['a','b','c','d','e','f','g','h','i','j'], dtype='int8')
s * 1000

NameError: name 'int8' is not defined

In [115]:
s = Series(np.random.randint(1, 1000, 10), index=['a','b','c','d','e','f','g','h','i','j'], dtype=np.float64)
s

a    687.0
b    983.0
c    912.0
d    147.0
e    575.0
f    124.0
g    228.0
h    830.0
i    323.0
j     77.0
dtype: float64