In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [6]:
s * 2

0     20
1     40
2     60
3     80
4    100
dtype: int8

In [27]:
s + 128 # promotes

0    138
1    148
2    158
3    168
4    178
dtype: int16

In [34]:
# create DF
df = DataFrame([[10,20,30],
                [40,50,60],
                [70,80,90],
                [100,110,120]])
df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

In [70]:
df = DataFrame([[10,20,30],
                [40,50,60],
                [70,80,90],
                [100,110,120]],
              index=list('abcd'),
              columns=list('xyz'))
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [44]:
df.columns

Index(['x', 'y', 'z'], dtype='object')

In [51]:
df.loc['c']

x    70
y    80
z    90
Name: c, dtype: int64

In [53]:
df.loc[['a','c']]

    x   y   z
a  10  20  30
c  70  80  90

In [54]:
# to retrieve columns, don't use .loc
df['x']

a     10
b     40
c     70
d    100
Name: x, dtype: int64

In [55]:
df['x'].mean()

55.0

In [56]:
df.mean()

x    55.0
y    65.0
z    75.0
dtype: float64

In [57]:
df.sum()

x    220
y    260
z    300
dtype: int64

In [58]:
df.sum().sum()

780

In [61]:
df.min()

x    10
y    20
z    30
dtype: int64

In [62]:
df['x'].describe()

count      4.000000
mean      55.000000
std       38.729833
min       10.000000
25%       32.500000
50%       55.000000
75%       77.500000
max      100.000000
Name: x, dtype: float64

In [65]:
df.describe()

                x           y           z
count    4.000000    4.000000    4.000000
mean    55.000000   65.000000   75.000000
std     38.729833   38.729833   38.729833
min     10.000000   20.000000   30.000000
25%     32.500000   42.500000   52.500000
50%     55.000000   65.000000   75.000000
75%     77.500000   87.500000   97.500000
max    100.000000  110.000000  120.000000

In [66]:
df.mean(axis='columns')

a     20.0
b     50.0
c     80.0
d    110.0
dtype: float64

In [71]:
df['n'] = 'hello to you all'.split()
df

     x    y    z      n
a   10   20   30  hello
b   40   50   60     to
c   70   80   90    you
d  100  110  120    all

In [74]:
df = DataFrame([[10,20,30],
                [40,50,60],
                [70,80,90],
                [100,110,120]],
              index='Mon Tues Wed Thurs Fri'.split(),
              columns='high low'.split())
df

ValueError: Length of values (4) does not match length of index (5)