In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
s = Series([10,20,30,40,50])

In [11]:
# retrieve elements using booleans
s.loc[[True, True, True, False, False]]

0    10
1    20
2    30
dtype: int64

In [14]:
# broadcasting +3 to each element of s
s + 3

0    13
1    23
2    33
3    43
4    53
dtype: int64

In [15]:
# broadcasting a comparison operator
s > 30

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [18]:
# mask index; typically the same variable is inside and outside
s.loc[ s>30 ]

3    40
4    50
dtype: int64

In [25]:
# show all elements where s is greater than s's mean
s.loc[ s>s.mean() ]

3    40
4    50
dtype: int64

In [31]:
# Exercise : Find Extreme Temps
highSeries = Series([16, 21, 20, 20, 19, 20, 20, 19, 20, 20])
lowSeries = Series([10, 12, 11, 9, 8, 10, 11, 12, 12, 12])

19.5

In [30]:
# 1. find high > mean
highSeries.loc[ highSeries > highSeries.mean() ]

1    21
2    20
3    20
5    20
6    20
8    20
9    20
dtype: int64

In [45]:
# 2. find low > mean
lowSeries.loc[ lowSeries < lowSeries.mean() ]

0    10
3     9
4     8
5    10
dtype: int64

In [41]:
# 3. any highs greater than mean +1 std
highSeries.loc[ highSeries > highSeries.mean() + highSeries.std() ]

1    21
dtype: int64

In [51]:
diffSeries = highSeries - lowSeries
diffSeries.loc[ diffSeries > diffSeries.median() ]

3    11
4    11
5    10
dtype: int64

In [57]:
# combine conditionals

np.random.seed(0)
s = Series(np.random.randint(0, 1000, 10),
           index=list('abcdefghij'))

s%2

a    0
b    1
c    1
d    0
e    1
f    1
g    1
h    1
i    1
j    1
dtype: int64

In [60]:
s.loc[s%2==1]

b    559
c    629
e    835
f    763
g    707
h    359
i      9
j    723
dtype: int64

In [62]:
np.random.seed(0)
s = Series(np.random.randint(0, 1000, 20),
           index=list('abcdefghijklmnopqrst'))

a    684
b    559
c    629
d    192
e    835
f    763
g    707
h    359
i      9
j    723
k    277
l    754
m    804
n    599
o     70
p    472
q    600
r    396
s    314
t    705
dtype: int64

In [74]:
# 2. < mean - 1 std
s.loc[ s < s.mean() - s.std() ]

d    192
i      9
o     70
dtype: int64

In [75]:
# 3. > mean + 1 std
s.loc[ s > s.mean() + s.std() ]

e    835
m    804
dtype: int64

In [76]:
# 4. all valutes that are either < mean - 1std OR > mean + 1 std
s.loc[ (s < s.mean() - s.std()) | (s > s.mean() + s.std()) ]

d    192
e    835
i      9
m    804
o     70
dtype: int64

In [94]:
# 5. every number > mean
s.loc[ (s%2==0) & (s > s.mean()) ]

a    684
l    754
m    804
q    600
dtype: int64

In [96]:
filename = '../data/taxi.csv' # load 10k taxi rides
df = pd.read_csv(filename)

In [98]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [101]:
df['trip_distance'].mean()

3.1585108510851083