In [5]:
import pandas as pd
pd.__version__

'2.2.2'

In [12]:
filename = "../data/taxi.csv"
df = pd.read_csv(filename)
df.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.0,0.0,0.3,8.3

In [13]:
df['trip_distance']

0       1.63
1       0.46
2       0.87
3       2.13
4       1.40
        ...
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: trip_distance, Length: 9999, dtype: float64

In [24]:
df['trip_distance'].describe()

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: trip_distance, dtype: float64

In [44]:
df['to

9989    1.34
9990    6.07
9991    1.48
9992    6.37
9993    4.10
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: trip_distance, dtype: float64

In [49]:
firstFive = df['total_amount'].head(5)
firstFive.mean()

12.912

In [54]:
firstFive.median()

11.0

In [69]:
increase = ((firstFive.mean() - firstFive.median()) / firstFive.median()) * 100
print(f"Mean is {str(round(increase,2))}% greater than the median")

Mean is 17.38% greater than the median