In [5]:
import pandas as pd
pd.__version__

'2.2.2'

In [12]:
filename = "../data/taxi.csv"
df = pd.read_csv(filename)
df.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.0,0.0,0.3,8.3

In [13]:
df['trip_distance']

0       1.63
1       0.46
2       0.87
3       2.13
4       1.40
        ...
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: trip_distance, Length: 9999, dtype: float64

In [24]:
df['trip_distance'].describe()

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: trip_distance, dtype: float64

In [70]:
df['total_amount'].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [49]:
firstFive = df['total_amount'].head(5)
firstFive.mean()

12.912

In [54]:
firstFive.median()

11.0

In [69]:
increase = ((firstFive.mean() - firstFive.median()) / firstFive.median()) * 100
print(f"Mean is {str(round(increase,2))}% greater than the median")

Mean is 17.38% greater than the median

In [78]:
df[ ['trip_distance', 'total_amount'] ].describe()

       trip_distance  total_amount
count    9999.000000   9999.000000
mean        3.158511     17.552472
std         4.037516     15.137990
min         0.000000     -7.800000
25%         1.000000      8.800000
50%         1.700000     12.800000
75%         3.300000     19.800000
max        64.600000    252.350000

In [85]:
df.loc[ [100, 101] ]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
100,1,2015-06-02 11:20:46,2015-06-02 11:25:36,1,0.70,-73.945610,40.778805,1,N,-73.955750,40.779701,2,5.0,0.0,0.5,0.0,0.0,0.3,5.8
101,2,2015-06-02 11:20:46,2015-06-02 11:59:33,1,3.46,-73.986557,40.761761,1,N,-74.003464,40.722359,1,23.5,0.0,0.5,3.5,0.0,0.3,27.8

In [86]:
df[ ['trip_distance', 'total_amount', 'passenger_count'] ].describe()

       trip_distance  total_amount  passenger_count
count    9999.000000   9999.000000      9999.000000
mean        3.158511     17.552472         1.659466
std         4.037516     15.137990         1.333306
min         0.000000     -7.800000         0.000000
25%         1.000000      8.800000         1.000000
50%         1.700000     12.800000         1.000000
75%         3.300000     19.800000         2.000000
max        64.600000    252.350000         6.000000

In [95]:
(
    df
    [ ['trip_distance', 'total_amount', 'passenger_count'] ]
    .head(5)
    .describe()
)

       trip_distance  total_amount  passenger_count
count        5.00000      5.000000              5.0
mean         1.29800     12.912000              1.0
std          0.65159      4.292053              0.0
min          0.46000      8.300000              1.0
25%          0.87000     10.300000              1.0
50%          1.40000     11.000000              1.0
75%          1.63000     17.160000              1.0
max          2.13000     17.800000              1.0