In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [6]:
s * 2

0     20
1     40
2     60
3     80
4    100
dtype: int8

In [27]:
s + 128 # promotes

0    138
1    148
2    158
3    168
4    178
dtype: int16

In [34]:
# create DF
df = DataFrame([[10,20,30],
                [40,50,60],
                [70,80,90],
                [100,110,120]])
df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

In [41]:
df = DataFrame([[10,20,30],
                [40,50,60],
                [70,80,90],
                [100,110,120]],
              index=list('abcd'),
              columns=list('xyz'))
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [44]:
df.columns

Index(['x', 'y', 'z'], dtype='object')

In [51]:
df.loc['c']

x    70
y    80
z    90
Name: c, dtype: int64

In [53]:
df.loc[['a','c']]

    x   y   z
a  10  20  30
c  70  80  90

In [54]:
# to retrieve columns, don't use .loc
df['x']

a     10
b     40
c     70
d    100
Name: x, dtype: int64