In [5]:
import pandas as pd

filename = '../data/taxi.csv'

df = pd.read_csv(filename)

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [10]:
df = pd.read_csv(filename,
                 usecols=['tpep_pickup_datetime',
                          'passenger_count',
                          'trip_distance'],
                 index_col='tpep_pickup_datetime')
                         
df.loc['2015-06-01 00:12:59']

                      passenger_count  trip_distance
tpep_pickup_datetime
2015-06-01 00:12:59                 1           0.18
2015-06-01 00:12:59                 1           4.10
2015-06-01 00:12:59                 1           0.70
2015-06-01 00:12:59                 1           2.89
2015-06-01 00:12:59                 1           2.70
2015-06-01 00:12:59                 1           4.50

In [12]:
filename = '../data/airlines.dat'
df = pd.read_csv(filename,
                usecols=[1,3,5,6])
df

,1,Private flight,\N,-,N/A,Unnamed: 5,Unnamed: 6,Y
0,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
1,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
2,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
3,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N
4,6,223 Flight Unit State Airline,\N,NaN,CHD,CHKALOVSK-AVIA,Russia,N
...,...,...,...,...,...,...,...,...
6042,19828,Vuela Cuba,Vuela Cuba,6C,6CC,NaN,Cuba,Y
6043,19830,All Australia,All Australia,88,8K8,NaN,Australia,Y
6044,19831,Fly Europa,NaN,ER,RWW,NaN,Spain,Y
6045,19834,FlyPortugal,NaN,PO,FPT,FlyPortugal,Portugal,Y
6046,19845,FTI Fluggesellschaft,NaN,NaN,FTI,NaN,Germany,N