In [2]:
import pandas as pd
from pandas import Series, DataFrame

# create a data frame with a list of lists
# each inner list describes a row in the data frame

In [3]:

df = DataFrame([[13, 17],
                [10, 18],
                [11, 16],
                [12, 18],
                [11, 19],
                [12, 19]
               ])
df

    0   1
0  13  17
1  10  18
2  11  16
3  12  18
4  11  19
5  12  19