In [1]:
import pandas as pd

filename = '../data/taxi.csv'
df = pd.read_csv(filename)

In [2]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [3]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [4]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [7]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [21]:
filename = '../data/chicago,il.csv'
df = pd.read_csv(filename)
df.head(20)

,date_time,"chicago,il_maxtempC","chicago,il_mintempC","chicago,il_totalSnow_cm","chicago,il_sunHour","chicago,il_uvIndex","chicago,il_uvIndex.1","chicago,il_moon_illumination","chicago,il_moonrise","chicago,il_moonset",...,"chicago,il_WindChillC","chicago,il_WindGustKmph","chicago,il_cloudcover","chicago,il_humidity","chicago,il_precipMM","chicago,il_pressure","chicago,il_tempC","chicago,il_visibility","chicago,il_winddirDegree","chicago,il_windspeedKmph"
0,2018-12-11 00:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-7,33,0,76,0.0,1021,-1,10,231,22
1,2018-12-11 03:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-6,33,0,80,0.0,1021,-1,10,243,21
2,2018-12-11 06:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-8,28,5,83,0.0,1020,-2,10,240,19
3,2018-12-11 09:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,-6,23,15,77,0.0,1019,-1,10,262,16
4,2018-12-11 12:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,-1,8,19,71,0.0,1018,1,10,271,6
5,2018-12-11 15:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,0,5,17,70,0.0,1018,1,10,30,4
6,2018-12-11 18:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-3,17,35,80,0.0,1019,0,10,80,10
7,2018-12-11 21:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,...,-5,22,22,84,0.0,1018,0,10,118,13
8,2018-12-12 00:00:00,3,-1,0.0,8.7,2,0,29,11:02 AM,09:20 PM,...,-4,25,55,83,0.0,1016,0,10,131,13
9,2018-12-12 03:00:00,3,-1,0.0,8.7,2,0,29,11:02 AM,09:20 PM,...,-4,36,79,82,0.0,1013,1,10,144,20
10,2018-12-12 06:00:00,3,-1,0.0,8.7,2,0,29,11:02 AM,09:20 PM,...,-4,44,15,87,0.0,1010,1,10,157,24
11,2018-12-12 09:00:00,3,-1,0.0,8.7,2,2,29,11:02 AM,09:20 PM,...,-3,40,49,87,0.0,1009,2,10,184,24
12,2018-12-12 12:00:00,3,-1,0.0,8.7,2,2,29,11:02 AM,09:20 PM,...,-1,31,54,71,0.0,1008,3,10,227,19
13,2018-12-12 15:00:00,3,-1,0.0,8.7,2,2,29,11:02 AM,09:20 PM,...,-3,31,5,65,0.0,1010,2,10,256,21
14,2018-12-12 18:00:00,3,-1,0.0,8.7,2,0,29,11:02 AM,09:20 PM,...,-4,19,77,69,0.0,1013,0,10,274,13
15,2018-12-12 21:00:00,3,-1,0.0,8.7,2,0,29,11:02 AM,09:20 PM,...,-5,21,17,72,0.0,1015,-1,10,263,14
16,2018-12-13 00:00:00,3,-1,0.0,8.7,2,0,36,11:33 AM,10:18 PM,...,-1,7,8,77,0.0,1016,-1,10,262,5
17,2018-12-13 03:00:00,3,-1,0.0,8.7,2,0,36,11:33 AM,10:18 PM,...,0,5,3,76,0.0,1018,-1,10,227,4
18,2018-12-13 06:00:00,3,-1,0.0,8.7,2,0,36,11:33 AM,10:18 PM,...,-3,11,34,78,0.0,1020,-1,10,149,7
19,2018-12-13 09:00:00,3,-1,0.0,8.7,2,2,36,11:33 AM,10:18 PM,...,-3,16,28,75,0.0,1020,0,10,139,10

In [9]:
df.memory_usage(deep=True).sum()

332220

In [10]:
df = pd.read_csv(filename,
                 parse_dates=['date_time'])

In [11]:
df.memory_usage(deep=True).sum()

288540

In [12]:
df['date_time'].dt.is_quarter_end

0      False
1      False
2      False
3      False
4      False
       ...
723    False
724    False
725    False
726    False
727    False
Name: date_time, Length: 728, dtype: bool

In [13]:
df.loc[
    df['date_time'].dt.hour == 9
]

,date_time,"chicago,il_maxtempC","chicago,il_mintempC","chicago,il_totalSnow_cm","chicago,il_sunHour","chicago,il_uvIndex","chicago,il_uvIndex.1","chicago,il_moon_illumination","chicago,il_moonrise","chicago,il_moonset",...,"chicago,il_WindChillC","chicago,il_WindGustKmph","chicago,il_cloudcover","chicago,il_humidity","chicago,il_precipMM","chicago,il_pressure","chicago,il_tempC","chicago,il_visibility","chicago,il_winddirDegree","chicago,il_windspeedKmph"
3,2018-12-11 09:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,...,-6,23,15,77,0.0,1019,-1,10,262,16
11,2018-12-12 09:00:00,3,-1,0.0,8.7,2,2,29,11:02 AM,09:20 PM,...,-3,40,49,87,0.0,1009,2,10,184,24
19,2018-12-13 09:00:00,3,-1,0.0,8.7,2,2,36,11:33 AM,10:18 PM,...,-3,16,28,75,0.0,1020,0,10,139,10
27,2018-12-14 09:00:00,3,2,0.0,5.2,1,1,43,12:02 PM,11:17 PM,...,-1,24,100,97,0.0,1022,3,10,10,14
35,2018-12-15 09:00:00,4,1,0.0,6.9,2,2,51,12:28 PM,No moonset,...,-2,30,36,77,0.0,1023,2,10,46,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2019-03-07 09:00:00,-3,-7,0.0,4.2,2,2,3,07:05 AM,06:51 PM,...,-10,10,75,67,0.0,1030,-6,10,116,8
699,2019-03-08 09:00:00,2,-4,0.0,7.2,2,1,10,07:31 AM,07:51 PM,...,-5,10,61,78,0.0,1024,-2,10,99,7
707,2019-03-09 09:00:00,3,-4,0.0,5.7,2,2,17,07:56 AM,08:52 PM,...,-4,31,35,77,0.0,1016,1,10,117,20
715,2019-03-10 09:00:00,3,-1,0.0,4.3,1,1,24,08:23 AM,09:54 PM,...,-3,39,99,77,0.1,1009,2,10,263,26
723,2019-03-11 09:00:00,3,-2,0.0,8.7,2,1,32,08:53 AM,10:57 PM,...,-6,19,59,61,0.0,1029,-2,10,297,14

In [19]:
df.loc[
    df['date_time'].dt.hour == 9,
    ['chicago,il_maxtempC','chicago,il_mintempC']
].describe()

       chicago,il_maxtempC  chicago,il_mintempC
count            91.000000            91.000000
mean             -0.736264            -5.076923
std               6.158707             6.286194
min             -25.000000           -28.000000
25%              -3.000000            -8.000000
50%               0.000000            -4.000000
75%               3.000000            -1.000000
max               9.000000             6.000000

In [39]:
filename = '../data/taxi.csv'

df = pd.read_csv(filename,
                 parse_dates=['tpep_pickup_datetime',
                              'tpep_dropoff_datetime']
                )

In [40]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [41]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [43]:
df.groupby(df['tpep_pickup_datetime'].dt.hour)['trip_distance'].mean()

tpep_pickup_datetime
0     4.312809
11    2.661199
15    2.986285
16    2.852166
Name: trip_distance, dtype: float64

In [44]:
df.groupby(df['tpep_pickup_datetime'].dt.hour)['total_amount'].sum()

tpep_pickup_datetime
0     46176.82
11    72894.89
15    47059.46
16     9376.00
Name: total_amount, dtype: float64