In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s = Series([35,37,38,62,62])
s

0    35
1    37
2    38
3    62
4    62
dtype: int64

In [4]:
s = Series([35,37,38,62,62],dtype='uint8')
s

0    35
1    37
2    38
3    62
4    62
dtype: int8

In [6]:
s = Series([35.1,37.3,38.6,62.9,62.7],dtype='float64')
s*365*24*60*60

0    1.106914e+09
1    1.176293e+09
2    1.217290e+09
3    1.983614e+09
4    1.977307e+09
dtype: float64

In [9]:
s = Series([35,37,38,62,62],dtype='int8')
s*365*24*60*60

0     2688
1    29056
2   -23296
3    30976
4    30976
dtype: int16