In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
filename = '../data/winemag-150k-reviews.csv'
df = pd.read_csv(filename)

In [4]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [6]:
df.shape

(150930, 11)

In [7]:
df.dtypes

Unnamed: 0       int64
country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [9]:
df['country'].str.len()

0         2.0
1         5.0
2         2.0
3         2.0
4         6.0
         ...
150925    5.0
150926    6.0
150927    5.0
150928    6.0
150929    5.0
Name: country, Length: 150930, dtype: float64

In [21]:
nrEle = df['description'].str.len()

In [28]:
df[nrEle>=nrEle.quantile(0.75)]['points'].mean()

90.02646323819545

In [31]:
df.loc[nrEle<=nrEle.quantile(0.25),'points'].mean()

85.838828701523

In [32]:
df['description'].str.split()

0         [This, tremendous, 100%, varietal, wine, hails...
1         [Ripe, aromas, of, fig,, blackberry, and, cass...
2         [Mac, Watson, honors, the, memory, of, a, wine...
3         [This, spent, 20, months, in, 30%, new, French...
4         [This, is, the, top, wine, from, La, Bégude,, ...
                                ...
150925    [Many, people, feel, Fiano, represents, southe...
150926    [Offers, an, intriguing, nose, with, ginger,, ...
150927    [This, classic, example, comes, from, a, cru, ...
150928    [A, perfect, salmon, shade,, with, scents, of,...
150929    [More, Pinot, Grigios, should, taste, like, th...
Name: description, Length: 150930, dtype: object

In [33]:
df['description'].str.get(5)

0         t
1         a
2         a
3         s
4         i
         ..
150925    p
150926    s
150927    c
150928    f
150929    P
Name: description, Length: 150930, dtype: object

In [36]:
df['description'].str.split().str.get(0).value_counts()

description
This           25499
A              19389
The             7694
Here's          2970
An              2128
               ...
Symmetry           1
Nanfrè             1
Villalta's         1
Pineapples,        1
Oreo               1
Name: count, Length: 6988, dtype: int64

In [37]:
# let's say we want to find rows where the country contains "j"

(
    df
    .dropna(subset='country')
    .loc[   
        df.dropna(subset='country')['country'].str.contains('b')  
    ]
)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
2523,2523,Lebanon,"Deep ruby in color, with aromas of black cherr...",Altitudes,91,20.0,Lebanon,NaN,NaN,Red Blend,Ixsir
2616,2616,Serbia,This white wine from Serbia has aromas of cara...,NaN,87,26.0,Pocerina,NaN,NaN,Morava,Milijan Jelić
2664,2664,Serbia,"White flowers, eucalyptus and a slight whiff o...",Margus Margi,89,20.0,Župa,NaN,NaN,Riesling,Budimir
2666,2666,Serbia,A blend of 60% Prokupac and 40% Cabernet Sauvi...,Sub Rosa,89,40.0,Župa,NaN,NaN,Red Blend,Budimir
2841,2841,Serbia,A blend of 60% Prokupac and 40% Cabernet Sauvi...,Sub Rosa,89,40.0,Župa,NaN,NaN,Red Blend,Budimir
...,...,...,...,...,...,...,...,...,...,...,...
126992,126992,Lebanon,"Simple, solid aromas of cherry, cinnamon and s...",Hochar Père et Fils,83,25.0,Bekaa Valley,NaN,NaN,Red Blend,Château Musar
127344,127344,Lebanon,This white blend from Lebanon has a nose of al...,Gaston Hochar,81,38.0,Bekaa Valley,NaN,NaN,White Blend,Château Musar
134565,134565,Luxembourg,"Starts with aromas of minerals, pear and apple...",Domaine et Tradition Machtum Hohfels,88,50.0,Moselle Luxembourgeoise,NaN,NaN,Pinot Gris,Mme Aly Duhr et Fils
137278,137278,Luxembourg,"Offers aromas of honey, almond and white fruit...",Ahn Hohfels Grand Premier Cru,87,36.0,Moselle Luxembourgeoise,NaN,NaN,Pinot Gris,Mme Aly Duhr et Fils
137890,137890,Luxembourg,A fresh but flirty nose of fresh white flowers...,Mertert Herrenberg Grand Premier Cru,86,36.0,Moselle Luxembourgeoise,NaN,NaN,Riesling,Mme Aly Duhr et Fils

In [38]:
# improve this with method chaining
# plus some use of lambda (anonymous function)

(
    df
    .dropna(subset='country')
    .loc[   
        lambda df_: df_['country'].str.contains('b')  # here, our use of lambda (anonymous function) and df_ means -- use what we got in the chain
    ]
)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
2523,2523,Lebanon,"Deep ruby in color, with aromas of black cherr...",Altitudes,91,20.0,Lebanon,NaN,NaN,Red Blend,Ixsir
2616,2616,Serbia,This white wine from Serbia has aromas of cara...,NaN,87,26.0,Pocerina,NaN,NaN,Morava,Milijan Jelić
2664,2664,Serbia,"White flowers, eucalyptus and a slight whiff o...",Margus Margi,89,20.0,Župa,NaN,NaN,Riesling,Budimir
2666,2666,Serbia,A blend of 60% Prokupac and 40% Cabernet Sauvi...,Sub Rosa,89,40.0,Župa,NaN,NaN,Red Blend,Budimir
2841,2841,Serbia,A blend of 60% Prokupac and 40% Cabernet Sauvi...,Sub Rosa,89,40.0,Župa,NaN,NaN,Red Blend,Budimir
...,...,...,...,...,...,...,...,...,...,...,...
126992,126992,Lebanon,"Simple, solid aromas of cherry, cinnamon and s...",Hochar Père et Fils,83,25.0,Bekaa Valley,NaN,NaN,Red Blend,Château Musar
127344,127344,Lebanon,This white blend from Lebanon has a nose of al...,Gaston Hochar,81,38.0,Bekaa Valley,NaN,NaN,White Blend,Château Musar
134565,134565,Luxembourg,"Starts with aromas of minerals, pear and apple...",Domaine et Tradition Machtum Hohfels,88,50.0,Moselle Luxembourgeoise,NaN,NaN,Pinot Gris,Mme Aly Duhr et Fils
137278,137278,Luxembourg,"Offers aromas of honey, almond and white fruit...",Ahn Hohfels Grand Premier Cru,87,36.0,Moselle Luxembourgeoise,NaN,NaN,Pinot Gris,Mme Aly Duhr et Fils
137890,137890,Luxembourg,A fresh but flirty nose of fresh white flowers...,Mertert Herrenberg Grand Premier Cru,86,36.0,Moselle Luxembourgeoise,NaN,NaN,Riesling,Mme Aly Duhr et Fils

In [40]:
s = Series('10 20 30 hello 40 50'.split())
s

0       10
1       20
2       30
3    hello
4       40
5       50
dtype: object

In [43]:
# I want to turn this series into a series of integers
# what happens if I run .astype(int) on this?

s.astype(int)

ValueError: invalid literal for int() with base 10: 'hello'

In [41]:
s.loc[s.str.isdigit()]

0    10
1    20
2    30
4    40
5    50
dtype: object

In [39]:
s.loc[s.str.isdigit()]

NameError: name 's' is not defined

In [42]:
s.loc[s.str.isdigit()].astype(int)

0    10
1    20
2    30
4    40
5    50
dtype: int64

In [46]:
df.loc[df['description'].str.contains('strawberry|melon')].shape

(8763, 11)

In [47]:
df.locdf['description'].str.len().mean()

AttributeError: 'DataFrame' object has no attribute 'locdf'