In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
np.random.seed(0)
s = Series(np.random.randint(-50,50,10),
           index=list('acegihfjdb'))
s

a    -6
c    -3
e    14
g    17
i    17
h   -41
f    33
j   -29
d   -14
b    37
dtype: int64

In [5]:
s.loc['e']

14

In [6]:
s.loc[['e','a']]

e    14
a    -6
dtype: int64

In [7]:
s.loc['e':'h']

e    14
g    17
i    17
h   -41
dtype: int64

In [8]:
(
    s
    .sort_index()
    .head()
    .loc[['b','d']]
)

b    37
d   -14
dtype: int64

In [10]:
np.random.seed(0)
s = Series(np.random.randint(-50,50,10),
           index=list('aceaihbjdb'))
s

a    -6
c    -3
e    14
a    17
i    17
h   -41
b    33
j   -29
d   -14
b    37
dtype: int64

In [23]:
f = Series([35,37,38,62,63,48,44],
           index = 'Raman Rawa Rawen Mama Papa Aunt Uncle'.split()
          )
f

Raman    35
Rawa     37
Rawen    38
Mama     62
Papa     63
Aunt     48
Uncle    44
dtype: int64

In [13]:
(
    f
    .sort_index()
    .head(3)
    .mean()
)

57.666666666666664

In [14]:
f.sort_index()

Aunt     48
Mama     62
Papa     63
Raman    35
Rawa     37
Rawen    38
Uncle    44
dtype: int64

In [32]:
(
    f
    .sort_values()
    .head(1)
)

Raman    35
dtype: int64

In [16]:
(
    f
    .sort_values()
    .tail(1)
)

Papa    63
dtype: int64

In [25]:
(
    f
    .sort_values()
    .iloc[[0,-1]]
)

Raman    35
Papa     63
dtype: int64

In [27]:
(
    f
    .sort_values()
    .iloc[[0,-1]]
    .index
    .values
)

array(['Raman', 'Papa'], dtype=object)

In [29]:
(
    f
    .agg(['idxmin','idxmax'])
)

idxmin    Raman
idxmax     Papa
dtype: object

In [31]:
f.sort_values(ascending=False)

Papa     63
Mama     62
Aunt     48
Uncle    44
Rawen    38
Rawa     37
Raman    35
dtype: int64

In [37]:
np.random.seed(0)

s = Series(np.random.randint(-50,50,10),
           index = list('abcdefghij')
          )

s

a    -6
b    -3
c    14
d    17
e    17
f   -41
g    33
h   -29
i   -14
j    37
dtype: int64

In [39]:
url = 'https://gist.githubusercontent.com/reuven/77edbb0292901f35019f17edb9794358/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json'

df = pd.read_json(url)

In [40]:
df.set_index('city')

,growth_from_2000_to_2013,latitude,longitude,population,rank,state
city,,,,,,
New York,4.8%,40.712784,-74.005941,8405837,1,New York
Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania
...,...,...,...,...,...,...
Weslaco,28.8%,26.159519,-97.990837,37093,996,Texas
Keizer,14.4%,44.990119,-123.026208,37064,997,Oregon
Spanish Fork,78.1%,40.114955,-111.654923,36956,998,Utah
Beloit,2.9%,42.508348,-89.031776,36888,999,Wisconsin
Panama City,0.1%,30.158813,-85.660206,36877,1000,Florida

In [54]:

df2 = (
    df
    .value_counts()
    .sort_index()
    .head(20)
)

In [65]:
df2 = DataFrame(df2)
df2

                                                                                               count
city              growth_from_2000_to_2013 latitude  longitude   population rank state
Abilene           3.6%                     32.448736 -99.733144  120099     221  Texas             1
Addison           2.6%                     41.931696 -87.988956  37385      986  Illinois          1
Akron             -8.6%                    41.081445 -81.519005  198100     116  Ohio              1
Alameda           5.4%                     37.765206 -122.241636 76419      435  California        1
Albany            -0.6%                    31.578507 -84.155741  76185      436  Georgia           1
                  25.5%                    44.636511 -123.105928 51583      714  Oregon            1
                  4.1%                     42.652579 -73.756232  98424      299  New York          1
Albuquerque       23.5%                    35.085334 -106.605553 556495     32   New Mexico        1
Alexandria        15.0%                    38.804836 -77.046921  148892     165  Virginia          1
                  4.1%                     31.311294 -92.445137  48426      775  Louisiana         1
Alhambra          -0.7%                    34.095287 -118.127015 84577      372  California        1
Aliso Viejo       25.4%                    33.567684 -117.725608 50175      741  California        1
Allen             104.0%                   33.103174 -96.670550  92020      328  Texas             1
Allentown         11.2%                    40.608430 -75.490183  118577     224  Pennsylvania      1
Alpharetta        33.6%                    34.075376 -84.294090  62298      560  Georgia           1
Altamonte Springs 2.0%                     28.661109 -81.365624  42150      873  Florida           1
Altoona           -7.3%                    40.518681 -78.394736  45796      812  Pennsylvania      1
Amarillo          12.8%                    35.221997 -101.831297 196429     120  Texas             1
Ames              21.3%                    42.034722 -93.620000  61792      568  Iowa              1
Anaheim           4.7%                     33.835293 -117.914504 345012     56   California        1

In [69]:
df2['population']

KeyError: 'population'