import pandas as pd

filename= '../data/taxi.csv'
bobdata = pd.read_csv(filename)

In [3]:
bobdata.shape

(9999, 19)

In [4]:
bobdata.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [5]:
bobdata.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30

In [7]:
bobdata['trip_distance']

0       1.63
1       0.46
2       0.87
3       2.13
4       1.40
        ...
9994    2.70
9995    4.50
9996    5.59
9997    1.54
9998    5.80
Name: trip_distance, Length: 9999, dtype: float64

In [12]:
print(bobdata['trip_distance'].mean())
print(bobdata['trip_distance'].median())
bobdata['trip_distance'].describe()

3.1585108510851083
1.7

count    9999.000000
mean        3.158511
std         4.037516
min         0.000000
25%         1.000000
50%         1.700000
75%         3.300000
max        64.600000
Name: trip_distance, dtype: float64

In [14]:
bobdata['total_amount'].head(5).mean()

12.912

In [15]:
bobdata['total_amount'].describe()

count    9999.000000
mean       17.552472
std        15.137990
min        -7.800000
25%         8.800000
50%        12.800000
75%        19.800000
max       252.350000
Name: total_amount, dtype: float64

In [17]:
bobdata[['total_amount','trip_distance']].describe()

       total_amount  trip_distance
count   9999.000000    9999.000000
mean      17.552472       3.158511
std       15.137990       4.037516
min       -7.800000       0.000000
25%        8.800000       1.000000
50%       12.800000       1.700000
75%       19.800000       3.300000
max      252.350000      64.600000

In [19]:
bobdata[['total_amount','trip_distance']].corr()

               total_amount  trip_distance
total_amount       1.000000       0.880843
trip_distance      0.880843       1.000000

In [22]:
bobdata.loc[500]

VendorID                                   1
tpep_pickup_datetime     2015-06-02 11:21:02
tpep_dropoff_datetime    2015-06-02 11:25:26
passenger_count                            1
trip_distance                            1.6
pickup_longitude                  -73.983727
pickup_latitude                    40.695988
RateCodeID                                 1
store_and_fwd_flag                         N
dropoff_longitude                 -73.997627
dropoff_latitude                   40.716908
payment_type                               1
fare_amount                              7.5
extra                                    0.0
mta_tax                                  0.5
tip_amount                               2.0
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                            10.3
Name: 500, dtype: object

In [28]:
bobdata[['total_amount','trip_distance','passenger_count']].describe()

       total_amount  trip_distance  passenger_count
count   9999.000000    9999.000000      9999.000000
mean      17.552472       3.158511         1.659466
std       15.137990       4.037516         1.333306
min       -7.800000       0.000000         0.000000
25%        8.800000       1.000000         1.000000
50%       12.800000       1.700000         1.000000
75%       19.800000       3.300000         2.000000
max      252.350000      64.600000         6.000000

In [29]:
bobdata.head(5)[['total_amount','trip_distance','passenger_count']].describe()

       total_amount  trip_distance  passenger_count
count      5.000000        5.00000              5.0
mean      12.912000        1.29800              1.0
std        4.292053        0.65159              0.0
min        8.300000        0.46000              1.0
25%       10.300000        0.87000              1.0
50%       11.000000        1.40000              1.0
75%       17.160000        1.63000              1.0
max       17.800000        2.13000              1.0

In [30]:
(
    bobdata.head(5)
    [['total_amount','trip_distance','passenger_count']]
    .describe()

)

       total_amount  trip_distance  passenger_count
count      5.000000        5.00000              5.0
mean      12.912000        1.29800              1.0
std        4.292053        0.65159              0.0
min        8.300000        0.46000              1.0
25%       10.300000        0.87000              1.0
50%       11.000000        1.40000              1.0
75%       17.160000        1.63000              1.0
max       17.800000        2.13000              1.0