# Agenda

1. Fun with promotions
2. Data frames
    - What are they?
    - How can we create simple ones by hand?
    - How do we retrieve from them?
3. Reading from CSV files
    - Some basic options
    - - Things to watch out for
4. Retrieving with `.loc` -- ways to think about it
5. How to avoid a common Pandas warning / error

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [4]:
2 ** 8

256

In [5]:
s * 2

0     20
1     40
2     60
3     80
4    100
dtype: int8

In [6]:
s * 10  # here, we multiply by 10 and the numbers "roll over" -- because int8 isn't big enough for some solutions

0    100
1    -56
2     44
3   -112
4    -12
dtype: int8

In [8]:
s * 200   # will this have similar problems?  no!

0     2000
1     4000
2     6000
3     8000
4    10000
dtype: int16

In [20]:
# somewhere along the line, Pandas decided to "promote" the series from int8 to int16, thus saving the day

# Pandas looks at the number by which we're mulitplying  -- if it fits into the current dtype, then it keeps the dtype
# and performs the operation.  But if the number is too big for the current dtype, then it promotes the series when it calculates.

In [21]:
s + 126

0   -120
1   -110
2   -100
3    -90
4    -80
dtype: int8

In [22]:
s + 127

0   -119
1   -109
2    -99
3    -89
4    -79
dtype: int8

In [23]:
s + 128

0    138
1    148
2    158
3    168
4    178
dtype: int16

# Data frames

A data frame is a 2D table with rows and columns:

- Each row is identified by an index
- Each column is identified by a name, or a column name

Each column is basically a Pandas series. So anything that you can do on a series, you can do on a column.

- Because each column is a series, we continue to use the index to identify each element.
- All of teh series (columns) in a data frame share an index
- When we retrieve a column, it's a series, like usual.
- When we retrieve a row, Pandas creates a new series on the fly
- Every column has a dtype, whereas rows are a combination of whatever dtypes are in their columns, and are often "object" columns

In [24]:
# create a data frame with a list of lists
# each inner list describes a row in the data frame

df = DataFrame([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90],
               [100, 110, 120]])
df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

In [25]:
# by default, the rows and columns are both numbered starting at 0. That's technically fine,
# but in real life you'll want to identify them with names or numbers. We can do that by 
# passing the "index" keyword argument, and also the "columns" keyword argument.

df = DataFrame([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90],
               [100, 110, 120]],
              index=list('abcd'),
              columns=list('xyz'))
df

     x    y    z
a   10   20   30
b   40   50   60
c   70   80   90
d  100  110  120

In [26]:
# we can retrieve the index, just as we did with a series
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [27]:
# how do we retrieve the column names? Just use the "columns" attribute
df.columns

Index(['x', 'y', 'z'], dtype='object')

In [28]:
# how can I retrieve a row from my data frame?
# use .loc, just as we did with a series

df.loc['c']

x    70
y    80
z    90
Name: c, dtype: int64

In [ ]:
# with a series, we can retrieve more than one object at a time with fancxy