## Agenda: Indexing and dtypes

1. Indexes
   - Setting
   - Resetting
2. inplace=True
3. dtypes

In [2]:
import numpy as np
import pandas as pd #if Pandas isn't yet imported, do so -- and give it the alias "pd"
from pandas import Series, DataFrame # if Pandas isn't yet imported, do so -- and define Series + DataFrame

In [3]:
s = Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
s.index = list('abcde')
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
# what happens if I don't want this index any more?
# what happens if I want the default index?

s.reset_index()

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [7]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64